---
description: "In the lesson “More Verbs of Motion: “to drag” and “to roll”” you will continue learning additional verbs of motion their meanings and use. You will learn the verbs that mean &quot;to drag&quot; and &quot;to roll&quot; and their forms."
keywords: "verbs of motion, words, grammar, imperfective, perfective, learn, russian, drag, roll, Pre-Intermediate, B1"
title: "More Verbs of Motion: “to drag” and “to roll”. — LearnRussian Lessons"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
					
						<li class="active"><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<script src="/s/js/pages/lessons.js?n"></script>
			<div id="homework-69" class="homework">
				   				    <div class="breadcrumb"><a class="underline" href="/lessons/lessons-66-70/">Lessons</a> /</div>

		            <div class="lesson">
						<div class="llesson">
							<p>69.</p>
						</div>
						<div class="rlesson">
							<p class="completed">0% completed</p>
						</div>
						<div class="clesson">
							<h1>More Verbs of Motion: “to drag” and “to roll”.</h1>
							<p class="vertwenty">Я устал тащить сумки!</p>
							<div class="r-star-shape">
								<div class="cn tl"></div>
									<div class="cn tr"></div>								
									<div class="conten">
										<div class="conten cr">											
											<p>In this lesson you will continue learning more verbs of motion.</p>
											<p>For example:</p>
											<p><strong>Она катит коляску по улице</strong>.</p>
											<p><strong>Он тащит ребёнка из магазина</strong>.</p>
										</div>
									</div>									
								<div class="cn bl"></div>
								<div class="cn br"></div>
							</div>
							
						</div>
					</div>					
				
<div class="topbar">
<div class="up">
    <form>
        <ul>
            <li class="skeyb">
				<span class="small-keyboard">&nbsp;</span>
            </li>
            <li class="isearch">
				<input type="text" value="look up a word">
			</li>
			<li>
				<a class="underline" href="/vocabulary/lesson-66-70/">Open vocabulary for lessons 66–70</a>
			</li>            
        </ul>
		<div class="intellisense">
            <div>Hello</div>
            <div>world</div>
        </div>
    </form>
</div>
<div class="down"></div>
</div>















































	
	
<div class="task learning  typsecond" id="task-1" hash="88d7a7e205d2811e883677ac08f9806f">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">таскаешь</span>
			
				<span class="draggable">тащить</span>
			
				<span class="draggable">тащишь</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 1. Слушайте и закончите диалог.</h2>
		<p>Task 1. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson69/1.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson69/audio/69.1.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
			<p>
				<strong>Парень</strong>: Куда ты меня <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>?
			</p>
			<p>
				<strong>Девушка</strong>: Пойдём быстрее, там распродажа!
			</p>
			<p>
				<strong>Парень</strong>: О, нет! Можно я здесь в кафе посижу?
			</p>
			<p>
				<strong>Девушка</strong>: А кто мне будет помогать? А кто сумки потом будет <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>? Я сама?
			</p>
			<p>
				<strong>Парень</strong>: Слушай, ты <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> меня по магазинам уже четыре часа, я чувствую себя грузчиком с этими пакетами.
			</p>
			<p>
				<strong>Девушка</strong>: Ах, так! Ты меня не любишь!
			</p>
			<p>
				<strong>Парень</strong>: Ладно, ладно. Но только не более часа. Мне надо встретиться с коллегой.
			</p>
			<p>
				<strong>Девушка</strong>: Так всегда. На меня у тебя времени нет, а на коллегу есть.
			</p>		
    </div>
</div>
<div class="task learning  typsecond" id="task-2" hash="1c2be5ce1beb70a245669e9c9f81d106">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">катаю</span>
			
				<span class="draggable">катаешь</span>
			
				<span class="draggable">катать</span>
			
				<span class="draggable">катаешь</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 2. Слушайте и закончите диалог.</h2>
		<p>Task 2. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson69/2.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson69/audio/69.2.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p>— Послушай, почему ты <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> коляску по улице, а не в парке?</p>
		<p>— Потому что если ребёнок проснётся, я сразу пойду домой.</p>
		<p>— А где твоя жена?</p>
		<p>— Она на работе.</p>
		<p>— И ты каждый день <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> ребёнка?</p>— Не только <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, ещё и готовлю есть. Я сейчас без работы, домохозяин.
		<p>— А давай пойдём, попьём пива.</p>
		<p>— Не могу, мне ещё двадцать минут <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> его, а потом домой — надо ужин готовить.</p>
		<p>— Да… Как меняется жизнь.</p>
    </div>
</div>
<div class="taskg nocheck minitasktable">
    <div class="ltask">
        <img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
    </div>
    <div class="ctask minitasktable" style="width: 850px;">
        <h1>Verbs of Motion “тащить/таскать”, “катить/катать”</h1>
        <p>Short <a class="underline tlinks" href="/grammar-tables/verbs-motion-tashhit-taskat-katit-katat/" target="_blank">Full</a></p>
	<div class="gtabs">		<div class="tab selected" id="tab_1" style="width: 135px;">
			<div class="l"></div>
			<div class="c">
				<div class="cc" onclick="gtab_select('tab_1');">
					тащить/таскать
				</div>
			</div>
			<div class="r"></div>		</div>		<div class="tab" id="tab_2" style="width: 125px;">
			<div class="l"></div>
			<div class="c">
				<div class="cc" onclick="gtab_select('tab_2');">
					катить/катать
				</div>
			</div>
			<div class="r"></div>		</div>	</div>

        <div class="nocheck gtab selected" id="gtab_1">
			
<div class="gallery" id="gal0">
	<div class="ltengal">
		<a href="javascript:" class="l str"></a>
	</div>
	<div class="rtengal">
		<a href="javascript:" class="r str"></a>
	</div>
	<div class="bgal">			
		<ul>				<li><img src="/s/content/lesson69/g1/1/1.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson69/g1/1/2.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson69/g1/1/3.png" alt="Learn Russian"></li>		</ul>			
	</div>	
</div>
        </div>
        <div class="nocheck gtab" id="gtab_2">
            
<div class="gallery" id="gal1">
	<div class="ltengal">
		<a href="javascript:" class="l str"></a>
	</div>
	<div class="rtengal">
		<a href="javascript:" class="r str"></a>
	</div>
	<div class="bgal">			
		<ul>				<li><img src="/s/content/lesson69/g1/2/1.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson69/g1/2/2.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson69/g1/2/3.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson69/g1/2/4.png" alt="Learn Russian"></li>		</ul>			
	</div>	
</div>
        </div>
		
    </div>
</div>
<div class="task learning  typfour" id="task-3" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask long">
        	<div>
		<h2>Задание 3. Выберите нужный глагол и напишите его в правильной форме.</h2>
		<p>Task 3. Complete the sentences with the correct verbs in the correct forms.</p>
	</div>

        <form>
			<p style="text-decoration:underline">Example:</p>
			<p>Когда я была маленькой, родители <strong>катали</strong> меня на санках зимой. А теперь я <strong>катаю</strong> их на машине. (<span class="red">катать/катить</span>)</p>
            <ol>
				<li>Женщина <input type="text" size="5" answer="тащит" class="if_learning"><span class="if_correct">тащит</span> тяжёлые сумки домой. (<span class="red">тащить/таскать</span>)</li>
				<li>Мальчик любит <input type="text" size="6" answer="катать" class="if_learning"><span class="if_correct">катать</span> младшую сестру на велосипеде. (<span class="red">катить/катать</span>)</li>
				<li>Грузчик каждый день <input type="text" size="7" answer="таскает" class="if_learning"><span class="if_correct">таскает</span> ящики. (<span class="red">тащить/таскать</span>)</li>
				<li>Я вчера видел, как ты <input type="text" size="5" answer="катил" class="if_learning"><span class="if_correct">катил</span> колёса из гаража. (<span class="red">катить/катать</span>)</li>
				<li>Тебе нельзя <input type="text" size="7" answer="таскать" class="if_learning"><span class="if_correct">таскать</span> такие сумки. Давай я тебе помогу. (<span class="red">тащить/таскать</span>)</li>
				<li>Почему ты всегда <input type="text" size="8" answer="таскаешь" class="if_learning"><span class="if_correct">таскаешь</span> эту энциклопедию? Она очень тяжёлая. (<span class="red">тащить/таскать</span>)</li>
				<li>Маленькие дети любят <input type="text" size="6" answer="катать" class="if_learning"><span class="if_correct">катать</span> игрушечные машины. (<span class="red">катить/катать</span>)</li>
				<li>Куда ты <input type="text" size="6" answer="катишь" class="if_learning"><span class="if_correct">катишь</span> это колесо? – Я <input type="text" size="4" answer="качу" class="if_learning"><span class="if_correct">качу</span> его в гараж. (<span class="red">катить/катать</span>)</li>
				<li>У меня болит спина. Я вчера <input type="text" size="6" answer="таскал" class="if_learning"><span class="if_correct">таскал</span> ящики на даче. (<span class="red">тащить/таскать</span>)</li>
				<li>Раньше мой брат всегда <input type="text" size="5" answer="катал" class="if_learning"><span class="if_correct">катал</span> меня на мотоцикле. (<span class="red">катить/катать</span>)</li>
            </ol>
        </form>
    </div>
</div>

<div class="task learning  typthird" id="task-4" hash="d389c4aaf774eea0e5906aa8829a44c0">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 4. Выберите фразы, которые подходят к картинкам.</h2>
		<p>Task 4. Click the phrases that should go together with the pictures.</p>
	</div>
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
		<li>5</li>
	
		<li>6</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<img src="/s/content/lesson69/4_1.png" alt="LR" class="imgtabmar">	
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он тащит вещи</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он тащит машину зубами</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">Он тащит ребёнка из магазина</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<img src="/s/content/lesson69/4_2.png" alt="LR" class="imgtabmar">	
			<div class="clears"></div>			
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">Она катит коляску по улице</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Она катит обруч</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Она катает машинку</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<img src="/s/content/lesson69/4_3.png" alt="LR" class="imgtabmar">	
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он тащит ребёнка из магазина</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">Он тащит вещи</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он тащит машину зубами</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-4">
				
							<img src="/s/content/lesson69/4_4.png" alt="LR" class="imgtabmar">
			<div class="clears"></div>			
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">Он тащит машину зубами</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он тащит ребёнка из магазина</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он тащит вещи</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-5">
				
							<img src="/s/content/lesson69/4_5.png" alt="LR" class="imgtabmar">
			<div class="clears"></div>			
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Они катают коляску по улице</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Они катят машинки</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">Они катают машинки</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-6">
				
							<img src="/s/content/lesson69/4_6.png" alt="LR" class="imgtabmar">
			<div class="clears"></div>			
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он катит машинку</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">Он катит обруч</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Он катает ребёнка</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
<div class="task learning  seventeen" id="task-5" hash="d693b1beb59730146c1d9aff41f8de31">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask long">
        <h2>Задание 5. Закончите диалоги, расставьте правильные глаголы.</h2>
        <p>Task 5. Complete the dialogues with the correct verbs.</p>		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
		<li>5</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<img src="/s/content/lesson69/5_1.png" alt="LR">
			<div class="clears"></div>
			<div class="ltext">	
				<p>— Помоги мне, пожалуйста.</p>
				<p>— А куда ты <span class="droppable if_learning">...........</span><span class="if_correct">тащишь</span> эти чемоданы?</p>
				<p>— Мне надо положить их в машину.</p>
				<p>— Много чемоданов нужно <span class="droppable if_learning">...........</span><span class="if_correct">тащить</span>?</p>
				<p>— Нет, только эти.</p>
			</div>
			<div class="textalign">
	
		<p class="limit draggable if_learning">тащить</p>
	
		<p class="limit draggable if_learning">тащишь</p>
	
</div>
			</div>
		
			<div class="tab-2">
				
							<img src="/s/content/lesson69/5_2.png" alt="LR">
			<div class="clears"></div>
			<div class="ltext">
				<p>— Почему ты <span class="droppable if_learning">...........</span><span class="if_correct">таскаешь</span> эти словари с собой? Они ведь очень тяжёлые.</p>
				<p>— Потому что они мне всегда нужны. Я читаю их везде. Мне никогда не тяжело их <span class="droppable if_learning">...........</span><span class="if_correct">таскать</span>.</p>
			</div>
			<div class="textalign">
	
		<p class="limit draggable if_learning">таскать</p>
	
		<p class="limit draggable if_learning">таскаешь</p>
	
</div>
			</div>
		
			<div class="tab-3">
				
							<img src="/s/content/lesson69/5_3.png" alt="LR">
			<div class="clears"></div>
			<div class="ltext">
				<p>— Смотри, какую большую бочку он <span class="droppable if_learning">...........</span><span class="if_correct">катит</span>!</p>
				<p>— Он грузчик, он <span class="droppable if_learning">...........</span><span class="if_correct">катает</span> такие бочки каждый день. В магазин из машины, из магазина в машину. Я давно смотрю за ним.</p>
			</div>
			<div class="textalign">
	
		<p class="limit draggable if_learning">катит</p>
	
		<p class="limit draggable if_learning">катает</p>
	
</div>
			</div>
		
			<div class="tab-4">
				
							<img src="/s/content/lesson69/5_4.png" alt="LR">
			<div class="clears"></div>
			<div class="ltext">
				<p>— Папа, смотри! Другой папа <span class="droppable if_learning">...........</span><span class="if_correct">катает</span> сына на велосипеде! А почему ты не <span class="droppable if_learning">...........</span><span class="if_correct">катаешь</span> меня?</p>
				<p>— Сынок, у нас нет велосипеда. Но если ты хочешь, я буду <span class="droppable if_learning">...........</span><span class="if_correct">катать</span> тебя на моём мотоцикле.</p>
				<p>— Хочу!</p>
			</div>
			<div class="textalign">
	
		<p class="limit draggable if_learning">катает</p>
	
		<p class="limit draggable if_learning">катать</p>
	
		<p class="limit draggable if_learning">катаешь</p>
	
</div>
			</div>
		
			<div class="tab-5">
				
							<img src="/s/content/lesson69/5_5.png" alt="LR">
			<div class="clears"></div>
			<div class="ltext">
				<p>— Привет! Куда ты <span class="droppable if_learning">...........</span><span class="if_correct">тащишь</span> эту коробку?</p>
				<p>— Привет! Я <span class="droppable if_learning">...........</span><span class="if_correct">тащу</span> её в гараж.</p>
				<p>— А что в ней?</p>
				<p>— Я купил два колеса, вот они, в коробке.</p>
				<p>— Если там колёса, почему ты не <span class="droppable if_learning">...........</span><span class="if_correct">катишь</span> их?</p>
				<p>— А как?</p>
				<p>— Давай, помогу.</p>
			</div>
			<div class="textalign">
	
		<p class="limit draggable if_learning">тащу</p>
	
		<p class="limit draggable if_learning">тащишь</p>
	
		<p class="limit draggable if_learning">катишь</p>
	
</div>
			</div>
		
	</content>
</tabcontrol>
    </div>
</div>



			</div>
						
		

<div class="lessoncomplected" style="display: none">
	<p>
		<a class="underline" href="/lessons/more-verbs-of-motion-to-carry/">← Lesson 68</a>
		<a class="underline" href="/lessons/verbs-of-motion-figurative-meanings/">Lesson 70 →</a>
	</p>				
</div>

<div class="lessoncomplected popup">
	<div class="close"></div>
	<p>
		<a class="underline" href="/lessons/more-verbs-of-motion-to-carry/">← Lesson 68</a>
		<a class="underline" href="/lessons/verbs-of-motion-figurative-meanings/">Lesson 70 →</a>
	</p>				
</div>
                <div class="barkeybord">
                    <div class="linekeyb"></div>
                    <div class="dlinekeyb">
                        <div class="keybord">
                            <div class="output"></div>
                            <p>"Caps Lock" is on</p>
                            <div class="clears"></div>
                            <ul>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ё</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">1</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">2</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">3</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">4</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">5</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">6</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">7</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">8</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">9</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">0</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="backspace">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgbackspace">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">й</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ц</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">у</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">к</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">е</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">н</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">г</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ш</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">щ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">з</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">х</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ъ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition fleft">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ф</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ы</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">в</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">а</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">п</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">р</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">о</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">л</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">д</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ж</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">э</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">я</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ч</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">с</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">м</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">и</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">т</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ь</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">б</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ю</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">.</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition gap">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">&nbsp;</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				
				
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>