---
description: "Start with the basics. The Russian alphabet voiced by a professional presenter. Each letter is accompanied with a picture to ease the learning process."
title: "Alphabet — LearnRussian"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
								
						<li><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
					
						<li class="active"><span>Alphabet</span></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
								<script src="/s/js/pages/player-pages.js"></script>
				<div class="aplhabet" style="padding-bottom:150px;">
					<h1>Russian Alphabet</h1>
					<div class="breadcrumb"><a href="/alphabet/the-history-of-the-cyrillic-alphabet/" class="underline">The History of the Cyrillic Alphabet</a> <a href="/alphabet/" class="underline active">Practice</a></div>
					<div class="letter playerstwo lineone ">
						<img class="angel" src="/s/content/alphabet/angel.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/1.A.mp3"><div class="plpau"></div><span class="letred big">А</span><span class="b acute">´</span>нгел</div>
					</div>
					<div class="letter playerstwo">
						<img class="butterfly" src="/s/content/alphabet/butterfly.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/2.B.mp3"><div class="plpau"></div><span class="blue big">Б</span>а<span class="acute">´</span>бочка</div>
					</div>
					<div class="letter playerstwo">
						<img class="fan" src="/s/content/alphabet/fan.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/3.V.mp3"><div class="plpau"></div><span class="blue big">В</span>е<span class="acute">´</span>ер</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="globe" src="/s/content/alphabet/globe.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/4.G.mp3"><div class="plpau"></div><span class="blue big">Г</span>ло<span class="acute">´</span>бус</div>
					</div>
					<div class="letter playerstwo">
						<img class="house" src="/s/content/alphabet/house.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/5.D.mp3"><div class="plpau"></div><span class="blue big">Д</span>ом</div>
					</div>
					<div class="letter playerstwo">
						<img class="euro" src="/s/content/alphabet/euro.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/6.E.mp3"><div class="plpau"></div><span class="letred big">Е</span><span class="b acute">´</span>вро</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo ">
						<img class="fur-tree" src="/s/content/alphabet/fur-tree.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/7.Yo.mp3"><div class="plpau"></div><span class="letred big">Ё</span>лка</div>
					</div>
					<div class="letter playerstwo">
						<img class="bug" src="/s/content/alphabet/bug.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/8.Zh.mp3"><div class="plpau"></div><span class="blue big">Ж</span>ук</div>
					</div>
					<div class="letter playerstwo">
						<img class="umbrella" src="/s/content/alphabet/umbrella.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/9.Z.mp3"><div class="plpau"></div><span class="blue big">З</span>онт</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="iris" src="/s/content/alphabet/iris.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/10.I.mp3"><div class="plpau"></div><span class="letred big">И</span><span class="b acute">´</span>рис</div>
					</div>
					<div class="letter playerstwo">
						<img class="yoghurt" src="/s/content/alphabet/yoghurt.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/11.J.mp3"><div class="plpau"></div><span class="blue big">Й</span>о<span class="acute">´</span>гурт</div>
					</div>
					<div class="letter playerstwo">
						<img class="cat" src="/s/content/alphabet/cat.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/12.K.mp3"><div class="plpau"></div><span class="blue big">К</span>от</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="lemon" src="/s/content/alphabet/lemon.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/13.L.mp3"><div class="plpau"></div><span class="blue big">Л</span>имо<span class="acute">´</span>н</div>
					</div>
					<div class="letter playerstwo">
						<img class="ice-cream" src="/s/content/alphabet/ice-cream.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/14.M.mp3"><div class="plpau"></div><span class="blue big">М</span>оро<span class="acute">´</span>женое</div>
					</div>
					<div class="letter playerstwo">
						<img class="knife" src="/s/content/alphabet/knife.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/15.N.mp3"><div class="plpau"></div><span class="blue big">Н</span>ож</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="island" src="/s/content/alphabet/island.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/16.O.mp3"><div class="plpau"></div><span class="letred big">О</span><span class="b acute">´</span>стров</div>
					</div>
					<div class="letter playerstwo">
						<img class="passport" src="/s/content/alphabet/passport.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/17.P.mp3"><div class="plpau"></div><span class="blue big">П</span>а<span class="acute">´</span>спорт</div>
					</div>
					<div class="letter playerstwo">
						<img class="rainbow" src="/s/content/alphabet/rainbow.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/18.R.mp3"><div class="plpau"></div><span class="blue big">Р</span>а<span class="acute">´</span>дуга</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="plane" src="/s/content/alphabet/plane.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/19.S.mp3"><div class="plpau"></div><span class="blue big">С</span>амолёт</div>
					</div>
					<div class="letter playerstwo">
						<img class="pie" src="/s/content/alphabet/pie.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/20.T.mp3"><div class="plpau"></div><span class="blue big">Т</span>орт</div>
					</div>
					<div class="letter playerstwo">
						<img class="duck" src="/s/content/alphabet/duck.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/21.U.mp3"><div class="plpau"></div><span class="letred big">У</span><span class="b acute">´</span>тка</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="flag" src="/s/content/alphabet/flag.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/22.F.mp3"><div class="plpau"></div><span class="blue big">Ф</span>лаг</div>
					</div>
					<div class="letter playerstwo">
						<img class="bread" src="/s/content/alphabet/bread.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/23.H.mp3"><div class="plpau"></div><span class="blue big">Х</span>леб</div>
					</div>
					<div class="letter playerstwo">
						<img class="chain" src="/s/content/alphabet/chain.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/24.C.mp3"><div class="plpau"></div><span class="blue big">Ц</span>епь</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="cup" src="/s/content/alphabet/cup.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/25.Ch.mp3"><div class="plpau"></div><span class="blue big">Ч</span>а<span class="acute">´</span>шка</div>
					</div>
					<div class="letter playerstwo">
						<img class="chocolate" src="/s/content/alphabet/chocolate.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/26.Sh.mp3"><div class="plpau"></div><span class="blue big">Ш</span>окола<span class="acute">´</span>д</div>
					</div>
					<div class="letter playerstwo">
						<img class="board" src="/s/content/alphabet/board.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/27.Shh.mp3"><div class="plpau"></div><span class="blue big">Щ</span>ит</div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="objective" src="/s/content/alphabet/objective.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/28.Hard-sign.mp3"><div class="plpau"></div><span class="big">О</span>б<span class="green">ъ</span>екти<span class="acute">´</span>в</div>
					</div>
					<div class="letter playerstwo">
						<img class="fish" src="/s/content/alphabet/fish.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/29.Y.mp3"><div class="plpau"></div><span class="big">Р</span><span class="letred">ы</span><span class="acute">´</span>ба</div>
					</div>
					<div class="letter playerstwo">
						<img class="stub" src="/s/content/alphabet/stub.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/30.Soft-sign.mp3"><div class="plpau"></div><span class="big">П</span>ен<span class="green">ь</span></div>
					</div>
					<div class="clears"></div>
					<div class="letter playerstwo">
						<img class="elf" src="/s/content/alphabet/elf.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/31.Eh.mp3"><div class="plpau"></div><span class="letred big">Э</span>льф</div>
					</div>
					<div class="letter playerstwo">
						<img class="jupiter" src="/s/content/alphabet/jupiter.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/32.Yu.mp3"><div class="plpau"></div><span class="letred big">Ю</span>пи<span class="nb acute">´</span>тер</div>
					</div>
					<div class="letter playerstwo">
						<img class="apple" src="/s/content/alphabet/apple.png" alt="Learn_Russian">
						<div class="playtwo" audio="/s/content/alphabet/audio/33.Ya.mp3"><div class="plpau"></div><span class="letred big">Я<span class="b acute">´</span></span>блоко</div>
					</div>
				<div class="clears"></div>
				</div>
				<!--<div class="clears"></div>-->
				<div class="soc_links" style="margin-top: -125px;">
					<ul>
						<li class="facebook">
							<div id="fb-root" style="display: none"></div>
								<script>(function(d, s, id) {
								  var js, fjs = d.getElementsByTagName(s)[0];
								  if (d.getElementById(id)) return;
								  js = d.createElement(s); js.id = id;
								  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
								  fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));</script>
								<div class="fb-like" data-href="/alphabet/" data-send="false" data-layout="button_count" data-show-faces="false"></div>							
						</li>
						<li class="twitter">
							<script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
							<div>
								<a href="http://twitter.com/share" class="twitter-share-button" data-url="/alphabet/">Tweet</a>
							</div>
						</li>
					</ul>
				</div>
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>