---
---
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="google-site-verification" content="VQLbsaWKiXW2-Vt4lP7MevnhMES537NO4fQjfGgLcbI">
	<meta name="description" content="In the lesson “Topics: Transport. Part 2” you will continue studying the topic “Transport”.">
	<meta property="og:image" content="/s/content/logo.png">
	<meta name="keywords" content="topics, grammar, russian, learn, Pre-Intermediate, B1, words, vocabulary, transport, constructions">
    <title>Topics: Transport. Part 2. — LearnRussian Lessons</title>
	<link href="/s/css/style.css?v14" rel="stylesheet" type="text/css">
	<link href="/s/css/lessons.css?v13" rel="stylesheet" type="text/css">
	<link href="/s/css/typtask.css?v15" rel="stylesheet" type="text/css">
	<link href="/s/css/custom_control.css?v4" rel="stylesheet" type="text/css">
	<!--[if IE 7]> 
		<link href="/s/css/ieonly7.css?v6" rel="stylesheet" type="text/css">
	<![endif]--> 

	<script src="/s/js/libs.js"></script>
	<script src="/s/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/s/js/custom_control.js?d"></script>
	<script src="/s/js/learn_russian.js?p"></script>
</head>
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
					
						<li class="active"><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<script src="/s/js/pages/lessons.js?n"></script>
			<div id="homework-91" class="homework">
				   				    <div class="breadcrumb"><a class="underline" href="/lessons/lessons-91-95/">Lessons</a> /</div>

		            <div class="lesson">
						<div class="llesson">
							<p>91.</p>
						</div>
						<div class="rlesson">
							<p class="completed">0% completed</p>
						</div>
						<div class="clesson">
							<h1>Topics: Transport. Part 2.</h1>
							<p class="vertwenty">Внимание! Осуществил посадку рейс номер 1497 Сочи—Москва!</p>
							<div class="r-star-shape">
								<div class="cn tl"></div>
									<div class="cn tr"></div>								
									<div class="conten">
										<div class="conten cr">											
											<p>In this lesson you will continue studying the topic “Transport”.</p>
											<p><strong>Наш поезд прибывает в Москву в 8.15 утра</strong>.</p>
											<p><strong>Мы прилетаем из Токио завтра вечером</strong>.</p>
											<p><strong>Давай быстрее</strong>! <strong>Наша электричка отходит через пять минут</strong>, <strong>а мы ещё не нашли наш вагон</strong>!</p>
										</div>
									</div>									
								<div class="cn bl"></div>
								<div class="cn br"></div>
							</div>
							
						</div>
					</div>					
				
<div class="topbar">
<div class="up">
    <form>
        <ul>
            <li class="skeyb">
				<span class="small-keyboard">&nbsp;</span>
            </li>
            <li class="isearch">
				<input type="text" value="look up a word">
			</li>
			<li>
				<a class="underline" href="/vocabulary/lesson-91-95/">Open vocabulary for lessons 91–95</a>
			</li>            
        </ul>
		<div class="intellisense">
            <div>Hello</div>
            <div>world</div>
        </div>
    </form>
</div>
<div class="down"></div>
</div>















































		
<div class="task learning  typsecond" id="task-1" hash="4d663a10349e6490649d644e68638f34">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">поехать</span>
			
				<span class="draggable">ходят</span>
			
				<span class="draggable">доехать</span>
			
				<span class="draggable">улетает</span>
			
				<span class="draggable">доехать</span>
			
				<span class="draggable">поехать</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 1. Слушайте и закончите  диалог.</h2>
		<p>Task 1. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson91/1.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson91/audio/91.1.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
        <p>
            <strong>Карл</strong>: Оля, слушай, как я могу <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> до аэропорта?
        </p>
        <p>
            <strong>Ольга</strong>: На такси.
        </p>
        <p>
            <strong>Карл</strong>: Нет, я хочу как все русские.
        </p>
        <p>
            <strong>Ольга</strong>: Ну, тогда ты можешь <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> на метро, а потом на маршрутке.
        </p>
        <p>
            <strong>Карл</strong>: А что такое маршрутка?
        </p>
        <p>
            <strong>Ольга</strong>: Это маленький автобус. На нём есть номер маршрута, по которому он идёт.
        </p>
        <p>
            <strong>Карл</strong>: Боюсь, это трудно для меня. Есть ещё варианты?
        </p>
        <p>
            <strong>Ольга</strong>: Конечно! Ты можешь <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> до аэропорта от вокзала на специальной электричке. Она идёт без остановок.
        </p>
        <p>
            <strong>Карл</strong>: С какого вокзала?
        </p>
        <p>
            <strong>Ольга</strong>: Если тебе нужно в Шереметьево, то с Белорусского вокзала; если во Внуково, то с Киевского; а если в Домодедово, то с Павелецкого вокзала.
        </p>
        <p>
             <strong>Карл</strong>: У меня самолёт <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> из Домодедово. Это значит, что мне нужен Павелецкий вокзал. Это станция метро «Павелецкая»?
         </p>
         <p>
             <strong>Ольга</strong>: Да, ты прав. Обычно электрички <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> через каждые полчаса. И свой багаж ты можешь сдать там же.
         </p>
         <p>
             <strong>Карл</strong>: Ладно. Попробую <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> на электричке, ведь в Москве всегда пробки, и боюсь, что на такси я не успею.
         </p>
         <p>
             <strong>Ольга</strong>: Удачи.
         </p> 
    </div>
</div>			
<div class="task learning  typthird" id="task-2" hash="5414db2895e362c8168eea78d7deeb50">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 2. Тест.</h2>
		<p>Task 2. Click the correct answer.</p>
	</div>
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">Маршрутка — это …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>карта маршрута</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">маршрутное такси, маленький автобус</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>женщина, показывающая маршрут</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">В аэропорт Шереметьево можно уехать с … вокзала.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Павелецкого</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>Киевского</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">Белорусского</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<p class="twentybold">Ехать на такси в аэропорт неудобно, потому что …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">это долго</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>это глупо</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>такси не ездят в аэропорт</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
<div class="task learning  typsecond" id="task-3" hash="b9770a8b08cb7c05975e1584f59334c0">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">полки</span>
			
				<span class="draggable">прибытия</span>
			
				<span class="draggable">сдачи</span>
			
				<span class="draggable">купе</span>
			
				<span class="draggable">плацкарте</span>
			
				<span class="draggable">купе</span>
			
				<span class="draggable">паспорта</span>
			
				<span class="draggable">отправления</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 3. Слушайте и закончите  диалог.</h2>
		<p>Task 3. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson91/3.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson91/audio/91.2.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
        <p><strong>Турист</strong>: Два билета в Петербург на пятницу, 25 мая, вечер.</p>
        <p><strong>Кассир</strong>: Дорогие билеты смотреть?</p>
        <p><strong>Турист</strong>: Лучше дешёвые.</p>
        <p><strong>Кассир</strong>: Дешёвые только в <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
        <p><strong>Турист</strong>: А что это?</p>
        <p><strong>Кассир</strong>: Плацкарт — это общий вагон, где есть места сбоку. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> — это отдельные кабины на четырёх человек. Есть ещё СВ — спальный вагон, это <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> на двоих.</p>
        <p><strong>Турист</strong>: Э-э-э... Посмотрите, пожалуйста, тогда купе.</p>
        <p><strong>Кассир</strong>: Есть места в купе, нижняя и верхняя <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Один билет — 1600 рублей.</p>
        <p><strong>Турист</strong>: Места в одном купе?</p>
        <p><strong>Кассир</strong>: Да. Будете брать?</p>
        <p><strong>Турист</strong>: А время?</p>
        <p><strong>Кассир</strong>: Двадцать три пятьдесят пять.</p>
        <p><strong>Турист</strong>: Хорошо.</p>
        <p><strong>Кассир</strong>: Ваши <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, пожалуйста. Итак, два билета в Санкт-Петербург на двадцать пятое мая, время <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> — двадцать три часа пятьдесят пять минут. Время <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> — семь утра. С вас три тысячи двести рублей. Если можно, без <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
        <p><strong>Турист</strong>: Извините?</p>
        <p><strong>Кассир</strong>: Если можно, дайте мне ровно три тысячи двести рублей.</p>
        <p><strong>Турист</strong>: Да, вот.</p>
        <p><strong>Кассир</strong>: Ваши билеты.</p>
        <p><strong>Турист</strong>: Спасибо.</p>
    </div>
</div>
<div class="task learning  typsecond" id="task-4" hash="bb8961f53db74ecdf2f23bc1bd6402e4">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">документы</span>
			
				<span class="draggable">отделении</span>
			
				<span class="draggable">квитанция</span>
			
				<span class="draggable">скорость</span>
			
				<span class="draggable">штраф</span>
			
				<span class="draggable">правила</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 4. Слушайте и закончите  диалог.</h2>
		<p>Task 4. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson91/4.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson91/audio/91.3.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p>
			<strong>Сержант</strong>: Добрый день. Сержант Петров. Ваши <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.
		</p>
		<p>
			<strong>Водитель</strong>: Вот, пожалуйста. А что случилось?
		</p>
		<p>
			<strong>Сержант</strong>: Вы, господин Адамсон, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> нарушили.
		</p>
		<p>
			<strong>Водитель</strong>: Какие правила?
		</p>
		<p>
			<strong>Сержант</strong>: Превысили <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Здесь разрешённая скорость шестьдесят километров в час. А вы ехали со скоростью сто километров в час.
		</p>
		<p>
			<strong>Водитель</strong>: Не может быть!
		</p>
		<p>
			<strong>Сержант</strong>: Пойдёмте, посмотрим. У нас всё записано.
		</p>
		<p>
			<strong>Водитель</strong>: И что мне делать?
		</p>
		<p>
			<strong>Сержант</strong>: Я выпишу <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, вот <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Вы можете оплатить его в любом <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> банка. Счастливого пути.
		</p>
		<p>
			<strong>Водитель</strong>: Спасибо.
		</p>
    </div>
</div>
			<div class="task nocheck minitasktable">
				<div class="ltask">
					<img src="/s/css/lessons/topics.png" alt="Learn_Russian">
				</div>
				<div class="ctask" style="width:842px;">
					<h1>Topics: Transport</h1>
					<p>Short <a class="underline tlinks" href="/topics/transport/" target="_blank">Full</a></p>
					<img class="margtop20" src="/s/content/lesson91/minitables/1.png" alt="LR">
				</div>
			</div>
<div class="task learning  typthird" id="task-5" hash="bd8fc232f3308ac734f7ca643f78d3fc">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 5.  Какие глаголы сочетаются с этими существительными? Может быть несколько правильных ответов.</h2>
		<p>Task 5. Click the verbs that go together with these nouns. Several correct answers are possible.</p>
	</div>
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">Поезд</p> 
			
<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p class="answer">прибывает</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p>прилетает</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p class="answer">приходит</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p>приземляется</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">Самолёт</p> 
			
<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p>прибывает</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p class="answer">прилетает</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p>приходит</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall stopnext">
    <div class="bordersmalleft">
        <p class="answer">приземляется</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
<div class="task learning  typsecond" id="task-6" hash="323cf7028d85e992eaae7ac31be2999d">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">приехали</span>
			
				<span class="draggable">приходит</span>
			
				<span class="draggable">отходит</span>
			
				<span class="draggable">посадку</span>
			
				<span class="draggable">отходит</span>
			
				<span class="draggable">вылет</span>
			
				<span class="draggable">прилетаем</span>
			
				<span class="draggable">приземлится</span>
			
				<span class="draggable">приехала</span>
			
				<span class="draggable">поездка</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 6.  Расставьте слова правильно, чтобы закончить предложения.</h2>
		<p>Task 6. Drag the words to complete the sentences.</p>
	</div>

		<ol>
			<li>Наш поезд <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> в Москву в 8.15 утра.</li>
			<li>Мы <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> в Москву из Токио завтра вечером.</li>
			<li>Давай быстрее! Наша электричка <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> через пять минут, а мы ещё не нашли наш вагон!</li>
			<li>Мама, не волнуйся! Я позвоню тебе, как только наш самолёт <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> в аэропорту!</li>
			<li>Она <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> на такси на вокзал слишком рано и теперь должна ждать ещё час.</li>
			<li>Уважаемые пассажиры, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> самолёта задерживается по техническим причинам.</li>
			<li>Уважаемые пассажиры! Поезд номер 55 <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> от платформы номер два с четвёртого пути.</li>
			<li>Внимание! Осуществил <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> рейс номер 1497 Сочи—Москва!</li>
			<li>Я надеюсь, что твоя <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> будет удачной.</li>
			<li>Мы <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> на поезде точно по расписанию.</li>
		</ol>
    </div>
</div>
			</div>
						
		

<div class="lessoncomplected" style="display: none">
	<p>
		<a class="underline" href="/lessons/topics-transport-part-1/">← Lesson 90</a>
		<a class="underline" href="/lessons/topics-home-flat-rental/">Lesson 92 →</a>
	</p>				
</div>

<div class="lessoncomplected popup">
	<div class="close"></div>
	<p>
		<a class="underline" href="/lessons/topics-transport-part-1/">← Lesson 90</a>
		<a class="underline" href="/lessons/topics-home-flat-rental/">Lesson 92 →</a>
	</p>				
</div>
                <div class="barkeybord">
                    <div class="linekeyb"></div>
                    <div class="dlinekeyb">
                        <div class="keybord">
                            <div class="output"></div>
                            <p>"Caps Lock" is on</p>
                            <div class="clears"></div>
                            <ul>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ё</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">1</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">2</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">3</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">4</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">5</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">6</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">7</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">8</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">9</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">0</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="backspace">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgbackspace">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">й</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ц</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">у</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">к</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">е</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">н</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">г</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ш</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">щ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">з</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">х</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ъ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition fleft">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ф</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ы</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">в</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">а</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">п</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">р</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">о</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">л</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">д</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ж</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">э</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">я</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ч</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">с</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">м</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">и</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">т</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ь</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">б</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ю</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">.</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition gap">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">&nbsp;</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				
				
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>