---
description: "Online lessons of Russian in a user-friendly environment with tips to help you navigate through the website. Each lesson contains short explanations, dialogs to show the language in action, and tasks that can be shared with your friends. Bookmarks help you remember where you left off."
keywords: "Russian online lessons, task, exercise, text, dialogue, audio, grammar, learn, share, bookmark"
title: "Lessons — LearnRussian"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				{% include hmenu.html %}
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<link href="{{ '/s/css/tables/styles.css' | relative_url }}" rel="stylesheet" type="text/css">
			<script src="{{ '/s/js/pages/lessons.js?n' | relative_url }}"></script>
			<div class="maintenance">
		            <div class="lesson">
						<div class="llesson">
							<ul class="lesson_set">
								<li><a class="underline active" href="/lessons/">1-5</a></li>
								<li><a class="underline" href="/lessons/lessons-6-10/">6-10</a></li>
								<li><a class="underline" href="/lessons/lessons-11-15/">11-15</a></li>
								<li><a class="underline" href="/lessons/lessons-16-20/">16-20</a></li>
								<li><a class="underline" href="/lessons/lessons-21-25/">21-25</a></li>
								<li><a class="underline" href="/lessons/lessons-26-30/">26-30</a></li>
								<li><a class="underline" href="/lessons/lessons-31-35/">31-35</a></li>
								<li><a class="underline" href="/lessons/lessons-36-40/">36-40</a></li>
								<li><a class="underline" href="/lessons/lessons-41-45/">41-45</a></li>
								<li><a class="underline" href="/lessons/lessons-46-50/">46-50</a></li>
								<li><a class="underline" href="/lessons/lessons-51-55/">51-55</a></li>
								<li><a class="underline" href="/lessons/lessons-56-60/">56-60</a></li>
								<li><a class="underline" href="/lessons/lessons-61-65/">61-65</a></li>
								<li><a class="underline" href="/lessons/lessons-66-70/">66-70</a></li>
								<li><a class="underline" href="/lessons/lessons-71-75/">71-75</a></li>
								<li><a class="underline" href="/lessons/lessons-76-80/">76-80</a></li>
								<li><a class="underline" href="/lessons/lessons-81-85/">81-85</a></li>
								<li><a class="underline" href="/lessons/lessons-86-90/">86-90</a></li>
								<li><a class="underline" href="/lessons/lessons-91-95/">91-95</a></li>
								<li><a class="underline" href="/lessons/lessons-96-100/">96-100</a></li>							</ul>
						</div>						<div class="clesson">
							<div class="hles">
								<ul class="lesson-list-switch">
									<li><span>Lessons</span></li>
									
								</ul>
								<div class="completed">
									<p>Completion, %</p>								
								</div>
							</div>
							<div class="colles">
								<div class="ncolles">
									<p>1.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="{{ '/lessons/greeting-first-simple-phrases-professions/' | relative_url }}"><span>Greeting and first simple phrases, professions.</span></a></h3>
									<p>Привет! Меня зовут Майкл! Я дизайнер. А ты?</p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>2.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/nouns-their-gender/"><span>Who is it? What is it? Nouns and their gender.</span></a></h3>
									<p>Кто это? Что это?</p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>3.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/first-verbs-nationality/"><span>First verbs; nationality; “Where are you from?” </span></a></h3>
									<p>Откуда Вы? Вы говорите по-русски?</p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>4.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/possessive-pronouns-questions/"><span>Possessive pronouns and questions.</span></a></h3>
									<p>Как работа? Как твоя семья?</p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>5.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/speaking-places-time-prepositions/"><span>Speaking about places and time: prepositions “в” and “на”.</span></a></h3>
									<p>Что ты делаешь в офисе на работе ночью?</p>	
								</div>								
							</div>
													<div class="colles">
								<div class="textcolles">
									<img src="{{site.mediaurl}}/s/css/lessons/test-clock.png" alt="LR"><h3 style="margin:1px;"><a class="underline" href="{{ '/tests/test-1/' | relative_url }}"><span>Test. Lessons 1–5.</span></a></h3>
								</div>								
							</div>
						</div>
					</div>
			</div>

					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="{{mediaurl}}/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>
