---
description: "In the lesson “Nouns and Pronouns in the Prepositional Case” you will learn how to use the Prepositional Case when you want to tell someone what you are thinking, dreaming or talking about."
keywords: "prepositional case, nouns, pronouns, verbs, mental verbs, russian, declension, prepositions, elmentary, A1"
title: "Nouns and Personal Pronouns in the Prepositional Case. — LearnRussian Lessons"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				{% include hmenu.html %}
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<script src="/s/js/pages/lessons.js?n"></script>
			<link href="/s/css/tables/styles.css" rel="stylesheet" type="text/css">
<!--[if IE 7]> 
<link href="/s/css/tables/ieonly7.css" rel="stylesheet" type="text/css">
<![endif]-->
			
			
			<div id="homework-21" class="homework">
				    				    <div class="breadcrumb"><a class="underline" href="/lessons/lessons-21-25/">Lessons</a> /</div>

		            <div class="lesson">
						<div class="llesson">
							<p>21.</p>
						</div>
						<div class="rlesson">
							<p class="completed">0% completed</p>
						</div>
						<div class="clesson">
						    <h1>Nouns and Personal Pronouns in the Prepositional Case.</h1>
							<p class="vertwenty">Моя дорогая жена! Каждый день я думаю о тебе!</p>
							<div class="r-star-shape">
								<div class="cn tl"></div>
									<div class="cn tr"></div>								
									<div class="conten">
										<div class="conten cr">
											<p>In this lesson you will learn the Prepositional Case in the meaning <strong>о ком</strong>? <strong>о чём</strong>? (about something, somebody) and have a look at the following constructions: <strong>Он думает о работе</strong>. <strong>Я мечтаю о море</strong>. <strong>Мы говорим о погоде</strong>.</p>
										</div>
									</div>									
								<div class="cn bl"></div>
								<div class="cn br"></div>
							</div>
							
						</div>
					</div>
				
<div class="topbar">
<div class="up">
    <form>
        <ul>
            <li class="skeyb">
				<span class="small-keyboard">&nbsp;</span>
            </li>
            <li class="isearch">
				<input type="text" value="look up a word">
			</li>
			<li>
				<a class="underline" href="/vocabulary/lesson-21-25/">Open vocabulary for lessons 21–25</a>
			</li>            
        </ul>
		<div class="intellisense">
            <div>Hello</div>
            <div>world</div>
        </div>
    </form>
</div>
<div class="down"></div>
</div>















































	
<div class="task learning  typsecond" id="task-1" hash="cc5579e3cbd8cfd4b7263f3a86584af5">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">о контракте</span>
			
				<span class="draggable">о погоде</span>
			
				<span class="draggable">о бизнесе</span>
			
				<span class="draggable">о погоде</span>
			
				<span class="draggable">о выставке</span>
			
				<span class="draggable">обо всём</span>
			
				<span class="draggable">о работе</span>
			
				<span class="draggable">о природе</span>
			
				<span class="draggable">о спорте</span>
			
				<span class="draggable">о тебе</span>
			
		
	</div>
</div>
    <div class="ctask">
        <h2>Задание 1. Слушайте  и закончите диалог.</h2>
        <p>Task 1.  Listen to the dialogue and drag the word combinations to complete the text.</p>
		<img alt="LR" src="/s/content/lesson21/1.png">
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson21/audio/21.1.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p><strong>Фред:</strong> Привет, как дела?</p>
		<p><strong>Клара:</strong> Привет, нормально, а у тебя? Почему ты так долго не звонил? Что случилось?</p>
		<p><strong>Фред:</strong> Ничего, просто времени не было.</p>
		<p><strong>Клара:</strong> У тебя не было времени для меня? Интересно…</p>
		<p><strong>Фред:</strong> Дорогая, ну я же всегда думаю <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
		<p><strong>Клара:</strong> Я тоже. Как твоя встреча с клиентом?</p>
		<p><strong>Фред:</strong> Ужасно. Мы весь вечер говорили <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, но только не <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Я так ничего и не подписал.</p>
		<p><strong>Клара:</strong> И что? Вы говорили <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Сейчас ты для него не только партнёр, но и друг. Это хорошо.</p>
		<p><strong>Фред:</strong> Ты так думаешь?</p>
		<p><strong>Клара:</strong> Конечно. Вчера вы говорили <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, а завтра будете говорить <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Но теперь уже не так формально.</p>
		<p><strong>Фред:</strong> Ладно, посмотрим. А что ты делаешь сегодня вечером? Я сейчас читаю <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> в Третьяковской галерее. Постмодернизм. Давай пойдём.</p>
		<p><strong>Клара:</strong> Сегодня? Давай.</p>
		<p><strong>Фред:</strong> Тогда я буду ждать тебя в центре зала в метро.</p>
		<p><strong>Клара:</strong> Хорошо, а какая станция метро?</p>
		<p><strong>Фред:</strong> Как какая? Конечно, Третьяковская! Всё, до вечера.</p>
		<p><strong>Клара:</strong> Пока, целую.</p>
    </div>
</div>
	
<div class="task learning nocheck typfive" id="task-2" hash="cc5579e3cbd8cfd4b7263f3a86584af5">
	<div class="ltask" style="border: 1px solid transparent;">	</div>
    <div class="ctask">
        <h2>Задание  2. Слушайте и читайте диалог.</h2>
        <p>Task 2. Listen  to the dialogue and read it.</p>
		<img src="/s/content/lesson21/2.png" alt="LR">
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson21/audio/21.2.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p class="twentybold">Мой день.</p>
		<p><strong>Иван:</strong> Вот, Жан, скажи, когда французские мужчины пьют, о чём они разговаривают?</p>
		<p><strong>Жан:</strong> Конечно, мы говорим о женщинах! И о футболе. И о жизни.</p>
		<p><strong>Иван:</strong> А вы говорите о сыре?</p>
		<p><strong>Жан:</strong> О сыре? Почему мы должны говорить о сыре?</p>
		<p><strong>Иван:</strong> Ну как же! Сыр – это ваша национальная гордость.</p>
		<p><strong>Жан:</strong> Стереотипы, стереотипы. А что вы, русские, всегда говорите о водке, икре и борще?</p>
		<p><strong>Иван:</strong> Нет, конечно. Джон, а в Америке о чём вы говорите, когда пьёте?</p>
		<p><strong>Джон:</strong> Ну, мы говорим обо всём. Но мы не очень любим говорить о деньгах, о религии, о сексе, о политике сейчас тоже редко говорим.</p>
		<p><strong>Жан:</strong> Ха-ха. Так о чём вы говорите? Ни о чём?</p>
		<p><strong>Джон:</strong> Почему? Мы говорим о футболе. Только о нашем, американском футболе. Об экономике. Иван, скажи, а почему русские так любят говорить? Вы можете говорить обо всём?</p>
		<p><strong>Иван:</strong> Если я говорю с друзьями, то, конечно, я говорю обо всём. О проблемах, о семье, о работе, о деньгах, о девушках, о жизни.</p>
		<p><strong>Жан:</strong> О да, вы русские очень любите говорить о жизни. Ночью на кухне. Я не понимаю, почему?</p>
		<p><strong>Иван:</strong> Ну, это русская традиция. Вот американцы и европейцы идут к психологу. А русские идут к другу. Это тоже как терапия.</p>
		<p><strong>Джон:</strong> Хорошо, это мы понимаем, но почему ночью?</p>
		<p><strong>Иван:</strong> А когда? Днём мы работаем, а ночью думаем о жизни. Всё логично.</p>
		<p><strong>Жан:</strong> Да уж, русская логика, как и русская душа – загадка.</p>
		<p><strong>Джон:</strong> Так давайте выпьем! За русских друзей!</p>
		<p><strong>Иван и Жан:</strong> Давай.</p>
    </div>
</div>


	
<div class="task learning  typthird" id="task-3" hash="5b5845f0b00851319d980a0d1d390cd0">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 3. Тест. О чём они говорят?</h2>
        <p>Task 3. What are they talking about? Click the correct words.</p>				<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<img src="/s/content/lesson21/3_1.png" alt="LR">
			<p class="twentybold">Французы говорят …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>обо всём, об американском футболе, об экономике</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">о женщинах, о футболе, о жизни</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>обо всём, о жизни, о семье, о деньгах, о девушках</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<img src="/s/content/lesson21/3_2.png" alt="LR">
			<p class="twentybold">Американцы говорят о …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">обо всём, об американском футболе, об экономике</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>о женщинах, о футболе, о жизни</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>обо всём, о жизни, о семье, о деньгах, о девушках</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<img src="/s/content/lesson21/3_3.png" alt="LR">
			<p class="twentybold">Русские говорят о </p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>обо всём, об американском футболе, об экономике</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>о женщинах, о футболе, о жизни</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">обо всём, о жизни, о семье, о деньгах, о девушках</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
	
<div class="task learning  typthird" id="task-4" hash="2bd4e5aab2710fabc9ad3de00d4e5ae4">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 4. Тест.</h2>
        <p>Task 4. Click the correct answers according to Dialogue 2.</p>		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">Когда русские хотят поговорить, они идут …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>к психологу</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>к стоматологу</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">к другу</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">Американцы любят говорить о …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>софтболе</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">американском футболе</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>волейболе</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<p class="twentybold">Французы всегда говорят о …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>сыре</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>вине</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">женщинах</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-4">
				
							<p class="twentybold">Русские любят разговаривать …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>о работе вечером</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">о жизни ночью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>о семье днём</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
	
<div class="task learning  typthird" id="task-5" hash="1117cbb53c6976a8a888166358a9189e">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 5. Слушайте диалог и отвечайте.</h2>
        <p>Task 5. Listen and click the correct answers.</p>
		<div class="players">
	<div class="play plpau" audio="/s/content/lesson21/audio/21.3.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
		<li>5</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">Джон долго не писал, потому что …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>не хотел</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">был занят</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>был в командировке</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">Джон говорит с коллегами о …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>проблемах, кризисе, катастрофе</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>природе, погоде, климате</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">об Америке, жизни, политике, экономике</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<p class="twentybold">С мужчинами он говорит о …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">футболе</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>пилатесе</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>йоге</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-4">
				
							<p class="twentybold">С девушками Джон говорит о…</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>бирже, валюте</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>компьютере, пиве</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">культуре, искусстве</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-5">
				
							<p class="twentybold">Друзья нормально говорят о …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>друзьях</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">деньгах</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>дождях</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>

	<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask long">
			<h1>Animate Nouns in the Prepositional Case</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/nouns-and-personal-pronouns-in-the-prepositional-case/#part1" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson21/minitables/1.png" alt="LR">
		</div>
	</div>		
<div class="task learning  typseven" id="task-6" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 6. О ком они думают?</h2>
        <p>Task 6. Study  the table above and put the words in brackets in the correct form. Use the on-screen keyboard.</p>
		<form>
			<p><strong>Example:</strong> Мама думает о сыне. <span class="red">(cын)</span></p>
			<ol>
				<li>Муж думает о <span class="if_correct">жене</span><input type="text" size="4" answer="жене" class="if_learning"> <span class="if_learning">(жена)</span>.</li>
				<li>Брат вспоминает о <span class="if_correct">сестре</span><input type="text" size="6" answer="сестре" class="if_learning"> <span class="if_learning">(сестра)</span>.</li>
				<li>Дети не всегда думают о <span class="if_correct">родителях</span><input type="text" size="9" answer="родителях" class="if_learning"> <span class="if_learning">(родители)</span>.</li>
				<li>Стив помнит о <span class="if_correct">друзьях</span><input type="text" size="7" answer="друзьях" class="if_learning"> <span class="if_learning">(друзья)</span>.</li>
				<li>Каждый мужчина мечтает о <span class="if_correct">подруге</span><input type="text" size="7" answer="подруге" class="if_learning"> <span class="if_learning">(подруга)</span>, но не каждый мужчина мечтает о <span class="if_correct">детях</span><input type="text" size="5" answer="детях" class="if_learning"> <span class="if_learning">(дети)</span>.</li>
				<li>Когда мне грустно, я вспоминаю о <span class="if_correct">маме</span><input type="text" size="4" answer="маме" class="if_learning"> <span class="if_learning">(мама)</span>.</li>
			</ol>
		</form>
    </div>
</div>
	
		<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask long">
			<h1>Inanimate Nouns in the Prepositional Case</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/nouns-and-personal-pronouns-in-the-prepositional-case/#part1" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson21/minitables/2.png" alt="LR">
		</div>
	</div>	
<div class="task learning  typnine" id="task-7" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask wordsinsteadpict">
        <h2>Задание 7. О чём ты думаешь?</h2>
        <p>Task 7. Complete  the sentences with the words denoting things you can see in the pictures. The words should be in the correct Case, of course. Use the on-screen keyboard.</p>
        <form>		
            <ul>
				<li><span><strong>Example:</strong> Я думаю о </span> <img src="/s/content/lesson21/7_6.png" alt="circle">  <span>машине.</span></li>
				<li><span>В Англии всегда говорят о</span> <span class="if_correct">погоде</span><img src="/s/content/lesson21/7_1.png" alt="circle" class="if_learning"> <input type="text" size="6" answer="погоде" class="if_learning"></li>
				<li><span>Владимир мечтает о</span> <span class="if_correct">море</span><img src="/s/content/lesson21/7_2.png" alt="circle" class="if_learning"> <input type="text" size="4" answer="море" class="if_learning"></li>
				<li><span>Говорить о</span> <span class="if_correct">деньгах</span><img src="/s/content/lesson21/7_3.png" alt="circle" class="if_learning"> <input type="text" size="7" answer="деньгах" class="if_learning"> <span>не очень хорошо.</span></li>
				<li><span>Мартин и Марта сейчас живут в квартире, но думают о</span><span class="if_correct">доме</span><img src="/s/content/lesson21/7_4.png" alt="circle" class="if_learning"> <input type="text" size="4" answer="доме" class="if_learning"></li>
				<li><span>Я думаю, что это очень скучно говорить о</span> <span class="if_correct">работе</span><img src="/s/content/lesson21/7_5.png" alt="circle" class="if_learning"> <input type="text" size="6" answer="работе" class="if_learning"></li>
            </ul>
        </form>
    </div>
</div>
	
<div class="task learning  typeight" id="task-8" hash="97ba6491aa172fef6a8f363086683066">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 8. О  чём они мечтают?</h2>
        <p>Task 8. Group the words according to what these people can dream about.</p>
		<ul class="words droppable droppable_default if_learning">
	
		
			<li><span class="draggable">о косметике</span></li>
		
			<li><span class="draggable">о машине</span></li>
		
			<li><span class="draggable">об игрушке</span></li>
		
			<li><span class="draggable">о билете на футбол</span></li>
		
			<li><span class="draggable">о машине</span></li>
		
			<li><span class="draggable">о билете в цирк</span></li>
		
			<li><span class="draggable">о билете на спектакль</span></li>
		
			<li><span class="draggable">о яхте</span></li>
		
			<li><span class="draggable">о конфете</span></li>
		
			<li><span class="draggable">о духах</span></li>
		
			<li><span class="draggable">о любви</span></li>
		
			<li><span class="draggable">об отпуске</span></li>
		
			<li><span class="draggable">о пальто</span></li>
		
			<li><span class="draggable">о сумке</span></li>
		
			<li><span class="draggable">о платье</span></li>
		
			<li><span class="draggable">о телевизоре</span></li>
		
			<li><span class="draggable">о детях</span></li>
		
			<li><span class="draggable">об отпуске</span></li>
		
			<li><span class="draggable">о муже</span></li>
		
			<li><span class="draggable">о детях</span></li>
		
			<li><span class="draggable">о пиве</span></li>
		
			<li><span class="draggable">о мотоцикле</span></li>
		
			<li><span class="draggable">о любви</span></li>
		
	
</ul>
<div class="clears"></div>
		<div class="clears"></div>
        <div class="sort droppable multidrop">
			<img src="/s/content/lesson21/8_3.png" alt="LR">
			<ul>
	
	
</ul>
        </div>
        <div class="sort droppable multidrop">
			<img src="/s/content/lesson21/8_2.png" alt="LR">
			<ul>
	
	
</ul>
        </div>
		<div class="sort droppable multidrop">
			<img src="/s/content/lesson21/8_1.png" alt="LR">
			<ul>
	
	
</ul>
			
        </div>
    </div>
</div>	
	<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask long">
			<h1>Personal Pronouns in the Prepositional Case</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/nouns-and-personal-pronouns-in-the-prepositional-case/#part2" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson21/minitables/3.png" alt="LR">
		</div>
	</div>	
<div class="task learning  typfour" id="task-9" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 9.  Напишите правильное местоимение.</h2>
		<p>Task 9. Study the table above and complete the sentences with the personal pronouns in their correct forms. Use the on-screen keyboard.</p>
        <form>
			<p><strong>Example:</strong> Моя машина сейчас в ремонте. Я каждый день думаю о ней. Как она без меня?</p>
			<ol>
				<li>Деньги, деньги… Почему все думают только о <input type="text" size="1" answer="них" class="if_learning"><span class="if_correct">них</span>?</li>
				<li>Ты будешь помнить обо <input type="text" size="1" answer="мне" class="if_learning"><span class="if_correct">мне</span> ?</li>
				<li>О, мой вкусный гамбургер! Как я мечтаю о <input type="text" size="1" answer="нём" class="if_learning"><span class="if_correct">нём</span> !</li>
				<li>Не люблю политику и не хочу говорить о <input type="text" size="1" answer="ней" class="if_learning"><span class="if_correct">ней</span> .</li>
				<li>Жена Питера – итальянка. Она любит футбол и каждую минуту говорит только о <input type="text" size="1" answer="нём" class="if_learning"><span class="if_correct">нём</span>.</li>
				<li>Как тебе наш новый шеф? Что ты думаешь о <input type="text" size="1" answer="нём" class="if_learning"><span class="if_correct">нём</span>?</li>
				<li>Мне абсолютно не нравится Мария. Я даже слышать ничего не хочу о <input type="text" size="1" answer="ней" class="if_learning"><span class="if_correct">ней</span>!</li>
				<li>Мы с коллегой думаем, что вы симпатичный человек. А что вы можете сказать о <input type="text" size="1" answer="нас" class="if_learning"><span class="if_correct">нас</span>?</li>
				<li>Анна, ты меня любишь? – Извини, Артур, но я могу думать о <input type="text" size="4" answer="тебе" class="if_learning"><span class="if_correct">тебе</span> только как о друге.</li>
				<li>Вы мне очень нравитесь. Я каждый день думаю о <input type="text" size="1" answer="вас" class="if_learning"><span class="if_correct">вас</span>.</li>
			</ol>
        </form>
    </div>
</div>
	
<div class="task learning  typseven" id="task-10" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 10. Напишите  местоимения вместо существительных.</h2>
        <p>Task 10. Change the nouns in the brackets with the correct pronouns. Use the on-screen keyboard.</p>
		<form>
			<p><strong>Example:</strong> Все люди мечтают об отдыхе → <strong>о нём</strong> </p>
			<ol>
				<li>Мартин любит говорить <span class="if_correct">о ней</span><input type="text" size="5" answer="о ней" class="if_learning"> <span class="if_learning">(о политике)</span>.</li>
				<li>Светлана не думает <span class="if_correct">о них</span><input type="text" size="5" answer="о них" class="if_learning"> <span class="if_learning">(о проблемах)</span>.</li> 
				<li>Вчера мы спорили  <span class="if_correct">о ней</span><input type="text" size="5" answer="о ней" class="if_learning"> <span class="if_learning">(о книге «Война и мир»)</span>.</li> 
				<li>Что ты думаешь <span class="if_correct">о нём</span><input type="text" size="5" answer="о нём" class="if_learning"> <span class="if_learning">(о Ричарде)</span>?</li> 
				<li>Ольга сидит на диете, но мечтает <span class="if_correct">о нём</span><input type="text" size="5" answer="о нём" class="if_learning"> <span class="if_learning">(о бифштексе)</span>.</li> 
				<li>Когда родители говорят  <span class="if_correct">о ней</span><input type="text" size="5" answer="о ней" class="if_learning"> <span class="if_learning">(об экономике)</span>, мне скучно.</li>
				<li>Утром на собрании директор рассказывал <span class="if_correct">о них</span><input type="text" size="5" answer="о них" class="if_learning"> <span class="if_learning">(о перспективах фирмы)</span>.</li>
				<li>С девушками невозможно говорить <span class="if_correct">о нём</span><input type="text" size="5" answer="о нём" class="if_learning"> <span class="if_learning">(о спорте)</span> ! Они ничего не понимают!</li>
				<li>Мне очень интересно слушать вас, когда вы рассказываете  <span class="if_correct">о ней</span><input type="text" size="5" answer="о ней" class="if_learning"> <span class="if_learning">(о глобализации)</span>.</li>
			</ol>
		</form>
    </div>
</div>
	
	


	

	

	

			</div>
						
		

<div class="lessoncomplected" style="display: none">
	<p>
		<a class="underline" href="/lessons/dative-case-indirect-objects/">← Lesson 20</a>
		<a class="underline" href="/lessons/nouns-adjectives-masculine-neuter/">Lesson 22 →</a>
	</p>				
</div>

<div class="lessoncomplected popup">
	<div class="close"></div>
	<p>
		<a class="underline" href="/lessons/dative-case-indirect-objects/">← Lesson 20</a>
		<a class="underline" href="/lessons/nouns-adjectives-masculine-neuter/">Lesson 22 →</a>
	</p>				
</div>
                <div class="barkeybord">
                    <div class="linekeyb"></div>
                    <div class="dlinekeyb">
                        <div class="keybord">
                            <div class="output"></div>
                            <p>"Caps Lock" is on</p>
                            <div class="clears"></div>
                            <ul>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ё</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">1</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">2</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">3</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">4</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">5</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">6</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">7</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">8</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">9</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">0</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="backspace">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgbackspace">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">й</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ц</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">у</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">к</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">е</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">н</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">г</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ш</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">щ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">з</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">х</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ъ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition fleft">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ф</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ы</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">в</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">а</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">п</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">р</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">о</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">л</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">д</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ж</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">э</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">я</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ч</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">с</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">м</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">и</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">т</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ь</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">б</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ю</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">.</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition gap">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">&nbsp;</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				
				
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>