---
description: "In the lesson “Topics: Speaking about Person’s Appearance” you will learn basic constructions to be used when dealing with it."
keywords: "topics, grammar, russian, learn, Pre-Intermediate, B1, words, vocabulary, appearance, face, describe, adjectives"
title: "Topics: Speaking about a Person’s Appearance. — LearnRussian Lessons"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
					
						<li class="active"><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<script src="/s/js/pages/lessons.js?n"></script>
			<div id="homework-96" class="homework">
				   				    <div class="breadcrumb"><a class="underline" href="/lessons/lessons-96-100/">Lessons</a> /</div>

		            <div class="lesson">
						<div class="llesson">
							<p>96.</p>
						</div>
						<div class="rlesson">
							<p class="completed">0% completed</p>
						</div>
						<div class="clesson">
							<h1>Topics: Speaking about a Person’s Appearance.</h1>
							<p class="vertwenty">Она блондинка с карими глазами.</p>
							<div class="r-star-shape">
								<div class="cn tl"></div>
									<div class="cn tr"></div>								
									<div class="conten">
										<div class="conten cr">											
											<p>In this lesson you will study the topic “Appearance” and learn basic constructions to be used when dealing with it.</p>
											<p>For example:</p>
											<p><strong>У этого человека лицо круглой формы</strong>. <strong>У него тёмные</strong>, <strong>карие глаза</strong>, <strong>длинные чёрные волосы</strong>. <strong>Брови тёмные и густые</strong>, <strong>ресницы тоже длинные</strong>, <strong>тёмные</strong>. <strong>Нос курносый</strong>. <strong>Обычный рот</strong>, <strong>чёрная</strong>, <strong>небольшая борода</strong>.</p>									
										</div>
									</div>									
								<div class="cn bl"></div>
								<div class="cn br"></div>
							</div>							
						</div>
					</div>		
				
<div class="topbar">
<div class="up">
    <form>
        <ul>
            <li class="skeyb">
				<span class="small-keyboard">&nbsp;</span>
            </li>
            <li class="isearch">
				<input type="text" value="look up a word">
			</li>
			<li>
				<a class="underline" href="/vocabulary/lesson-96-100/">Open vocabulary for lessons 96–100</a>
			</li>            
        </ul>
		<div class="intellisense">
            <div>Hello</div>
            <div>world</div>
        </div>
    </form>
</div>
<div class="down"></div>
</div>















































		
<div class="task learning  typsecond" id="task-1" hash="96f3861e833a688c7c6713f7f71a1f07">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">симпатичной</span>
			
				<span class="draggable">блондинки</span>
			
				<span class="draggable">брюнетка</span>
			
				<span class="draggable">ресницами</span>
			
				<span class="draggable">карие</span>
			
				<span class="draggable">блондинка</span>
			
				<span class="draggable">билета</span>
			
				<span class="draggable">фигура</span>
			
				<span class="draggable">глаза</span>
			
				<span class="draggable">скулы</span>
			
				<span class="draggable">губы</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 1. Слушайте и закончите  диалог.</h2>
		<p>Task 1. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson96/1.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson96/audio/96.1.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p>— Я вчера познакомился с такой <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> девушкой на улице!</p>
		<p>— На улице?</p>
		<p>— Ну, не совсем. Я покупал билеты для родителей в театральной кассе, и мы вместе стояли в очереди.</p>
		<p>— Как она выглядит? Конечно, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>?</p>
		<p>— Нет, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Невысокого роста.</p>
		<p>— А <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>?</p>
		<p>— Обычная. Но это не главное. У неё такие <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>! Большие, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, с длинными <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>. Она мне так понравилась. Ещё у неё очень красивые <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> и высокие <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
		<p>— Ну, по описанию, она ничего. Хотя мне больше нравятся <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
		<p>— На вкус и цвет товарищей нет, сам знаешь.</p>
		<p>— И ты взял у неё номер телефона?</p>
		<p>— Нет, но мы договорились встретиться послезавтра около театра. Я купил два <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> на премьеру.</p>
		<p>— Ты же говорил, что купишь билеты для родителей.</p>
		<p>— И для них тоже купил, но они пойдут в другой день.</p>
    </div>
</div>			
<div class="task learning  typsecond" id="task-2" hash="b192565e6792f3404767a6c20b18eb9b">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">характер</span>
			
				<span class="draggable">глаза</span>
			
				<span class="draggable">брови</span>
			
				<span class="draggable">подбородок</span>
			
				<span class="draggable">небольшие</span>
			
				<span class="draggable">волнистые</span>
			
				<span class="draggable">волосы</span>
			
				<span class="draggable">похож</span>
			
				<span class="draggable">ресницы</span>
			
				<span class="draggable">голубые</span>
			
				<span class="draggable">вылитый</span>
			
				<span class="draggable">обоих</span>
			
				<span class="draggable">рот</span>
			
				<span class="draggable">уши</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 2. Слушайте и закончите  диалог.</h2>
		<p>Task 2. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson96/2.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson96/audio/96.2.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p>
			<strong>Мама</strong>: Посмотри, он <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> на тебя! <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> ты!
		</p>
		<p>
			<strong>Папа</strong>: Да нет, не очень. У него твои <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> — такие же большие, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.
		</p>
		<p>
			<strong>Мама</strong>: У всех детей голубые глаза. Посмотрим, когда он вырастет. А <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> у него твой — не очень большой.
		</p>
		<p>
			<strong>Папа</strong>: Согласен. А вот <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> и <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> твои — густые. И <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> тоже — тёмные и <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, как у тебя.
		</p>
		<p>
			<strong>Мама</strong>: Да, но зато <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> твои — посмотри, какие смешные и большие.
		</p>
		<p>
			<strong>Папа</strong>: У меня <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> уши. Это пока он маленький, так кажется. Но вот <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> точно мой — очень волевой.
		</p>
		<p>
			<strong>Мама</strong>: Надеюсь, что <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> у нашего сына будет мой.
		</p>
		<p>
			<strong>Папа</strong>:  А я очень надеюсь, что мой.
		</p>
		<p>
			<strong>Мама</strong>: Ну, так как это наш сын, будем думать, что характером он будет похож на нас <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.
		</p>
		<p><strong>Папа</strong>: Поживём — увидим!</p>
    </div>
</div>
			<div class="task nocheck minitasktable">
				<div class="ltask">
					<img src="/s/css/lessons/topics.png" alt="Learn_Russian">
				</div>
				<div class="ctask" style="width:842px;">
					<h1>Topics: Appearance. Face</h1>
					<p>Short <a class="underline tlinks" href="/topics/appearance-face/" target="_blank">Full</a></p>
					<img class="margtop20" src="/s/content/lesson96/minitables/11.png" alt="LR">
				</div>
			</div>
<div class="task learning  typtwenty" id="task-3" hash="7aa8b42dfdbff101df851703be026496">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
			<div>
		<h2>Задание 3. Опишите внешность этого человека, используя слова из таблицы.</h2>
		<p>Task 3. Describe this man using adjectives from the table “Appearance. Face”</p>
	</div>

		<img alt="LR" src="/s/content/lesson96/3.png">
		<div class="clears"></div>
		<ul>
			<li>У этого человека лицо <span class="answerable">...</span> формы.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					круглой
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					треугольной
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>У него <span class="answerable">...</span> глаза.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					тёмные
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					светлые
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Его глаза <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					серые
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					карие
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>У него <span class="answerable">...</span> волосы.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					короткие
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					длинные
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Его волосы <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					чёрные
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					белые
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Брови <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					светлые
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					тёмные
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Его брови <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					густые
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					редкие
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Ресницы <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					короткие
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					длинные
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Его ресницы <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					тёмные
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					светлые
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Нос <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					прямой
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					курносый
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>У него <span class="answerable">...</span> рот.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					маленький
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					нормальный
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li> У него есть борода. Она <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					светлая
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					чёрная
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Его борода <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					небольшая
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					длинная
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>				
    </div>
</div>
<div class="task learning  typtwenty" id="task-4" hash="f7a129753ba6ec4ac316256d850915e6">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
			<div>
		<h2>Задание 4. Опишите внешность этой девушки, используя слова из таблицы.</h2>
		<p>Task 4. Describe this woman using adjectives from the table “Appearance. Face”.</p>
	</div>

		<img alt="LR" src="/s/content/lesson96/4.png">
		<div class="clears"></div>
		<ul>
			<li>Это <span class="answerable">...</span> девушка.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					маленькая
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					молодая
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Её лицо <span class="answerable">...</span> формы.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					овальное
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					овальной
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>У неё красивые <span class="answerable">...</span> глаза.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					большие
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					маленькие
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Её глаза <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					карие
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					голубые
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Она натуральная <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					брюнетка
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					блондинка
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>У неё <span class="answerable">...</span> волосы.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					длинные
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					короткие
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>Её волосы <span class="answerable">...</span>.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					тёмные
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					светлые
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>У неё <span class="answerable">...</span> нос.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					длинный
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					небольшой
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
		<ul>
			<li>У неё <span class="answerable">...</span> губы.</li>
						<li class="bordersmall">
				<span class="bordersmalleft">
					полные
				</span>
				<span class="bordersmalright"></span>			
			</li>			<li class="bordersmall">
				<span class="bordersmalleft">
					узкие
				</span>
				<span class="bordersmalright"></span>			
			</li>
		</ul>
    </div>
</div>

<div class="task learning  typthird" id="task-5" hash="84735b99575f0415d57f42135fba71b9">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
        <h2>Задание 5. Отметьте, какая картинка подходит под описание.</h2>
        <p>Task 5. Look at the pictures and read the announcements. Then click on the number of the appropriate picture.</p>
		<div id="gl" class="gallery">
	<div class="ltengal">
		<a class="l str" href="javascript:"></a>
	</div>
	<div class="rtengal">
		<a class="r str" href="javascript:"></a>
	</div>
	<div class="bgal">			
		<ul>
			<li><img alt="Learn Russian" src="/s/content/lesson96/5_1.png"></li>
			<li><img alt="Learn Russian" src="/s/content/lesson96/5_2.png"></li>
			<li><img alt="Learn Russian" src="/s/content/lesson96/5_3.png"></li>
			<li><img alt="Learn Russian" src="/s/content/lesson96/5_4.png"></li>
			<li><img alt="Learn Russian" src="/s/content/lesson96/5_5.png"></li>
		</ul>			
	<div class="bgallery ui-droppable"></div></div>	
</div>
		<div class="clears"></div>		
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
						<p>Помогите найти!</p>
		<p>Пропала девушка!</p>
		<p>21 декабря вышла из дома и не вернулась Елена Сергиенко. 18 лет, рост 163 см, вес 56 кг. Шатенка, лицо круглое, глаза карие, нос большой, губы полные. Была одета в розовую куртку, синие джинсы, чёрные кроссовки.</p>
		<p>Если у вас есть информация о ней, звоните! 8(005) 934-32-06!</p>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>1</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">2</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>3</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>4</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>5</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
						<p>Пропал мужчина!</p>
		<p>16 ноября вышел из дома и не вернулся Корнеев Иван Андреевич. На вид 45 лет, полный. Лицо полное, глаза тёмные, нос картошкой, бороды и усов нет. Был одет в серое пальто, чёрные брюки, красный шарф с надписью «Спартак — чемпион». Последний раз видели около бара «Футбольная жизнь».</p>
		<p>Если вы увидели его, срочно позвоните по телефону: 555-25-86</p>
		<p>Вознаграждение гарантируется.</p>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>1</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>2</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">3</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>4</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>5</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
						<p>Внимание, розыск!</p>
		<p>Сбежал особо опасный преступник!</p>
		<p>На вид 40-45 лет. Рост 178 см, худого телосложения. Лицо узкое, глаза светлые, нос большой, уши большие, усов и бороды нет. Особая примета: на левой щеке большой шрам. На шее татуировка в виде змеи.</p>
		<p>За информацию об этом человеке — вознаграждение!</p>
		<p>Звонить: 02, (495) 954-54-54 </p>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>1</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>2</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>3</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>4</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">5</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>

			</div>
						
		

<div class="lessoncomplected" style="display: none">
	<p>
		<a class="underline" href="/lessons/topics-pharmacy-insurance-company/">← Lesson 95</a>
		<a class="underline" href="/lessons/topics-appearance-figure/">Lesson 97 →</a>
	</p>				
</div>

<div class="lessoncomplected popup">
	<div class="close"></div>
	<p>
		<a class="underline" href="/lessons/topics-pharmacy-insurance-company/">← Lesson 95</a>
		<a class="underline" href="/lessons/topics-appearance-figure/">Lesson 97 →</a>
	</p>				
</div>
                <div class="barkeybord">
                    <div class="linekeyb"></div>
                    <div class="dlinekeyb">
                        <div class="keybord">
                            <div class="output"></div>
                            <p>"Caps Lock" is on</p>
                            <div class="clears"></div>
                            <ul>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ё</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">1</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">2</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">3</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">4</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">5</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">6</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">7</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">8</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">9</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">0</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="backspace">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgbackspace">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">й</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ц</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">у</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">к</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">е</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">н</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">г</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ш</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">щ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">з</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">х</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ъ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition fleft">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ф</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ы</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">в</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">а</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">п</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">р</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">о</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">л</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">д</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ж</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">э</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">я</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ч</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">с</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">м</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">и</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">т</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ь</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">б</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ю</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">.</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition gap">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">&nbsp;</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				
				
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>