<div id="footer">
    <a href="https://rtd.rt.com/tags/english-subtitles/" style="width:100%;text-align:center;display:block;padding-top:25px;">
        <img src="{{site.mediaurl}}/s/images/RTD_banner_399x59.png" alt="RT Documentary Channel">
    </a>
    <div class="in">
        <a href="http://rt.com/"><img class="rtlogofooter" src="{{site.mediaurl}}/s/css/images/rtlogofooter.png" alt="Learn_Russian"></a>
        <ul>
            <li><a class="underline" href="http://rt.com/about/all-rt-sites/" target="_blank">All RT sites</a></li>
        </ul>
        <ul>
            <li><a class="underline" href="http://russiapedia.rt.com/" target="_blank">Russiapedia</a></li>
            <li><a class="underline" href="http://rt.com/all-about-russia/go-russia/" target="_blank">GoRussia</a></li>
        </ul>
        <ul>
            <li><a class="underline" href="http://rt.com/news/" target="_blank">RT News</a></li>
            <li><a class="underline" href="http://rt.com/all-about-russia/" target="_blank">All about Russia</a></li>
        </ul>
        <ul class="copyright">
            <li><a class="underline" href="{{ '/disclaimer/' | relative_url }}">Legal disclaimer</a></li>
            <li><a class="underline feedback_link" href="{{ '/feedback/' | relative_url }}">Feedback</a></li>
            <li><a class="underline" href="http://rt.com/about/contact/" target="_blank">Contact us</a></li>
            <li><a class="underline" href="{{ '/speak-russian/' | relative_url }}">What it is all about</a></li>
            <li><a class="underline" href="{{ '/words-in-pictures/' | relative_url }}">Words in pictures</a></li>
            <li class="fcopy">© Autonomous Nonprofit Organization "TV-Novosti", 2005 – 2012. All rights reserved.</li>
        </ul>
    </div>
    <div class="clears"></div>      
</div> 
