<div id="header">
  <ul class="left">
    <li><a class="underline" href="http://rt.com/"><img class="rtlogo" src="{{site.mediaurl}}/s/css/images/logort.png" alt="Learn Russian"> rt.com</a></li>
    <li>RT versions:</li>
    <li><a class="underline" href="http://arabic.rt.com/" lang="ar" target="_blank">روسيا اليوم</a></li>
    <li><a class="underline" href="http://actualidad.rt.com/" target="_blank">Noticias</a></li>
    <li><a class="underline" href="http://freevideo.rt.com/" target="_blank">Freevideo</a></li>
    <li><a class="underline" href="http://inotv.rt.com/" target="_blank">Инотв</a></li>
    <li><a class="underline" href="http://rtd.rt.com/" target="_blank">RTД</a></li>
  </ul>
  <ul class="right">
    <li><a href="http://facebook.com/LearnRussian.RT" target="_blank"><img src="{{site.mediaurl}}/s/css/images/facebook.png" alt="Learn_Russian"></a></li>
    <li><a href="http://twitter.com/RT_LearnRussian" target="_blank"><img src="{{site.mediaurl}}/s/css/images/twetter.png" alt="Learn_Russian"></a></li>
    <li><a href="http://youtube.com/user/LearnRussianwithRT" target="_blank"><img width="16" src="{{site.mediaurl}}/s/css/images/yyyyy.png" alt="Learn_Russian"></a></li>
  </ul>
</div>
