<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="{{page.description}}">
    <meta property="og:image" content="{{site.mediaurl}}/s/content/logo.png">
    <meta name="keywords" content="{{page.keywords}}">
    <title>{{page.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}"/>
    <link href="{{ '/s/css/style.css?v14' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/s/css/lessons.css?v13' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/s/css/typtask.css?v15' | relative_url }}" rel="stylesheet" type="text/css">
    <link href="{{ '/s/css/custom_control.css?v4' | relative_url }}" rel="stylesheet" type="text/css">
    <script src="{{ '/s/js/libs.js' | relative_url }}"></script>
    <script src="{{ '/s/js/jquery.ui.touch-punch.min.js' | relative_url }}"></script>
    <script src="{{ '/s/js/custom_control.js?d' | relative_url }}"></script>
    <script src="{{ '/s/js/learn_russian.js?p' | relative_url }}"></script>
</head>
