---
description: "In the lesson “Speaking About Periods of Time. Prepositions &quot;s... do&quot;, &quot;s... po&quot;, &quot;ot... do&quot;” you will learn about prepositions used to talk about duration in constructions with the Accusative and Genitive Cases. You will take a look at a table and examples of usage."
keywords: "time, phrases, period of time, prepositions of time, cases, use, learn, russian, grammar, basic, A2"
title: "Speaking about periods of time. Prepositions &quot;с… до…&quot;, &quot;с… по…&quot;, &quot;от… до…&quot;. — LearnRussian Lessons"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
					
						<li class="active"><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<script src="/s/js/pages/lessons.js?n"></script>
			<div id="homework-46" class="homework">
				   				    <div class="breadcrumb"><a class="underline" href="/lessons/lessons-46-50/">Lessons</a> /</div>

		            <div class="lesson">
						<div class="llesson">
							<p>46.</p>
						</div>
						<div class="rlesson">
							<p class="completed">0% completed</p>
						</div>
						<div class="clesson">
						    <h1>Speaking about periods of time. Prepositions "с… до…", "с… по…", "от… до…". </h1>
							<p class="vertwenty">Я на работе c утра до вечера.</p>
							<div class="r-star-shape">
								<div class="cn tl"></div>
									<div class="cn tr"></div>								
									<div class="conten">
										<div class="conten cr">
											<p>In this lesson you will learn the prepositions 
												<strong>с</strong>… 
												<strong>до</strong>…, 
												<strong>с</strong>… 
												<strong>по</strong>… and 
												<strong>от</strong>… 
												<strong>до</strong>… in the meaning of time + the Accusative, Genitive Cases.
											</p> 
											<p>You will also take a look at a table and examples of usage.</p>
										</div>
									</div>									
								<div class="cn bl"></div>
								<div class="cn br"></div>
							</div>
							
						</div>
					</div>					
	
<div class="topbar">
<div class="up">
    <form>
        <ul>
            <li class="skeyb">
				<span class="small-keyboard">&nbsp;</span>
            </li>
            <li class="isearch">
				<input type="text" value="look up a word">
			</li>
			<li>
				<a class="underline" href="/vocabulary/lesson-46-50/">Open vocabulary for lessons 46–50</a>
			</li>            
        </ul>
		<div class="intellisense">
            <div>Hello</div>
            <div>world</div>
        </div>
    </form>
</div>
<div class="down"></div>
</div>















































	
	
<div class="task learning  typsecond" id="task-1" hash="ff3f1d246919976af45d4c0ac7bd3d27">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">по</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">по</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">по</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">по</span>
			
				<span class="draggable">с</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 1. Слушайте и закончите диалог.</h2>
		<p>Task 1. Listen  and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson46/1.png" alt="LR">
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson46/audio/46.1.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p>
			<strong>Жена</strong>: Ну что, когда у тебя будет отпуск?
		</p>
		<p>
			<strong>Муж</strong>: Дорогая, я ещё не знаю. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  февраля <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  май мы делаем годовой отчёт, я буду работать <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  утра и <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  ночи. А у тебя какие планы?
		</p>
		<p>
			<strong>Жена</strong>: Я хотела поехать на море. На месяц. А лучше на два. Когда у детей будут каникулы. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  июля <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  август.
		</p>
		<p>
			<strong>Муж</strong>: Милая, я всё понимаю, но шеф не отпустит меня даже на месяц. Максимум — на две недели!
		</p>
		<p>
			<strong>Жена</strong>: Ну, знаешь! Ты работаешь <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  восьми утра и <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  девяти вечера! Это ненормально. У тебя ещё есть семья!
		</p>
		<p>
			<strong>Муж</strong>: Ну… Я попробую поговорить с ним. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  первого июля  <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  шестнадцатое — так будет нормально?
		</p>
		<p>
			<strong>Жена</strong>: А почему не до конца месяца?
		</p>
		<p>
			<strong>Муж</strong>: Я же тебе сказал: слишком много работы!
		</p>
		<p>
			<strong>Жена</strong>: Ладно, смотри сам. Только я завтра заказываю билеты на самолёт  туда-обратно и бронирую коттедж. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  первого июля <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  тридцатое августа.
		</p>
		<p>
			<strong>Муж</strong>: Хорошо. Как закажешь, позвони мне на работу, только <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  десяти <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>  одиннадцати у меня совещание.
		</p>
		<p>
			<strong>Жена</strong>: Хорошо, я позвоню.
		</p>
    </div>
</div>	
<div class="task learning  typthird" id="task-2" hash="6db898a226f2430ba6effb93b98d969a">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 2. Выберите правильный ответ.</h2>
		<p>Task 2. Click the correct answer according to dialogue 1.</p>
	</div>
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">Он работает с … до ….</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с 8 до 9</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с 8 до 21</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с 20 до 7</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">Он может взять отпуск … 1 июля … 16 июля.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с … до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с … по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>от ... до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<p class="twentybold">У детей будут каникулы …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с первого июня по первое сентября</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с первого июля по первое сентября</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с первого июля по тридцатое августа</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-4">
				
							<p class="twentybold">У него будет совещание … 10 …11 часов.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с … до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с … по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>от … до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>

<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask long">
			<h1>Speaking about time. Conjugation of some cardinal and ordinal numerals</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/speaking-about-time-conjugation-of-some-cardinal-and-ordinal-numerals/" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson46/minitables/2.png" alt="LR">
		</div>
	</div>
<div class="task learning  typsecond" id="task-3" hash="62988f0e6c93114d5edc4a70c0525fe1">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">по</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
				<span class="draggable">с</span>
			
				<span class="draggable">до</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 3. Слушайте и закончите диалог.</h2>
		<p>Task 3. Listen  and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson46/3.png" alt="LR">
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson46/audio/46.2.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p>
			<strong>Сын</strong>: Мама, а сколько лет я буду учиться в школе?
		</p>
		<p>
			<strong>Мама</strong>: <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> семи лет <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> семнадцати.
		</p>
		<p>
			<strong>Сын</strong>: А я буду каждый день ходить в школу?
		</p>
		<p>
			<strong>Мама</strong>: Конечно. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> девяти утра <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> двух часов ты будешь в школе.
		</p>
		<p>
			<strong>Сын</strong>: А потом домой, играть в компьютер?
		</p>
		<p>
			<strong>Мама</strong>: Нет. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> трёх <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> пяти часов три раза в неделю ты будешь ходить на каратэ.
		</p>
		<p>
			<strong>Сын</strong>: А потом домой, играть в компьютер?
		</p>
		<p>
			<strong>Мама</strong>: Нет. Потом <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> шести <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> семи два раза в неделю ты будешь ходить на рисование.
		</p>
		<p>
			<strong>Сын</strong>: Ну а потом? Домой? Играть в компьютер?
		</p>
		<p>
			<strong>Мама</strong>: Э.., не совсем. <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> субботам ты будешь ходить на танцы, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> часа <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> трёх.
		</p>
		<p>
			<strong>Сын</strong>: Хорошо. А когда я закончу школу, я могу играть в компьютер?
		</p>
		<p>
			<strong>Мама</strong>: После школы ты поступишь в университет. Там ты будешь учиться <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> семнадцати лет <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> двадцати двух. Ты будешь учиться каждый день, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> утра <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> вечера, потому что ты умный мальчик. И я хочу, чтобы у тебя была хорошая профессия.
		</p>
		<p>
			<strong>Сын</strong>: Хорошо. Мама, а потом, после университета? Я буду, буду играть в компьютер?
		</p>
		<p>
			<strong>Мама</strong>: Ну, потом тебе надо будет много работать, чтобы заработать много денег и купить твоей уже немолодой маме домик в деревне.
		</p>
		<p>
			<strong>Сын</strong>: Мама, а когда я буду играть в компьютер?!
		</p>
		<p>
			<strong>Мама</strong>: Ну, вот когда станешь пенсионером — тогда и играй.
		</p>
		<p>
			<strong>Сын</strong>: Мама, я не хочу в школу, я хочу на пенсию.
		</p>
    </div>
</div>
<div class="task learning  typseven" id="task-4" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
			<div>
		<h2>Задание 4. Какая цифра?</h2>
		<p>Task 4. Read the sentences and write in the correct numbers instead of the words given in the brackets. Use the on-screen keyboard.</p>
	</div>

		<form>
			<ol>
				<li>С <span class="if_correct">6</span><input type="text" size="1" answer="6" class="if_learning"> <span class="if_learning">(шести)</span> до <span class="if_correct">7</span><input type="text" size="1" answer="7" class="if_learning"> <span class="if_learning">(семи)</span> лет два раза в неделю ты будешь ходить на рисование.</li>
				<li>С <span class="if_correct">9</span><input type="text" size="1" answer="9" class="if_learning"> <span class="if_learning">(девяти)</span> утра до <span class="if_correct">2</span><input type="text" size="1" answer="2" class="if_learning"> <span class="if_learning">(двух)</span> часов ты будешь в школе.</li>
				<li>Ты будешь учиться в школе с <span class="if_correct">7</span><input type="text" size="1" answer="7" class="if_learning"> <span class="if_learning">(семи)</span> лет до <span class="if_correct">17</span><input type="text" size="1" answer="17" class="if_learning"> <span class="if_learning">(семнадцати)</span>.</li>
				<li>По субботам ты будешь ходить на танцы, с <span class="if_correct">1</span><input type="text" size="1" answer="1" class="if_learning"> <span class="if_learning">(часа)</span> до <span class="if_correct">3</span><input type="text" size="1" answer="3" class="if_learning"> <span class="if_learning">(трёх)</span>.</li>
				<li>Ты будешь ходить на каратэ с <span class="if_correct">3</span><input type="text" size="1" answer="3" class="if_learning"> <span class="if_learning">(трёх)</span> до <span class="if_correct">5</span><input type="text" size="1" answer="5" class="if_learning"> <span class="if_learning">(пяти)</span> часов три раза в неделю.</li>
				<li>После школы ты будешь учиться в университете с <span class="if_correct">17</span><input type="text" size="1" answer="17" class="if_learning"> <span class="if_learning">(семнадцати)</span> до <span class="if_correct">22</span><input type="text" size="1" answer="22" class="if_learning"> <span class="if_learning">(двадцати двух)</span> лет.</li>
			</ol>
		</form>
    </div>
</div>
	
<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask" style="width:830px;">
			<h1>Prepositions to denote time frames: “с… по… ”, “с… до…”, “от… до…”</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/prepositions-to-denote-time-frames-s--po---s--do---ot--dor/" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson46/minitables/1.png" alt="LR">
		</div>
	</div>
<div class="task learning  typfour" id="task-5" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask long">
        	<div>
		<h2>Задание 5. Используя таблицу, напишите правильные предлоги.</h2>
		<p>Task 5. Study the table above and complete the sentences with the correct prepositions. Use the on-screen keyboard.</p>
	</div>

        <form>
            <ol>
				<li>Снег идёт <input type="text" size="1" answer="с" class="if_learning"><span class="if_correct">с</span> утра <input type="text" size="1" answer="до" class="if_learning"><span class="if_correct">до</span> вечера.</li>
				<li>Крестьяне в поле работают <input type="text" size="1" answer="от" class="if_learning"><span class="if_correct">от</span> зари и <input type="text" size="1" answer="до" class="if_learning"><span class="if_correct">до</span> зари.</li>
				<li>В нашем районе не будет воды <input type="text" size="1" answer="с" class="if_learning"><span class="if_correct">с</span> августа <input type="text" size="1" answer="по" class="if_learning"><span class="if_correct">по</span> конец сентября.</li>
				<li>Его командировка продлится <input type="text" size="1" answer="с" class="if_learning"><span class="if_correct">с</span> двенадцатого октября <input type="text" size="1" answer="по" class="if_learning"><span class="if_correct">по</span> тридцатое октября.</li>
				<li>Как трудно жить без кредитки. Только <input type="text" size="1" answer="от" class="if_learning"><span class="if_correct">от</span> зарплаты <input type="text" size="1" answer="до" class="if_learning"><span class="if_correct">до</span> зарплаты.</li>
				<li>Новогодние каникулы в России длятся <input type="text" size="1" answer="с" class="if_learning"><span class="if_correct">с</span> тридцать первого декабря <input type="text" size="1" answer="по" class="if_learning"><span class="if_correct">по</span> двенадцатое января.</li>
				<li>Я не могу слушать эту музыку <input type="text" size="1" answer="с" class="if_learning"><span class="if_correct">с</span> утра и <input type="text" size="1" answer="до" class="if_learning"><span class="if_correct">до</span> утра.</li>
				<li><input type="text" size="1" answer="с" class="if_learning"><span class="if_correct">с</span> понедельника <input type="text" size="1" answer="по" class="if_learning"><span class="if_correct">по</span> пятницу я не живу, а выживаю.</li>
				<li><input type="text" size="1" answer="с" class="if_learning"><span class="if_correct">с</span> одиннадцати часов и <input type="text" size="1" answer="до" class="if_learning"><span class="if_correct">до</span> позднего вечера он пытался починить наш компьютер, но не смог.</li>
				<li><input type="text" size="1" answer="от" class="if_learning"><span class="if_correct">от</span> сессии <input type="text" size="1" answer="до" class="if_learning"><span class="if_correct">до</span> сессии живут студенты весело, а сессия два раза в год!</li>
            </ol>
        </form>
    </div>
</div>
	
<div class="task learning  typthird" id="task-6" hash="383a8087a71d1626a1f1e228b86a6854">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 6. Какие предлоги пропущены?</h2>
		<p>Task 6. Look at the pictures and click the correct prepositions.</p>
	</div>
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
		<li>5</li>
	
		<li>6</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<img src="/s/content/lesson46/6_1.png" alt="LR">
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с… по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<img src="/s/content/lesson46/6_2.png" alt="LR">
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с… по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<img src="/s/content/lesson46/6_3.png" alt="LR"> 
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с… до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-4">
				
							<img src="/s/content/lesson46/6_4.png" alt="LR">
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… по, с… до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с… до, с… до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… по, с… по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… до, с… по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-5">
				
							<img src="/s/content/lesson46/6_5.png" alt="LR">
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с… по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-6">
				
							<img src="/s/content/lesson46/6_6.png" alt="LR">
			<div class="clears"></div>
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с… по</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с… до</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
	
	
<div class="task learning  typthird" id="task-7" hash="4b8e3e0caf579475e0c15420b3500ca4">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 7. Тест.</h2>
		<p>Task 7. Click the correct answer.</p>
	</div>
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
		<li>5</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">Менеджеры сидели на собрании …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с одиннадцати до четырнадцати часов</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с одиннадцати по четырнадцать часов</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>от одиннадцати до четырнадцати часов</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">Крестьяне работали в поле…</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с зари до зари</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с зари по зарю</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">от зари до зари</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<p class="twentybold">Конференция в Цюрихе проходила …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с пятого февраля до девятого февраля</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с пятого февраля по девятое февраля</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>от пятого февраля до девятого февраля</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-4">
				
							<p class="twentybold">Родители обычно живут на даче …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с мая до октября</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с мая по октябрь</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>от мая до октября</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-5">
				
							<p class="twentybold">Она не может работать без обеда …</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">с утра до вечера</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>с утра по вечер</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>от утра до вечера</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
	


			</div>
						
		

<div class="lessoncomplected" style="display: none">
	<p>
		<a class="underline" href="/lessons/speaking-about-time-prepositions-za-na-cherez-nazad/">← Lesson 45</a>
		<a class="underline" href="/lessons/speaking-about-time-constructions-words-davno-dolgo-nedavno-nedolgo/">Lesson 47 →</a>
	</p>				
</div>

<div class="lessoncomplected popup">
	<div class="close"></div>
	<p>
		<a class="underline" href="/lessons/speaking-about-time-prepositions-za-na-cherez-nazad/">← Lesson 45</a>
		<a class="underline" href="/lessons/speaking-about-time-constructions-words-davno-dolgo-nedavno-nedolgo/">Lesson 47 →</a>
	</p>				
</div>
                <div class="barkeybord">
                    <div class="linekeyb"></div>
                    <div class="dlinekeyb">
                        <div class="keybord">
                            <div class="output"></div>
                            <p>"Caps Lock" is on</p>
                            <div class="clears"></div>
                            <ul>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ё</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">1</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">2</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">3</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">4</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">5</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">6</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">7</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">8</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">9</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">0</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="backspace">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgbackspace">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">й</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ц</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">у</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">к</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">е</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">н</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">г</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ш</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">щ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">з</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">х</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ъ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition fleft">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ф</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ы</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">в</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">а</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">п</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">р</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">о</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">л</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">д</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ж</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">э</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">я</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ч</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">с</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">м</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">и</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">т</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ь</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">б</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ю</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">.</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition gap">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">&nbsp;</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				
				
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>