---
description: "Review tests to check your progress. Each test is based on the material studied in lessons 96-100: topics such as speaking about person’s appearance, figure, personality, temperament, as well as idioms and phrases about personality. Scan your memory for things you need to review."
keywords: "test, quiz, task, check your level, progress, material, lessons, review, memory, russian, scan, topics, speaking, appearance, person, person's appearance, figure, personality, temperament, idioms, phrases, phrases about personality "
title: "Test 20 — LearnRussian Tests"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
								
						<li><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
					
						<li class="active"><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
				<link href="/s/css/tests.css?d" rel="stylesheet" type="text/css">
<script src="/s/js/pages/tests.js?d"></script>
<div id="" class="homework">
					    <div class="breadcrumb"><a class="underline" href="/tests/">Tests</a> /</div>

    		<div class="lesson">
			<div class="rlesson hide">
				<div class="last_result_text">
					Last Result
				</div>
				<div class="est_percent">
					<div class="percent">
						
					</div>
					<div class="percent_sign">
						%
					</div>
					
				</div>
				<div class="est_time">
					
				</div>
			</div>
			<div class="llesson">
				<p>20.</p>
			</div>
			<div class="clesson">
			       <h1>Lessons 96–100</h1>
				<div class="header_buttons">
					<div class="test_btn">
						test
					</div>
					<div class="show_results">
						my results
					</div>
				</div>
			</div>
		    </div>
				
                    <div class="topbar">
                    <div class="up">
                            <ul>
                                <li><a class="underline" href="/vocabulary/lesson-96-100/">Open vocabulary for lessons 96–100</a></li>
                                <li class="topbar_buttons"><div class="start_button"></div></li>
				<li class="testtimer" data="||"></li>
                            </ul>
                    </div>
                    <div class="down"></div>
                    </div>

<div id="test-20" class="testwrap">
	
	
</div>					

<div class="testcompleted popup">
	<div class="close"></div>
	<div class="est_percent">
		<div class="percent">
			
		</div>
		<div class="percent_sign">
			%
		</div>
		
	</div>
	<div class="est_time">
		
	</div>
	<div class="show_results active">
		Show results
	</div>
	<div class="share_btns">
		
	</div>
</div>

					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
	</div>		




</body></html>