---
---
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="google-site-verification" content="VQLbsaWKiXW2-Vt4lP7MevnhMES537NO4fQjfGgLcbI">
	<meta name="description" content="In the table “Verbs of Motion with the Prefixes pri- and u-” you will learn about the meaning of the prefixes pri- and u-. You will learn to use the prefixes pri- and u- with verbs of the two main groups of verbs of motion. You will also learn to conjugate verbs of motion with the prefixes pri- and u-.">
	<meta property="og:image" content="/s/content/logo.png">
	<meta name="keywords" content="Russian grammar, grammar charts, grammar tables, explanation, exercise">
    <title>Verbs of Motion with the prefixes “при-“ and “у-“ — LearnRussian Grammar tables</title>
	<link href="/s/css/style.css?v14" rel="stylesheet" type="text/css">
	<link href="/s/css/lessons.css?v13" rel="stylesheet" type="text/css">
	<link href="/s/css/typtask.css?v15" rel="stylesheet" type="text/css">
	<link href="/s/css/custom_control.css?v4" rel="stylesheet" type="text/css">
	<!--[if IE 7]> 
		<link href="/s/css/ieonly7.css?v6" rel="stylesheet" type="text/css">
	<![endif]--> 

	<script src="/s/js/libs.js"></script>
	<script src="/s/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/s/js/custom_control.js?d"></script>
	<script src="/s/js/learn_russian.js?p"></script>
</head>
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
								
						<li><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
					
						<li class="active"><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
				<link href="/s/css/tables/styles.css" rel="stylesheet" type="text/css">
<!--[if IE 7]>
<link href="/s/css/tables/ieonly7.css" rel="stylesheet" type="text/css">
<![endif]-->
			<div id="table" class="t30">
									    <div class="breadcrumb"><a class="underline" href="/grammar-tables/">Grammar tables</a> /</div>

					<div class="lesson">
						<div class="clesson">
							<h1>Verbs of Motion with the prefixes “при-“ and “у-“</h1>
								<div class="pt20 pb20"><a class="underline" href="/s/content/pdf/Verbs_of_motion_with_the_prefixes_pri_and_u.pdf"><span class="pdf"></span> Print version</a> <span class="grey">(PDF 944 KB)</span></div>		<a class="underline" href="/lessons/verbs-of-motion-and-prefixes-pri--and-u/">Lesson 34</a><br><br>
                            <div class="mt10 pb5">Part 1. <a href="#part1" class="underline">Prefix “при-“</a></div>
                            <div class="mt5 pb5">Part 2. <a href="#part2" class="underline">Prefix “у-“</a></div>
                            <div class="mt5 pb5">Part 3. <a href="#part3" class="underline">Conjugation</a></div>
						</div>						
						<div class="r-star-shape">
							<div class="cn tl"></div>
								<div class="cn tr"></div>						
								<div class="conten">
									<div class="conten cr">
										<p>The prefix <strong>при-</strong> denotes arrival somewhere, at some place. The key point here is&nbsp;the&nbsp;presence of a person or object in the given place. Verbs with the prefix <strong>при-</strong> answer the questions Куда? Откуда? (Where? From where?).</p>  
									</div>
								</div>							
							<div class="cn bl"></div>
							<div class="cn br"></div>
						</div>
						<center>
							<img class="imgon" src="/s/css/tables/t30_1.png" alt="LR">
							<ul>
								<li class="fz20">Самолёт <span class="red">прилетел</span>.</li>
								<li>The plane arrived.</li>
							</ul>
						</center>
						<ul class="l on">
							<li class="fz20">Мы <span class="red">пришли</span> на&nbsp;встречу<br>в шесть часов.</li>
							<li>We arrived at the meeting at&nbsp;6&nbsp;o’clock.</li>
							<li>(We are now at&nbsp;the&nbsp;meeting in an arranged<br>place.)</li>
						</ul>
						<ul class="l">
							<li class="fz20 mb38">Мама <span class="red">пришла</span> с&nbsp;работы домой.</li>
							<li>Mother arrived home from work.</li>
							<li>(Mother was at work, but&nbsp;now she&nbsp;is&nbsp;at home.)</li>
						</ul>
						<div class="clears"></div>
						<ul class="l on">
							<li class="fz20">Новый коллега <span class="red">приехал</span> к&nbsp;нам&nbsp;из&nbsp;Америки.</li>
							<li>A new colleague has come to us from America.</li>
							<li>(He used to work in&nbsp;America, but now he works<br>with us.)</li>
						</ul>
						<ul class="l">
							<li class="fz20 mb38">Самолёт <span class="red">прилетел</span> в&nbsp;аэропорт вовремя.</li>
							<li>The plane arrived at&nbsp;the&nbsp;airport on time.</li>
							<li>(The&nbsp;plane is at the airport now.)</li>
						</ul>
						<div class="clears"></div>
						<div class="tabl on">
							<h2>Table &amp; Examples: Meanings of groups of verbs of&nbsp;motion<br>with the prefix “при-”</h2>
							<p class="fz20 red">Remember</p>
							<p>Verbs of motion with prefixes have one peculiarity: the Present Tense usually requires a verb from the&nbsp;“ходить” group, as they show that the action is taking place right now. Verbs from the “идти” group are used in the Past Tense to show a completed action or in the Future Tense to indicate a potential result.</p>
							<p class="l posabs">“Идти” group<br>ехать, лететь, плыть, бежать, нести, везти, вести</p>
							<p class="r posabs">“Ходить” group<br>ездить, летать, плавать, бегать, носить, возить, водить</p>
							<p class="clears bor_bot">Past Tense</p>
							<p class="l posabc">Meaning: result of an action. Used frequently.</p>
							<p class="r posabc">Optional meaning: The regularity or periodicity of an action in past. Used with the words “всегда”, “никогда”, “обычно”, “часто” etc.</p>
							<div class="clears"></div>
							<ul class="l">
								<li>Сегодня он <span class="red">пришёл</span> в класс раньше всех.</li>
								<li>Вчера мы рано <span class="red">пришли</span> в офис.</li>
							</ul> 
							<ul class="r">
								<li><u>Каждое утро</u> он <span class="red">приходил</span> в класс раньше всех.</li>
								<li><u>Обычно</u> мы <span class="red">приходили</span> в офис позже.</li>
							</ul>
							<p class="clears bor_bot">Present Tense</p>
							<ul class="r">
								<li>Meanings: 1. A process. Used frequently.</li>
								<li>2. The regularity or periodicity of an action in&nbsp;present. Use&nbsp;with the words “всегда”, “никогда”, “обычно”, “часто” etc.</li>
							</ul>
							<div class="clears"></div>
							<p class="l">———————</p>
							<ul class="r">
								<li>Он сейчас <span class="red">приходит</span> в класс.</li>
								<li>Наш самолёт <span class="red">прилетает</span> по расписанию.</li>
								<li>Он <u>всегда</u> <span class="red">приходит</span> вовремя.</li>
								<li>Самолёты этой <span class="red">авиакомпании</span> <u>всегда</u> прилетают по расписанию.</li>
							</ul>
							<p class="clears bor_bot">Future Tense</p>
							<p class="l posabc">Meaning: potential, predictable result. Used frequently.</p>
							<p class="r posabc">Optional meaning: The regularity or periodicity of&nbsp;an&nbsp;action in future.</p>
							<div class="clears"></div>
							<ul class="l">
								<li>В этом месяце он будет приходить в класс раньше всех потому, что он дежурный.</li>
								<li>С понедельника за вами будет приезжать такси.</li>
							</ul>
							<ul class="r">
								<li>В этом месяце он будет приходить в класс раньше всех потому, что он дежурный.</li>
								<li>С понедельника за вами будет приезжать такси.</li>
							</ul>							
						</div>
						<h2><span>Part 2.</span> <a name="#part2">Prefix “у-“</a></h2>
						<div class="r-star-shape">
							<div class="cn tl"></div>
								<div class="cn tr"></div>						
								<div class="conten">
									<div class="conten cr">
										<p>The prefix у- denotes departure from some place. The key point here is the absence of a person or object in the given place and its relocation to another place. Verbs with&nbsp;the prefix у- answer the questions Куда? Откуда? (Where? From where?).</p>  
									</div>
								</div>							
							<div class="cn bl"></div>
							<div class="cn br"></div>
						</div>
						<center>
							<img class="imgtw" src="/s/css/tables/t30_2.png" alt="LR">
							<ul>
								<li class="fz20">Самолёт <span class="red">улетел</span>.</li>
								<li>The plane departed.</li>
							</ul>
						</center>						
						<ul class="l on">
							<li class="fz20">Папа <span class="red">утром</span> ушёл на работу.</li>
							<li>Father left for work in&nbsp;the&nbsp;morning.<br>(Father is&nbsp;not at&nbsp;home, he has gone to work.)</li>
						</ul>
						<ul class="l">
							<li class="fz20">Мои родители <span class="red">уехали</span> на лето на&nbsp;дачу.</li>
							<li>Mother arrived home from work.<br>(Mother was at work, but&nbsp;now she&nbsp;is&nbsp;at home.)</li>
						</ul>
						<div class="clears"></div>
						<ul class="l on">
							<li>Самолёт <span class="red">улетел</span> в&nbsp;12 часов дня.</li>
							<li>The plane departed at 12 noon. (The plane is&nbsp;not<br>at the airport now, it is flying to another city.)</li>
						</ul>
						<ul class="l">
							<li>Наш друг <span class="red">уехал</span> в&nbsp;командировку.</li>
							<li>Our friend has gone on&nbsp;a&nbsp;business trip.<br>(Our&nbsp;friend is&nbsp;not with us now, he&nbsp;is&nbsp;in&nbsp;another city.)</li>
						</ul>
						<div class="clears"></div>
						<div class="tabl tw">						
							<h2>Table &amp; Examples: Meanings of groups of&nbsp;verbs<br>of motion with the prefix “у-”</h2>
							<p class="fz20 red">Remember</p>
							<p>Verbs of motion with prefixes have one peculiarity: the Present Tense usually requires a verb from the “ходить” group, as they show that the action is taking place right now. Verbs from the “идти” group are used in the Past Tense to show a completed action or in the Future Tense to indicate a potential result.</p>
							<p class="l posabs">“идти” group</p>
							<p class="r posabs">“ходить” group</p>
							<p class="clears bor_bot">Past Tense</p>
							<p class="l posabc">Meaning: result of an action. Used frequently.</p>
							<p class="r posabc">Optional meaning: The regularity or periodicity of&nbsp;an&nbsp;action in past. Used with the words “всегда”, “никогда”, “обычно”, “часто” etc.</p>
							<div class="clears"></div>
							<ul class="l">
								<li>Сегодня он ушёл из класса позже всех.</li>
								<li>Вчера Иван Иванович рано ушёл домой.</li>
							</ul>
							<ul class="r">
								<li>Каждый день он уходил из класса позже всех.</li>
								<li>Обычно он уходил домой позже всех.</li>
							</ul>
							<p class="clears bor_bot">Present Tense</p>
							<p class="l">———————</p>
							<ul class="r">
								<li>Meanings: 1. A process. Used frequently.</li>
								<li>2.The regularity or periodicity of an action in&nbsp;present. Use&nbsp;dwith the words “всегда”, “никогда”, “обычно”, “часто” etc.</li>
							</ul>
							<div class="clears"></div>
							<ul class="r">
								<li>Он сейчас уходит из класса.</li>
								<li>Обычно бабушка уезжает вечером.</li>
								<li>Мы опоздали, наш самолёт сейчас улетает.</li>
							</ul>
							<p class="clears bor_bot">Future Tense</p>
							<p class="l posabc">Meaning: potential, predictable result. Used frequently.</p>
							<p class="r posabc">Optional meaning: The regularity or periodicity of&nbsp;an&nbsp;action in future.</p>
							<div class="clears"></div>
							<ul class="l">
								<li>Через 5 минут он уйдёт из класса.</li>
								<li>Если ты не поспешишь, машина уедет без тебя.</li>
							</ul>
							<ul class="r">
								<li>В этом месяце он будет уходить из класса позже всех потому, что он дежурный.</li>
								<li>Машина всегда будет уезжать без тебя, если&nbsp;ты&nbsp;всегда будешь опаздывать.</li>
							</ul>
						</div>
						<h2><span>Part 3.</span> <a name="#part3">Conjugation</a></h2>
						<div class="tabl thr">
							<p class="red fz20">Remember</p>
							<p>The prefixes “при-” and “у-” denote a non-specific change of position of a person or object, usually within a large space or long distances, while pointing only at the presence or absence of&nbsp;somebody or something in the given place at the moment of speech.</p>
							<p class="l posabs tac">при-</p>
							<p class="r posabs tac">у-</p>
							<div class="clears"></div>
							<p class="l">
								<span class="col1">“идти” group</span> “ходить” group
							</p>
							<p class="r mr">
								<span class="col3">“идти” group</span> “ходить” group
							</p>
							<div class="clears"></div>
							<p class="l posabs">
								<span class="col1">прийти</span> походить
							</p>
							<p class="r posabs">
								<span class="col3">уйти</span> уходить
							</p>
							<p class="clears bor_bot">Present Tense</p>
							<ul class="l col1">
								<li>я приду</li>
								<li>ты придёшь</li>
								<li>он/она придёт</li>
								<li>мы придём</li>
								<li>вы придёте</li>
								<li>они придут</li>
							</ul>
							<ul class="l col2">
								<li>я прихожу</li>
								<li>ты приходишь</li>
								<li>он/она приходит</li>
								<li>мы приходим</li>
								<li>вы приходите</li>
								<li>они приходят</li>
							</ul>
							<ul class="l col3">
								<li>я уйду</li>
								<li>ты уйдёшь</li>
								<li>он/она уйдёт</li>
								<li>мы уйдём</li>
								<li>вы уйдёте</li>
								<li>они уйдут</li>
							</ul>
							<ul class="l">
								<li>я ухожу</li>
								<li>ты уходишь</li>
								<li>он/она уходит</li>
								<li>мы уходим</li>
								<li>вы уходите</li>
								<li>они уходят</li>
							</ul>
							<p class="clears bor_bot">Past Tense</p>
							<ul class="l col1">
								<li>он пришёл</li>
								<li>она пришла</li>
								<li>они пришли</li>
							</ul>
							<ul class="l col2">
								<li>он приходил</li>
								<li>она приходила</li>
								<li>они приходили</li>
							</ul>
							<ul class="l col3">
								<li>он ушёл</li>
								<li>она ушла</li>
								<li>они ушли</li>
							</ul>
							<ul class="l">
								<li>он уходил</li>
								<li>она уходила</li>
								<li>они уходили</li>
							</ul>
							<div class="clears"></div>
							<p class="l posabs">
								<span class="col1">приехать</span> приезжать
							</p>
							<p class="r posabs">
								<span class="col3">уехать</span> уезжать
							</p>
							<p class="clears bor_bot">Present Tense</p>
							<ul class="l col1">
								<li>я приеду</li>
								<li>ты приедешь</li>
								<li>он/она приедет</li>
								<li>мы приедем</li>
								<li>вы приедете</li>
								<li>они приедут</li>
							</ul>
							<ul class="l col2">
								<li>я приезжаю</li>
								<li>ты приезжаешь</li>
								<li>он/она приезжает</li>
								<li>мы приезжаем</li>
								<li>вы приезжаете</li>
								<li>они приезжают</li>
							</ul>
							<ul class="l col3">
								<li>я уеду</li>
								<li>ты уедешь</li>
								<li>он/она уедет</li>
								<li>мы уедем</li>
								<li>вы уедете</li>
								<li>они уедут</li>
							</ul>
							<ul class="l">
								<li>я уезжаю</li>
								<li>ты уезжаешь</li>
								<li>он/она уезжает</li>
								<li>мы уезжаем</li>
								<li>вы уезжаете</li>
								<li>они уезжают</li>
							</ul>
							<p class="clears bor_bot">Past Tense</p>
							<ul class="l col1">
								<li>он приехал</li>
								<li>она приехала</li>
								<li>они приехали</li>
							</ul>
							<ul class="l col2">
								<li>он приезжал</li>
								<li>она приезжала</li>
								<li>они приезжали</li>
							</ul>
							<ul class="l col3">
								<li>он уехал</li>
								<li>она уехала</li>
								<li>они уехали</li>
							</ul>
							<ul class="l">
								<li>он уезжал</li>
								<li>она уезжала</li>
								<li>они уезжают</li>
							</ul>
							<div class="clears"></div>
							<p class="l posabs">
								<span class="col1">прилететь</span> прилетать
							</p>
							<p class="r posabs">
								<span class="col3">улететь</span> улетать
							</p>
							<p class="clears bor_bot">Present Tense</p>
							<ul class="l col1">
								<li>я прилечу</li>
								<li>ты прилетишь</li>
								<li>он/она прилетит</li>
								<li>мы прилетим</li>
								<li>вы прилетите</li>
								<li>они прилетят</li>
							</ul>
							<ul class="l col2">
								<li>я прилетаю</li>
								<li>ты прилетаешь</li>
								<li>он/она прилетает</li>
								<li>мы прилетаем</li>
								<li>вы прилетаете</li>
								<li>они прилетают</li>
							</ul>
							<ul class="l col3">
								<li>я улечу</li>
								<li>ты улетишь</li>
								<li>он/она улетит</li>
								<li>мы улетим</li>
								<li>вы улетите</li>
								<li>они улетят</li>
							</ul>
							<ul class="l">
								<li>я улетаю</li>
								<li>ты улетаешь</li>
								<li>он/она улетает</li>
								<li>мы улетаем</li>
								<li>вы улетаете</li>
								<li>они улетают</li>
							</ul>
							<p class="clears bor_bot">Past Tense</p>
							<ul class="l col1">
								<li>он прилетел</li>
								<li>она прилетела</li>
								<li>они прилетели</li>
							</ul>
							<ul class="l col2">
								<li>он прилетал</li>
								<li>она прилетала</li>
								<li>они прилетали</li>
							</ul>
							<ul class="l col3">
								<li>он улетел</li>
								<li>она улетела</li>
								<li>они улетели</li>
							</ul>
							<ul class="l">
								<li>он улетал</li>
								<li>она улетала</li>
								<li>они улетали</li>
							</ul>
							<div class="clears"></div>
							<p class="l posabs">
								<span class="col1">приплыть</span> приплывать
							</p>
							<p class="r posabs">
								<span class="col3">уплыть</span> уплывать
							</p>
							<p class="clears bor_bot">Present Tense</p>
							<ul class="l col1">
								<li>я приплыву</li>
								<li>ты приплывёшь</li>
								<li>он/она приплывёт</li>
								<li>мы приплывём</li>
								<li>вы приплывёте</li>
								<li>они приплывут</li>
							</ul>
							<ul class="l col2">
								<li>я приплываю</li>
								<li>ты приплываешь</li>
								<li>он/она приплывает</li>
								<li>мы приплываем</li>
								<li>вы приплываете</li>
								<li>они приплывают</li>
							</ul>
							<ul class="l col3">
								<li>я уплыву</li>
								<li>ты уплывёшь</li>
								<li>он/она уплывёт</li>
								<li>мы уплывём</li>
								<li>вы уплывёте</li>
								<li>они уплывут</li>
							</ul>
							<ul class="l">
								<li>я уплываю</li>
								<li>ты уплываешь</li>
								<li>он/она уплывает</li>
								<li>мы уплываем</li>
								<li>вы уплываете</li>
								<li>они уплывают</li>
							</ul>
							<p class="clears bor_bot">Past Tense</p>
							<ul class="l col1">
								<li>он приплыл</li>
								<li>она приплыла</li>
								<li>они приплыли</li>
							</ul>
							<ul class="l col2">
								<li>он приплывал</li>
								<li>она приплывала</li>
								<li>они приплывали</li>
							</ul>
							<ul class="l col3">
								<li>он уплыл</li>
								<li>она уплыла</li>
								<li>они уплыли</li>
							</ul>
							<ul class="l">
								<li>он уплывал</li>
								<li>она уплывала</li>
								<li>они уплывали</li>
							</ul>
						</div>					
					</div>						
				<!-- LR(SMaverick):82 - 87				
						<a name="part1"><img src="/s/css/tables/pics/34_1.png" class="mb100"></a>
						<a name="part2"><img src="/s/css/tables/pics/34_2.png" class="mb100"></a>
						<a name="part3"><img src="/s/css/tables/pics/34_3.png" class="mb70"></a>
						:ненужный код-->	
			</div>

					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>