---
description: "In the table “Conditional Sentences with “esli” and “esli by“” you will learn constructions with “esli” and “esli by”. You will learn how to talk about real conditions and cases when results are not as expected. You will also learn how to use verbs in conditional sentences with “esli” and “esli by”."
keywords: "Russian grammar, grammar charts, grammar tables, explanation, exercise"
title: "Conditional sentences with “если” and “если бы” — LearnRussian Grammar tables"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				{% include hmenu.html %}
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
				<link href="/s/css/tables/styles.css" rel="stylesheet" type="text/css">
<!--[if IE 7]>
<link href="/s/css/tables/ieonly7.css" rel="stylesheet" type="text/css">
<![endif]-->
			<div id="table" class="t38">
									    <div class="breadcrumb"><a class="underline" href="/grammar-tables/">Grammar tables</a> /</div>

					<div class="lesson">
						<div class="clesson">
							<h1>Conditional sentences with <nobr>“если” – ”если бы”</nobr></h1>
								<div class="pt20 pb20"><a class="underline" href="/s/content/pdf/Conditional_sentenses_with_esli_esli_bi.pdf"><span class="pdf"></span> Print version</a> <span class="grey">(PDF 753 KB)</span></div>		<a class="underline" href="/lessons/conditional-sentences-if-then/">Lesson 42</a><br><br>
						</div>
						<p class="tac fz26">Если вы читаете этот текст, значит, вы уже можете<br>читать по-русски. А если бы вы не знали русский язык,<br>вы бы не смогли прочитать этот текст.</p>
						<div class="r-star-shape">
							<div class="cn tl"></div>
								<div class="cn tr"></div>						
								<div class="conten">
									<div class="conten cr">
										<p>In the Russian language, constructions with <strong>если</strong> are used to express real conditions. Verbs in such constructions are usually used in the present and Future Tenses.</p>  
									</div>
								</div>							
							<div class="cn bl"></div>
							<div class="cn br"></div>
						</div>
						<p class="l on fz20"><span class="red">Если</span> ты умеешь водить машину,<br>я&nbsp;разрешу тебе сесть за руль.</p>
						<p class="l fz20"><span class="red">Если</span> она придёт, мы поговорим<br>об&nbsp;этом.</p>
						<div class="clears"></div>
						<div class="r-star-shape">
							<div class="cn tl"></div>
								<div class="cn tr"></div>						
								<div class="conten">
									<div class="conten cr">
										<p><strong>Если бы</strong> indicates that the action has not taken place and so the result differs from the one we&nbsp;expected. Verbs in such constructions are usually used in the Past Tense.</p>
									</div>
								</div>							
							<div class="cn bl"></div>
							<div class="cn br"></div>
						</div>
						<ul class="l on">
							<li class="fz20"><span class="red">Если бы</span> ты умел водить машину,<br>я разрешил бы тебе покататься<br>на&nbsp;моей.</li>
							<li>But you cannot drive so I will not let you take my car.</li>
						</ul>
						<ul class="l">
							<li class="fz20"><span class="red">Если бы</span> она пришла сегодня<br>вечером, то мы <span class="red">бы</span> поговорили<br>об&nbsp;этом.</li>
							<li>But she did not come so the conversation did not take<br>place.</li>
						</ul>
						<div class="clears"></div>
						<div class="tabl">
							<h2>Table: Meanings of “если” and “если бы”</h2>
							<p class="l posabs">если</p>
							<p class="r posabs">если бы</p>
							<p class="clears"><span class="l fz30 ">1.</span><span class="l bor_bot"><span class="l">если = real condition</span><span class="r">если бы…, то … = unreal condition</span></span></p>
							<p class="l">Если сын хорошо сдаст экзамены, родители<br>купят ему новый компьютер.</p>
							<p class="r">
								Если бы студент готовился к экзаменам,<br>то&nbsp;он&nbsp;сдал бы их без проблем.<br><span class="grey">The student did not prepare for the exams<br>so&nbsp;he&nbsp;failed them.</span>
							</p>
							<div class="clears"></div>
							<p class="l">Если завтра будет хорошая погода, мы пойдём<br>гулять в парк.</p>
							<p class="r">Если бы вчера была хорошая погода,<br>мы&nbsp;бы&nbsp;обязательно пошли гулять.<br><span class="grey">The weather was awful yesterday so we did not go<br>out, but we wanted to so much!</span></p>
							<div class="clears"></div>
							<p class="l">Если ты быстро закончишь работу, мы сможем<br>пораньше уехать на дачу.</p>
							<p class="r">Если бы ты быстрее работал, ты бы закончил<br>работу вовремя.<br><span class="grey">You are working slowly and so the work is behind<br>schedule.</span></p>						
							<p class="clears"><span class="l fz30">2.</span><span class="l bor_bot"><span class="l">если = when</span><span class="r">если бы = request</span></span></p>
							<p class="l">Если будешь в магазине, купи хлеба.</p>
							<p class="r">Если бы ты слушала меня, всё было бы<br>хорошо!<br><span class="fz14">Meaning: Listen to me and everything will be fine!</span></p>
							<div class="clears"></div>
							<p class="l">Если будешь звонить бабушке, передай<br>ей от нас привет!</p>
							<p class="r">Если бы ты сказал мне раньше об этом,<br>мы&nbsp;бы&nbsp;не&nbsp;сделали ошибки!<br><span class="fz14">Meaning: I ask you to point out any problems!</span></p>
							<div class="clears"></div>
							<p class="l">Если пойдёте в кино, позвоните мне.<br>Я тоже пойду.</p>							
							<p class="clears"><span class="l fz30">3.</span><span class="l bor_bot"><span class="l">если = already</span></span></p>
							<ul class="l">
								<li>Если всё написал, покажи свою работу.</li>
								<li>Если вы это знали, почему не сказали обо всём<br>директору?</li>
								<li>Если ты закончил работать, пойдём ужинать.</li>
							</ul>						
						</div>
						
						</div>
					<!-- LR(SMaverick):119 - 120
						<img src="/s/css/tables/pics/42.png" class="mb70">
						:ненужный код-->
			</div>

					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>