---
description: "In the lesson &quot;Verbs of Motion and the prefixes &quot;s-&quot;, &quot;raz-&quot; and the suffix &quot;-sya&quot; you will learn about Russian verbs of motion with different prefixes and a reflexive suffix, their meanings, common usage and the difference between the prefixes."
keywords: "reflexive suffix, verbs of motion, verbs, aspects of verbs, meaning of verbs of motion, motion, go, russian, grammar, imperfective, perfective, learn, prefixes denoting motion, coming near, going away, basic, A2"
title: "Verbs of Motion and the prefixes “с-”, “раз-” and the suffix “-ся”. — LearnRussian Lessons"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				{% include hmenu.html %}
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<script src="/s/js/pages/lessons.js?n"></script>
			<div id="homework-39" class="homework">
				   				    <div class="breadcrumb"><a class="underline" href="/lessons/lessons-36-40/">Lessons</a> /</div>

		            <div class="lesson">
						<div class="llesson">
							<p>39.</p>
						</div>
						<div class="rlesson">
							<p class="completed">0% completed</p>
						</div>
						<div class="clesson">
						    <h1>Verbs of Motion and the prefixes "с-", "раз-" and the suffix "-ся". </h1>
							<p class="vertwenty">После вечеринки все разъехались по домам.</p>
							<div class="r-star-shape">
								<div class="cn tl"></div>
									<div class="cn tr"></div>								
									<div class="conten">
										<div class="conten cr">
											<p>In this lesson you will learn verbs of motion with the prefixes <strong>с</strong>- and <strong>раз</strong>- and the suffix -<strong>ся</strong>, their meanings, usage, frequency, and the difference between them.</p>
											<p>For example:</p>
											<p><strong>Участники съезжались на конференцию</strong>.</p>
											<p><strong>Гости давно разошлись</strong>.</p> 
										</div>
									</div>									
								<div class="cn bl"></div>
								<div class="cn br"></div>
							</div>
							
						</div>
					</div>					
				
<div class="topbar">
<div class="up">
    <form>
        <ul>
            <li class="skeyb">
				<span class="small-keyboard">&nbsp;</span>
            </li>
            <li class="isearch">
				<input type="text" value="look up a word">
			</li>
			<li>
				<a class="underline" href="/vocabulary/lesson-36-40/">Open vocabulary for lessons 36–40</a>
			</li>            
        </ul>
		<div class="intellisense">
            <div>Hello</div>
            <div>world</div>
        </div>
    </form>
</div>
<div class="down"></div>
</div>















































	
	
<div class="task learning  typsecond" id="task-1" hash="70d5de74a533e2c64890cf92fd85d863">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">разошлись</span>
			
				<span class="draggable">съехались</span>
			
				<span class="draggable">разошлись</span>
			
				<span class="draggable">расходиться</span>
			
				<span class="draggable">разошлись</span>
			
				<span class="draggable">съезжались</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 1. Слушайте и закончите диалог.</h2>
		<p>Task 1. Listen  and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson39/1.png" alt="LR">
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson39/audio/39.1.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p><strong>Пётр</strong>: Ну, как вчера погуляли?</p>
		<p><strong>Михаил</strong>: Здорово! День рождения прошёл отлично. А почему ты не пришёл?</p>
		<p><strong>Пётр</strong>: Я не мог, на работе было собрание, и мы <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> только в 11 часов вечера. Я очень устал.</p>
		<p><strong>Михаил</strong>: Жаль. А мы <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> в ресторан только час. И когда уже все <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>, мы начали праздновать. Это было в 7 часов вечера.</p>
		<p><strong>Пётр</strong>: И много было людей?</p>
		<p><strong>Михаил</strong>: И родные, и коллеги, и друзья. Думаю, человек 25 или 26.</p>
		<p><strong>Пётр</strong>: Ого! А <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> когда?</p>
		<p><strong>Михаил</strong>: Гости начали <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> часов в 12 ночи, а окончательно <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> в 3 часа.</p>
		<p><strong>Пётр</strong>: И как ты сегодня работаешь?</p>
		<p><strong>Михаил</strong>: Нормально, только спать хочу!</p>
    </div>
</div>	
<div class="task learning  typsecond" id="task-2" hash="379bd18d2dcbc2f93cbec1370c39148e">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">разошлись</span>
			
				<span class="draggable">сходитесь</span>
			
				<span class="draggable">приезжай</span>
			
				<span class="draggable">разошлись</span>
			
				<span class="draggable">расходилась</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 2.  Слушайте и закончите диалог.</h2>
		<p>Task 2. Listen  and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson39/2.png" alt="LR">
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson39/audio/39.2.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p><strong>Дочь</strong>: Мама, мы опять с ним <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>!</p>
		<p><strong>Мать</strong>: Дочка, ты с мужем уже три раза <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> и что? Два-три дня проходит – и вы снова <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
		<p><strong>Дочь</strong>: Нет, на этот раз мы <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> навсегда!</p>
		<p><strong>Мать</strong>: Месяц назад я это уже слышала. Что сейчас случилось?</p>
		<p><strong>Дочь</strong>: Он въехал в киоск на моей машине!</p>
		<p><strong>Мать</strong>: На твоей новой машине?</p>
		<p><strong>Дочь</strong>: Да, а я только купила её неделю назад. Мне ещё кредит три года за неё платить! А она уже разбита!!!</p>
		<p><strong>Мать</strong>: Так, это действительно конец. Немедленно <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> ко мне. И если он тебе позвонит, не говори с ним. Я сама позвоню ему и скажу всё, что думаю.</p>
    </div>
</div>	
<div class="taskg nocheck minitasktable">
    <div class="ltask">
        <img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
    </div>
    <div class="ctask minitasktable" style="width: 850px;">
        <h1>Verbs of Motion with the prefixes «с-», «раз-» and the suffix «-ся»</h1>
        <p>Short <a class="underline tlinks" href="/grammar-tables/verbs-of-motion-with-the-prefixes-s---raz--ras--and-the-postfix--sya/" target="_blank">Full</a></p>

	<div class="gtabs">		<div class="tab selected" id="tab_1" style="width: 90px;">
			<div class="l"></div>
			<div class="c">
				<div class="cc" onclick="gtab_select('tab_1');">
					с- + -ся
				</div>
			</div>
			<div class="r"></div>		</div>		<div class="tab" id="tab_2" style="width: 90px;">
			<div class="l"></div>
			<div class="c">
				<div class="cc" onclick="gtab_select('tab_2');">
					раз- + -ся
				</div>
			</div>
			<div class="r"></div>		</div>	</div>

        <div class="nocheck gtab selected" id="gtab_1">
            
<div class="gallery" id="gal0">
	<div class="ltengal">
		<a href="javascript:" class="l str"></a>
	</div>
	<div class="rtengal">
		<a href="javascript:" class="r str"></a>
	</div>
	<div class="bgal">			
		<ul>				<li><img src="/s/content/lesson39/g1/1/1.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/1/2.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/1/3.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/1/4.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/1/5.png" alt="Learn Russian"></li>		</ul>			
	</div>	
</div>
        </div>

        <div class="nocheck gtab" id="gtab_2">
            
<div class="gallery" id="gal1">
	<div class="ltengal">
		<a href="javascript:" class="l str"></a>
	</div>
	<div class="rtengal">
		<a href="javascript:" class="r str"></a>
	</div>
	<div class="bgal">			
		<ul>				<li><img src="/s/content/lesson39/g1/2/1.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/2/2.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/2/3.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/2/4.png" alt="Learn Russian"></li>				<li><img src="/s/content/lesson39/g1/2/5.png" alt="Learn Russian"></li>		</ul>			
	</div>	
</div>
        </div>

    </div>
</div>
<div class="task learning  typfour" id="task-3" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
			<div>
		<h2>Задание 3.  Напишите правильные личные формы глаголов.</h2>
		<p>Task 3. Type the correct personal forms of these verbs. Use the on-screen keyboard.</p>
	</div>

		<img src="/s/content/lesson39/3.png" alt="LR">
        <form>			<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">сойтись</p>		
            <ol>
				<li>я <input type="text" size="7" answer="сойдусь" class="if_learning"><span class="if_correct">сойдусь</span></li>
				<li>ты <input type="text" size="9" answer="сойдёшься" class="if_learning"><span class="if_correct">сойдёшься</span></li>
				<li>он/она <input type="text" size="8" answer="сойдётся" class="if_learning"><span class="if_correct">сойдётся</span></li>
				<li>мы <strong>сойдёмся</strong></li>
				<li>вы <input type="text" size="9" answer="сойдётесь" class="if_learning"><span class="if_correct">сойдётесь</span></li>
				<li>они <input type="text" size="8" answer="сойдутся" class="if_learning"><span class="if_correct">сойдутся</span></li>
				<li class="margtop20">он <strong>сошёлся</strong></li>
				<li>она <input type="text" size="7" answer="сошлась" class="if_learning"><span class="if_correct">сошлась</span></li>
				<li>они <input type="text" size="7" answer="сошлись" class="if_learning"><span class="if_correct">сошлись</span></li>			
			</ol>
			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">сходиться</p> 
            <ol>
				<li>я <input type="text" size="7" answer="схожусь" class="if_learning"><span class="if_correct">схожусь</span></li>
				<li>ты <strong>сходишься</strong></li>
				<li>он/она <input type="text" size="8" answer="сходится" class="if_learning"><span class="if_correct">сходится</span></li>
				<li>мы <input type="text" size="8" answer="сходимся" class="if_learning"><span class="if_correct">сходимся</span></li>
				<li>вы <input type="text" size="9" answer="сходитесь" class="if_learning"><span class="if_correct">сходитесь</span></li>
				<li>они <input type="text" size="8" answer="сходятся" class="if_learning"><span class="if_correct">сходятся</span></li>
				<li class="margtop20">он <input type="text" size="8" answer="сходился" class="if_learning"><span class="if_correct">сходился</span></li>
				<li>она <strong>сходилась</strong></li>
				<li>они <input type="text" size="9" answer="сходились" class="if_learning"><span class="if_correct">сходились</span></li>
			</ol>
			</div>
		
	</content>
</tabcontrol>
        </form>
    </div>
</div>


 










	
<div class="task learning  typfour" id="task-4" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask long">
        	<div>
		<h2>Задание 4.  Вставьте правильные личные формы глаголов "сойтись" и "сходиться".</h2>
		<p>Task 4. Study the table "Verbs of Motion with the prefixes «<strong>с</strong>-», «<strong>раз</strong>-» and the suffix «-<strong>ся</strong>»" and complete the sentences with the correct forms of the verbs <strong>сойтись</strong>/<strong>сходиться</strong>. Use the on-screen keyboard.</p>
	</div>

        <form>
            <ol>
				<li>В этой битве они <strong>сошлись</strong> не на жизнь, а на смерть.</li>
				<li>Вчера вечером гости медленно <input type="text" size="9" answer="сходились" class="if_learning"><span class="if_correct">сходились</span> на праздник.</li>
				<li>Он сказал, что месяц назад опять <input type="text" size="7" answer="сошёлся" class="if_learning"><span class="if_correct">сошёлся</span> со своей бывшей женой.</li>
				<li>Две армии несколько раз <input type="text" size="9" answer="сходились" class="if_learning"><span class="if_correct">сходились</span> на поле, но никто не победил.</li>
				<li>Горизонт – это место, где <input type="text" size="8" answer="сходятся" class="if_learning"><span class="if_correct">сходятся</span> небо и земля.</li>
				<li>Как только все <input type="text" size="8" answer="сойдутся" class="if_learning"><span class="if_correct">сойдутся</span>, директор начнёт собрание.</li>
				<li>Все говорят, что мы абсолютно не <input type="text" size="8" answer="сходимся" class="if_learning"><span class="if_correct">сходимся</span> характерами.</li>
            </ol>
        </form>
    </div>
</div>
	
<div class="task learning  typfour" id="task-5" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
			<div>
		<h2>Задание 5. Напишите правильные личные формы глаголов.</h2>
		<p>Task 5. Type the correct personal forms of these verbs. Use the on-screen keyboard.</p>
	</div>

		<img src="/s/content/lesson39/5.png" alt="LR">
        <form>			<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">разойтись</p>		
            <ol>
				<li>я <input type="text" size="9" answer="разойдусь" class="if_learning"><span class="if_correct">разойдусь</span></li>
				<li>ты <input type="text" size="11" answer="разойдёшься" class="if_learning"><span class="if_correct">разойдёшься</span></li>
				<li>он/она <strong>разойдётся</strong></li>
				<li>мы <input type="text" size="10" answer="разойдёмся" class="if_learning"><span class="if_correct">разойдёмся</span></li>
				<li>вы <input type="text" size="11" answer="разойдётесь" class="if_learning"><span class="if_correct">разойдётесь</span></li>
				<li>они <input type="text" size="10" answer="разойдутся" class="if_learning"><span class="if_correct">разойдутся</span></li>
				<li class="margtop20">он <input type="text" size="9" answer="разошёлся" class="if_learning"><span class="if_correct">разошёлся</span></li>
				<li>она <strong>разошлась</strong></li>
				<li>они <input type="text" size="9" answer="разошлись" class="if_learning"><span class="if_correct">разошлись</span></li>			
			</ol>
			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">расходиться</p> 
            <ol>
				<li>я <input type="text" size="9" answer="расхожусь" class="if_learning"><span class="if_correct">расхожусь</span></li>
				<li>ты <input type="text" size="11" answer="расходишься" class="if_learning"><span class="if_correct">расходишься</span></li>
				<li>он/она <input type="text" size="10" answer="расходится" class="if_learning"><span class="if_correct">расходится</span></li>
				<li>мы <strong>расходимся</strong></li>
				<li>вы <input type="text" size="11" answer="расходитесь" class="if_learning"><span class="if_correct">расходитесь</span></li>
				<li>они <input type="text" size="10" answer="расходятся" class="if_learning"><span class="if_correct">расходятся</span></li>
				<li class="margtop20">он <strong>расходился</strong></li>
				<li>она <input type="text" size="11" answer="расходилась" class="if_learning"><span class="if_correct">расходилась</span></li>
				<li>они <input type="text" size="11" answer="расходились" class="if_learning"><span class="if_correct">расходились</span></li>
			</ol>
			</div>
		
	</content>
</tabcontrol>
        </form>
    </div>
</div>


 










	
<div class="task learning  typfour" id="task-6" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask long">
        	<div>
		<h2>Задание 6. Вставьте правильные личные формы глаголов «разойтись» и «расходиться».</h2>
		<p>Task 6. Study the table "Verbs of Motion with the prefixes «<strong>с</strong>-», «<strong>раз</strong>-» and the suffix «-<strong>ся</strong>»" and complete the sentences with the correct forms of the verbs <strong>разойтись</strong> and <strong>расходиться</strong>. Use the on-screen keyboard.</p>
	</div>

        <form>
            <ol>
				<li>Гости <strong>разошлись</strong> очень поздно.</li>
				<li>После праздника гости очень долго <input type="text" size="11" answer="расходились" class="if_learning"><span class="if_correct">расходились</span>, потому что все ещё хотели поговорить.</li>
				<li>Ты знаешь, Антон <input type="text" size="9" answer="разошёлся" class="if_learning"><span class="if_correct">разошёлся</span> со своей женой неделю назад! – Какой ужас!</li>
				<li>Когда все <input type="text" size="10" answer="разойдутся" class="if_learning"><span class="if_correct">разойдутся</span>, я доем весь торт!</li>
				<li>Корабль плывёт по реке, и вокруг него красиво <input type="text" size="10" answer="расходятся" class="if_learning"><span class="if_correct">расходятся</span> волны.</li>
				<li>Эта семья просто ненормальная! Они уже несколько раз <input type="text" size="11" answer="расходились" class="if_learning"><span class="if_correct">расходились</span>, но всё равно живут вместе!</li>
				<li>Спектакль ещё не кончился, а зрителей уже нет, они <input type="text" size="9" answer="разошлись" class="if_learning"><span class="if_correct">разошлись</span>.</li>
				<li>Мама, теперь я буду жить у тебя. Мы с мужем позавчера <input type="text" size="9" answer="разошлись" class="if_learning"><span class="if_correct">разошлись</span>.</li>
            </ol>
        </form>
    </div>
</div>
	
<div class="task learning  typfour" id="task-7" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
			<div>
		<h2>Задание 7. Напишите правильные личные формы глаголов.</h2>
		<p>Task 7. Type the correct personal forms of these two verbs. Use the on-screen keyboard.</p>
	</div>
		
        <form>			<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<img src="/s/content/lesson39/7_1.png" alt="LR">			
			<p class="twentybold">слететься</p>		
            <ol>
				<li>я <input type="text" size="7" answer="слечусь" class="if_learning"><span class="if_correct">слечусь</span></li>
				<li>ты <input type="text" size="9" answer="слетишься" class="if_learning"><span class="if_correct">слетишься</span></li>
				<li>он/она <input type="text" size="8" answer="слетится" class="if_learning"><span class="if_correct">слетится</span></li>
				<li>мы <input type="text" size="8" answer="слетимся" class="if_learning"><span class="if_correct">слетимся</span></li>
				<li>вы <strong>слетитесь</strong></li>
				<li>они <input type="text" size="8" answer="слетятся" class="if_learning"><span class="if_correct">слетятся</span></li>
				<li class="margtop20">он <input type="text" size="8" answer="слетелся" class="if_learning"><span class="if_correct">слетелся</span></li>
				<li>она <strong>слетелась</strong></li>
				<li>они <input type="text" size="9" answer="слетелись" class="if_learning"><span class="if_correct">слетелись</span></li>		
			</ol>
			</div>
		
			<div class="tab-2">
				
							<img src="/s/content/lesson39/7_2.png" alt="LR">
			<p class="twentybold">разбежаться</p> 
            <ol>
				<li>я <input type="text" size="9" answer="разбегусь" class="if_learning"><span class="if_correct">разбегусь</span></li>
				<li>ты <input type="text" size="11" answer="разбежишься" class="if_learning"><span class="if_correct">разбежишься</span></li>
				<li>он/она <input type="text" size="10" answer="разбежится" class="if_learning"><span class="if_correct">разбежится</span></li>
				<li>мы <strong>разбежимся</strong></li>
				<li>вы <input type="text" size="11" answer="разбежитесь" class="if_learning"><span class="if_correct">разбежитесь</span></li>
				<li>они <input type="text" size="10" answer="разбегутся" class="if_learning"><span class="if_correct">разбегутся</span></li>
				<li class="margtop20">он <input type="text" size="10" answer="разбежался" class="if_learning"><span class="if_correct">разбежался</span></li>
				<li>она <input type="text" size="11" answer="разбежалась" class="if_learning"><span class="if_correct">разбежалась</span></li>
				<li>они <strong>разбежались</strong></li>
			</ol>
			</div>
		
			<div class="tab-3">
				
							<img src="/s/content/lesson39/7_3.png" alt="LR">
			<p class="twentybold">разлететься</p> 
            <ol>
				<li>я <input type="text" size="9" answer="разлечусь" class="if_learning"><span class="if_correct">разлечусь</span></li>
				<li>ты <input type="text" size="11" answer="разлетишься" class="if_learning"><span class="if_correct">разлетишься</span></li>
				<li>он/она <input type="text" size="10" answer="разлетится" class="if_learning"><span class="if_correct">разлетится</span></li>
				<li>мы <input type="text" size="10" answer="разлетимся" class="if_learning"><span class="if_correct">разлетимся</span></li>
				<li>вы <input type="text" size="11" answer="разлетитесь" class="if_learning"><span class="if_correct">разлетитесь</span></li>
				<li>они <strong>разлетятся</strong></li>
				<li class="margtop20">он <input type="text" size="10" answer="разлетелся" class="if_learning"><span class="if_correct">разлетелся</span></li>
				<li>она <input type="text" size="11" answer="разлетелась" class="if_learning"><span class="if_correct">разлетелась</span></li>
				<li>они <strong>разлетелись</strong></li>
			</ol>
			</div>
		
			<div class="tab-4">
				
							<img src="/s/content/lesson39/7_4.png" alt="LR">
			<p class="twentybold">сбежаться</p> 
            <ol>
				<li>я <input type="text" size="7" answer="сбегусь" class="if_learning"><span class="if_correct">сбегусь</span></li>
				<li>ты <input type="text" size="9" answer="сбежишься" class="if_learning"><span class="if_correct">сбежишься</span></li>
				<li>он/она <input type="text" size="8" answer="сбежится" class="if_learning"><span class="if_correct">сбежится</span></li>
				<li>мы <strong>сбежимся</strong></li>
				<li>вы <input type="text" size="9" answer="сбежитесь" class="if_learning"><span class="if_correct">сбежитесь</span></li>
				<li>они <input type="text" size="8" answer="сбегутся" class="if_learning"><span class="if_correct">сбегутся</span></li>
				<li class="margtop20">он <input type="text" size="8" answer="сбежался" class="if_learning"><span class="if_correct">сбежался</span></li>
				<li>она <input type="text" size="9" answer="сбежалась" class="if_learning"><span class="if_correct">сбежалась</span></li>
				<li>они <strong>сбежались</strong></li>
			</ol>
			</div>
		
	</content>
</tabcontrol>
        </form>
    </div>
</div>	
<div class="task learning  typfour" id="task-8" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask long">
        	<div>
		<h2>Задание 8. Вставьте правильные личные формы глаголов «слететься», «разбежаться», «разлететься» и «сбежаться».</h2>
		<p>Task 8. Study the table "Verbs of Motion with the prefixes «<strong>с</strong>-», «<strong>раз</strong>-» and the suffix «<strong>-ся</strong>»" and complete the sentences with the correct forms of the verbs <strong>слететься</strong>, <strong>разбежаться</strong>, <strong>разлететься</strong> and <strong>сбежаться</strong>. Use the on-screen keyboard.</p>
	</div>

        <form>
            <ol>
				<li>Начался дождь, и дети <strong>разбежались</strong> по домам. </li>
				<li>Птицы увидели хлеб и <input type="text" size="9" answer="слетелись" class="if_learning"><span class="if_correct">слетелись</span> на окно.</li>
				<li>На центральной улице был пожар, и весь город <input type="text" size="8" answer="сбежался" class="if_learning"><span class="if_correct">сбежался</span> посмотреть на него.</li>
				<li>Мама  сказала, что когда мы вырастем, мы <input type="text" size="10" answer="разлетимся" class="if_learning"><span class="if_correct">разлетимся</span> из дома по миру.</li>
				<li>Если я дам птицам хлеб, они снова <input type="text" size="8" answer="слетятся" class="if_learning"><span class="if_correct">слетятся</span> на окно?</li>
				<li>Вчера к нам в город приезжала известная оперная певица, и все <input type="text" size="9" answer="сбежались" class="if_learning"><span class="if_correct">сбежались</span> посмотреть на неё.</li>
				<li>Как только хулиганы увидели полицейского, они сразу <input type="text" size="11" answer="разбежались" class="if_learning"><span class="if_correct">разбежались</span> в разные стороны.</li>
            </ol>
        </form>
    </div>
</div>
	
<div class="task learning  typsecond" id="task-9" hash="e7b60abe99ba4ad3868de447250c8144">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">съехалось</span>
			
				<span class="draggable">приехали</span>
			
				<span class="draggable">прошли</span>
			
				<span class="draggable">прошла</span>
			
				<span class="draggable">пошли</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 9. Слушайте аудио и закончите текст.</h2>
		<p>Task 9.	Listen to the audio and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson39/9.png" alt="LR">
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson39/audio/39.4.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p class="twentybold" style="text-align:center;">Санта-Клаусы съехались на конгресс</p>
		<p>В Дании открылся традиционный международный конгресс Санта-Клаусов. На него <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> более 100 Санта-Клаусов со всего мира. Сначала они <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> парадом по датской столице, потом <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> в детские больницы, а также провели чемпионат по лазанью через дымоход камина.</p>
		<p>Ещё <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> дискуссия на тему, где же живет настоящий Санта.</p>
		<p>Кроме того, Санта-Клаусы хотят улучшить условия труда: они потребовали от Евросоюза установить стандарт на ширину дымохода и предложили праздновать Рождество два раза в год.</p>
		<p>Год назад на саммит Санта-Клаусов первый раз <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> Дед Мороз и Снегурочка из России.</p>
    </div>
</div>	
		
	



			</div>
						
		

<div class="lessoncomplected" style="display: none">
	<p>
		<a class="underline" href="/lessons/verbs-of-motion-and-the-prefix-do/">← Lesson 38</a>
		<a class="underline" href="/lessons/speaking-about-routes-verbs-of-motion-with-all-prefixes/">Lesson 40 →</a>
	</p>				
</div>

<div class="lessoncomplected popup">
	<div class="close"></div>
	<p>
		<a class="underline" href="/lessons/verbs-of-motion-and-the-prefix-do/">← Lesson 38</a>
		<a class="underline" href="/lessons/speaking-about-routes-verbs-of-motion-with-all-prefixes/">Lesson 40 →</a>
	</p>				
</div>
                <div class="barkeybord">
                    <div class="linekeyb"></div>
                    <div class="dlinekeyb">
                        <div class="keybord">
                            <div class="output"></div>
                            <p>"Caps Lock" is on</p>
                            <div class="clears"></div>
                            <ul>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ё</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">1</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">2</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">3</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">4</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">5</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">6</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">7</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">8</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">9</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">0</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="backspace">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgbackspace">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">й</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ц</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">у</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">к</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">е</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">н</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">г</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ш</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">щ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">з</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">х</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ъ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition fleft">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ф</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ы</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">в</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">а</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">п</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">р</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">о</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">л</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">д</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ж</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">э</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">я</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ч</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">с</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">м</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">и</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">т</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ь</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">б</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ю</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">.</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition gap">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">&nbsp;</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				
				
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>