---
---
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="google-site-verification" content="VQLbsaWKiXW2-Vt4lP7MevnhMES537NO4fQjfGgLcbI">
	<meta name="description" content="&quot;In the lesson “Declension of Cardinal Numerals. Part 2” you will continue studying cardinal numerals and their meanings.
You will also compare such constructions related to numbers.&quot;">
	<meta property="og:image" content="/s/content/logo.png">
	<meta name="keywords" content="declension, cardinal numbers, quantity, cases, forms, new words, compound cardinals, complex cardinals, constructions, russian, grammar, learn, Pre-Intermediate, B1, grammar, russian, learn">
    <title>Declension of Cardinal Numbers. Part 2. — LearnRussian Lessons</title>
	<link href="/s/css/style.css?v14" rel="stylesheet" type="text/css">
	<link href="/s/css/lessons.css?v13" rel="stylesheet" type="text/css">
	<link href="/s/css/typtask.css?v15" rel="stylesheet" type="text/css">
	<link href="/s/css/custom_control.css?v4" rel="stylesheet" type="text/css">
	<!--[if IE 7]> 
		<link href="/s/css/ieonly7.css?v6" rel="stylesheet" type="text/css">
	<![endif]--> 

	<script src="/s/js/libs.js"></script>
	<script src="/s/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/s/js/custom_control.js?d"></script>
	<script src="/s/js/learn_russian.js?p"></script>
</head>
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
					
						<li class="active"><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<script src="/s/js/pages/lessons.js?n"></script>
			<div id="homework-82" class="homework">
				   				    <div class="breadcrumb"><a class="underline" href="/lessons/lessons-81-85/">Lessons</a> /</div>

		            <div class="lesson">
						<div class="llesson">
							<p>82.</p>
						</div>
						<div class="rlesson">
							<p class="completed">0% completed</p>
						</div>
						<div class="clesson">
							<h1>Declension of Cardinal Numbers.<br>Part 2.</h1>
							<p class="vertwenty">Не имей сто рублей, а имей сто друзей.</p>
							<div class="r-star-shape">
								<div class="cn tl"></div>
									<div class="cn tr"></div>								
									<div class="conten">
										<div class="conten cr">											
											<p>In this lesson you will continue studying cardinal numbers and their meanings.</p>
											<p>You will also compare such constructions as:</p>
											<p><strong>Число участников форума приблизилось к ста пятидесяти</strong>.</p>
											<p>
												<strong>Я собрал визитки шестидесяти двух участников форума</strong>.
											</p>
										</div>
									</div>									
								<div class="cn bl"></div>
								<div class="cn br"></div>
							</div>
							
						</div>
					</div>					
				
<div class="topbar">
<div class="up">
    <form>
        <ul>
            <li class="skeyb">
				<span class="small-keyboard">&nbsp;</span>
            </li>
            <li class="isearch">
				<input type="text" value="look up a word">
			</li>
			<li>
				<a class="underline" href="/vocabulary/lesson-81-85/">Open vocabulary for lessons 81–85</a>
			</li>            
        </ul>
		<div class="intellisense">
            <div>Hello</div>
            <div>world</div>
        </div>
    </form>
</div>
<div class="down"></div>
</div>















































	
	
<div class="task learning  typsecond" id="task-1" hash="6221da92b7426b82f1874f550d90a193">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">сто</span>
			
				<span class="draggable">тысячи</span>
			
				<span class="draggable">сто</span>
			
				<span class="draggable">пятьдесят</span>
			
				<span class="draggable">сорока пяти</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 1. Слушайте диалог и вставьте пропущенные конструкции.</h2>
		<p>Task 1. Listen and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson82/1.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson82/audio/82.1.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
        <p>
        	<strong>Ирина</strong>: Клаудия, что-то случилось? Ты весь день такая грустная.
        </p>
        <p>
        	<strong>Клаудия</strong>: Случилось. У меня сегодня утром в метро украли кошелёк.
        </p>
        <p>
        	<strong>Светлана</strong>: Какой кошмар!
        </p>
        <p>
        	<strong>Клаудия</strong>: К счастью, там не было кредиток, только деньги. Я вчера вечером ходила в банк. Сняла деньги, чтобы заплатить за квартиру.
        </p>
        <p>
        	<strong>Светлана</strong>: Да уж, плохо.
        </p>
        <p>
        	<strong>Клаудия</strong>: Сумма, конечно, не очень большая, около <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> тысяч рублей, но просто это были последние деньги, а зарплата только через неделю. Что теперь делать?
        </p>
        <p>
        	<strong>Ирина</strong>: Не переживай.
        </p>
        <p>
        	<strong>Светлана</strong>: Ничего себе! Больше <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> евро!
        </p>
        <p>
        	<strong>Ирина</strong>: Клаудия, мы вот тут с коллегами собрали тебе…
        </p>
        <p>
        	<strong>Клаудия</strong>: Что это?
        </p>
        <p>
        	<strong>Ирина</strong>: Здесь <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> тысяч. Вернёшь, когда сможешь. Это не срочно.
        </p>
        <p>
        	<strong>Клаудия</strong>: Ой, спасибо большое!
        </p>
        <p>
        	<strong>Светлана</strong>: Знаешь, в русском языке есть хорошая пословица: «Не имей <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> рублей, а имей <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> друзей».
        </p>
        <p>
        	<strong>Клаудия</strong>: Знаю. Но только теперь поняла, что это правда!
        </p>

    </div>
</div>
<div class="task learning  typsecond" id="task-2" hash="a5ce84260f4075ea533643fc2e5e588e">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="rtask">
	<div class="textalign droppable droppable_default if_learning">
		
			
				<span class="draggable">сорока</span>
			
				<span class="draggable">четырёхсот</span>
			
				<span class="draggable">шестидесяти двух</span>
			
				<span class="draggable">пятидесяти</span>
			
				<span class="draggable">тридцати семи</span>
			
				<span class="draggable">двадцати</span>
			
				<span class="draggable">ста пятидесяти</span>
			
				<span class="draggable">тридцати</span>
			
		
	</div>
</div>
    <div class="ctask">
			<div>
		<h2>Задание 2. Слушайте и закончите диалог.</h2>
		<p>Task 2. Listen to the dialogue and drag the words to complete the text.</p>
	</div>

		<img src="/s/content/lesson82/2.png" alt="LR">		
        <div class="players">
	<div class="play plpau" audio="/s/content/lesson82/audio/82.2.mp3"></div>
	<div class="time"><span>00 : 00</span></div>
	<div class="clickstrip"></div>	
	<div class="playerstrip"></div>	
	<div class="loadstrip"></div>															
	<div class="sound">
		<div class="swsound"></div>
		<div class="vnsound vs">									    
			<div class="volume vs"></div>
			<div class="swvolume"></div>
		</div>
	</div>
</div>
		<p>— Уважаемые участники форума! Мы благодарим вас за участие. За время работы форума было организовано более <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> семинаров, прочитано около <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> лекций. Число участников форума приблизилось к <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
		<p>— Ага, было выпито более <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> литров кофе, <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> литров молока, более <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> литров воды…</p>
		<p>— Я сегодня утром нашёл у себя визитки <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span> участников форума. Откуда бы?</p>
		<p>— А вы не помните? Вчера же был праздничный ужин в ресторане отеля!</p>
		<p>— А теперь я понимаю, почему у меня сегодня голова болит, и температура поднялась до <span class="droppable empty">
	<span class="if_empty">...........</span>
	
</span>.</p>
		<p>— Вы просто устали после такой напряжённой работы.</p>
		<p>— Да, наверное, вы правы.</p>	
    </div>
</div>
<div class="task learning  typfour" id="task-3" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask long">
        	<div>
		<h2>Задание 3. Напишите  числительные, приведенные ниже, цифрами.</h2>
		<p>Task 3. Write the words below out in numbers.</p>
	</div>

        <form>
			<p>сорока — <input type="text" size="1" answer="40" class="if_learning"><span class="if_correct">40</span></p>
			<p>пятидесяти — <input type="text" size="1" answer="50" class="if_learning"><span class="if_correct">50</span></p>
			<p>ста пятидесяти — <input type="text" size="1" answer="150" class="if_learning"><span class="if_correct">150</span></p>
			<p>четырёхсот — <input type="text" size="1" answer="400" class="if_learning"><span class="if_correct">400</span></p>
			<p>двадцати — <input type="text" size="1" answer="20" class="if_learning"><span class="if_correct">20</span></p>
			<p>тридцати — <input type="text" size="1" answer="30" class="if_learning"><span class="if_correct">30</span></p>
			<p>шестидесяти двух — <input type="text" size="1" answer="62" class="if_learning"><span class="if_correct">62</span></p>
			<p>тридцати семи — <input type="text" size="1" answer="37" class="if_learning"><span class="if_correct">37</span></p>

        </form>
    </div>
</div>

	<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask" style="width:842px;">
			<h1>Declension of the Cardinal Numerals 40, 90 and 100</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/declension-of-cardinal-numbers-part-2/" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson82/minitables/1.png" alt="LR">
		</div>
	</div>
<div class="task learning  typseven" id="task-4" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 4. Изучите таблицу выше и напишите вместо цифры числительное в правильной форме.</h2>
		<p>Task 4. Study the table “Declension of the Cardinal Numerals 40, 90 and 100” and write the appropriate numerals in the correct form.</p>
	</div>

		<form>
			<ol>
				<li>Не имей <span class="if_correct">сто</span><input type="text" size="1" answer="сто" class="if_learning"> <span class="if_learning">(100)</span> рублей, а имей <span class="if_correct">сто</span><input type="text" size="1" answer="сто" class="if_learning"> <span class="if_learning">(100)</span> друзей.</li>
				<li>После <span class="if_correct">сорока</span><input type="text" size="6" answer="сорока" class="if_learning"> <span class="if_learning">(40)</span> лет жизнь только начинается!</li>
				<li>Немногие люди доживают до <span class="if_correct">девяноста</span><input type="text" size="9" answer="девяноста" class="if_learning"> <span class="if_learning">(90)</span> лет, а до <span class="if_correct">ста</span><input type="text" size="1" answer="ста" class="if_learning"> <span class="if_learning">(100)</span> не доживает почти никто.</li>
				<li>За городом я люблю ездить со скоростью больше <span class="if_correct">ста</span><input type="text" size="1" answer="ста" class="if_learning"> <span class="if_learning">(100)</span> километров в час.</li>
				<li>Центнер — это ровно <span class="if_correct">сто</span><input type="text" size="1" answer="сто" class="if_learning"> <span class="if_learning">(100)</span> килограммов.</li>
				<li>Человек почти на <span class="if_correct">девяносто</span><input type="text" size="9" answer="девяносто" class="if_learning"> <span class="if_learning">(90)</span> процентов состоит из воды.</li>
				<li>Это маленький русский город: здесь живёт не более <span class="if_correct">сорока</span><input type="text" size="6" answer="сорока" class="if_learning"> <span class="if_learning">(40)</span> тысяч человек. А раньше жило <span class="if_correct">пятьдесят</span><input type="text" size="9" answer="пятьдесят" class="if_learning"> <span class="if_learning">(50)</span> тысяч.</li>
				<li>160 — это четыре раза по <span class="if_correct">сорок</span><input type="text" size="5" answer="сорок" class="if_learning"> <span class="if_learning">(40)</span>.</li>
				<li>1 час 30 минут — это <span class="if_correct">девяносто</span><input type="text" size="9" answer="девяносто" class="if_learning"> <span class="if_learning">(90)</span> минут.</li>
				<li>Я ждал тебя около <span class="if_correct">сорока</span><input type="text" size="6" answer="сорока" class="if_learning"> <span class="if_learning">(40)</span> минут!</li>
			</ol>
		</form>
    </div>
</div>

	<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask" style="width:842px;">
			<h1>Declension of Compound Cardinal Numerals 50—80</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/declension-of-cardinal-numbers-part-2/" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson82/minitables/2.png" alt="LR">
		</div>
	</div>
<div class="task learning  typthird" id="task-5" hash="c9c122aecf39e5137668206e1e789d8b">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 5. Тест.</h2>
		<p>Task 5. Click the correct answer.</p>
	</div>
		<tabcontrol class="tab-1-active">
	<ul class="number">
	
		<li class="select">1</li>
	
		<li>2</li>
	
		<li>3</li>
	
		<li>4</li>
	
		<li>5</li>
	
		<li>6</li>
	
		<li>7</li>
	
	</ul>
			<div class="clears"></div>
	<content>
		
			<div class="tab-1">
				
							<p class="twentybold">Ему скоро будет … лет.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">шестьдесят</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>шестидесяти</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>шестьюдесятью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-2">
				
							<p class="twentybold">Поэт не дожил до … лет. </p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>шестьдесят </p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">шестидесяти</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>шестьюдесятью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-3">
				
							<p class="twentybold">Перед … годами он задумался о жизни.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>пятьдесят</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>пятидесяти</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">пятьюдесятью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-4">
				
							<p class="twentybold">После … лет человек начинает по-другому смотреть на жизнь.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>пятьдесят</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">пятидесяти</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>пятьюдесятью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-5">
				
							<p class="twentybold">Последний раз мой дедушка женился в возрасте … лет.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>семьдесят</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">семидесяти</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>семьюдесятью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-6">
				
							<p class="twentybold">СССР просуществовал более … лет.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>семьдесят</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">семидесяти</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>семьюдесятью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
			<div class="tab-7">
				
							<p class="twentybold">Он проработал на почте около … лет.</p> 
			
<div class="bordersmall">
    <div class="bordersmalleft">
        <p>пятьдесят</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p class="answer">пятидесяти</p>
    </div>
    <div class="bordersmalright"></div>
</div>

<div class="bordersmall">
    <div class="bordersmalleft">
        <p>пятьюдесятью</p>
    </div>
    <div class="bordersmalright"></div>
</div>

			</div>
		
	</content>
</tabcontrol>
    </div>
</div>
	<div class="task nocheck minitasktable">
		<div class="ltask">
			<img src="/s/css/lessons/new_grammar.jpg" alt="Learn_Russian">
		</div>
		<div class="ctask" style="width:842px;">
			<h1>Declension of Compound Cardinal Numerals 200—400</h1>
			<p>Short <a class="underline tlinks" href="/grammar-tables/declension-of-cardinal-numbers-part-2/" target="_blank">Full</a></p>
			<img class="margtop20" src="/s/content/lesson82/minitables/3.png" alt="LR">
		</div>
	</div>
<div class="task learning  typseven" id="task-6" hash="">
	<div class="ltask" style="border: 1px solid transparent;">		<div class="check isnt"></div>
		<div class="butreset"></div>	</div>
    <div class="ctask">
         	<div>
		<h2>Задание 6. Изучите таблицу выше и напишите нужное числительное в правильной форме.</h2>
		<p>Task 6. Study the table “Declension of Compound Cardinal Numerals 200—400” and write the appropriate numerals in the correct form.</p>
	</div>

		<form>
			<ol>
				<li>На демонстрацию пришло около <span class="if_correct">трёхсот</span><input type="text" size="7" answer="трёхсот" class="if_learning"> <span class="if_learning">(300)</span>человек.</li>
				<li>На <span class="if_correct">двести</span><input type="text" size="6" answer="двести" class="if_learning"> <span class="if_learning">(200)</span> рублей сейчас уже невозможно пообедать в ресторане.</li>
				<li>На планете осталось меньше <span class="if_correct">двухсот</span><input type="text" size="7" answer="двухсот" class="if_learning"> <span class="if_learning">(200)</span> этих редких животных.</li>
				<li>Мы не можем дать вам кредит на сумму более <span class="if_correct">трёхсот</span><input type="text" size="7" answer="трёхсот" class="if_learning"> <span class="if_learning">(300)</span> тысяч рублей.</li>
				<li>Раньше вы говорили о <span class="if_correct">четырёхстах</span><input type="text" size="11" answer="четырёхстах" class="if_learning"> <span class="if_learning">(400)</span> тысячах рублей.</li>
				<li>Раньше наша прибыль была около <span class="if_correct">двухсот</span><input type="text" size="7" answer="двухсот" class="if_learning"> <span class="if_learning">(200)</span> процентов в год. А сейчас мы банкроты.</li>
				<li>Дайте, пожалуйста, <span class="if_correct">четыреста</span><input type="text" size="9" answer="четыреста" class="if_learning"> <span class="if_learning">(400)</span> граммов колбасы.</li>
				<li>За эту неделю я написал письма <span class="if_correct">двумстам</span><input type="text" size="8" answer="двумстам" class="if_learning"> <span class="if_learning">(200)</span> клиентам. Это очень большая работа.</li>
				<li>Мама, дай мне <span class="if_correct">триста</span><input type="text" size="6" answer="триста" class="if_learning"> <span class="if_learning">(300)</span> рублей!</li>
				<li>У меня нет <span class="if_correct">трёхсот</span><input type="text" size="7" answer="трёхсот" class="if_learning"> <span class="if_learning">(300)</span> рублей, возьми тысячу.</li>
			</ol>
		</form>
    </div>
</div>



			</div>
						
		

<div class="lessoncomplected" style="display: none">
	<p>
		<a class="underline" href="/lessons/declension-of-cardinal-numbers-part-1/">← Lesson 81</a>
		<a class="underline" href="/lessons/telling-the-time/">Lesson 83 →</a>
	</p>				
</div>

<div class="lessoncomplected popup">
	<div class="close"></div>
	<p>
		<a class="underline" href="/lessons/declension-of-cardinal-numbers-part-1/">← Lesson 81</a>
		<a class="underline" href="/lessons/telling-the-time/">Lesson 83 →</a>
	</p>				
</div>
                <div class="barkeybord">
                    <div class="linekeyb"></div>
                    <div class="dlinekeyb">
                        <div class="keybord">
                            <div class="output"></div>
                            <p>"Caps Lock" is on</p>
                            <div class="clears"></div>
                            <ul>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ё</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">1</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">2</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">3</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">4</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">5</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">6</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">7</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">8</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">9</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">0</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="backspace">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgbackspace">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">й</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ц</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">у</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">к</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">е</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">н</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">г</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ш</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">щ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">з</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">х</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ъ</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition fleft">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ф</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ы</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">в</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">а</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">п</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">р</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">о</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">л</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">д</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ж</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">э</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">я</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ч</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">с</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">м</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">и</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">т</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ь</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">б</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">ю</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li>
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">.</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="shift">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">
                                        <span class="bgshift">&nbsp;</span>
                                    </span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                                <li class="transition gap">
                                    <span class="b-keyboard-key-l">&nbsp;</span>
                                    <span class="b-keyboard-key-m">&nbsp;</span>
                                    <span class="b-keyboard-key-r">&nbsp;</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

				
				
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>