---
---
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="google-site-verification" content="VQLbsaWKiXW2-Vt4lP7MevnhMES537NO4fQjfGgLcbI">
	<meta name="description" content="In the section “Phonetics. Part II” you will learn how to pronounce vowels and consonants in soft and hard sound positions. You will also practice to pronounce Russian vowels and consonants in different syllable combinations.">
	<meta property="og:image" content="/s/content/logo.png">
	
    <title>Phonetics, part 2 — LearnRussian</title>
	<link href="/s/css/style.css?v14" rel="stylesheet" type="text/css">
	<link href="/s/css/lessons.css?v13" rel="stylesheet" type="text/css">
	<link href="/s/css/typtask.css?v15" rel="stylesheet" type="text/css">
	<link href="/s/css/custom_control.css?v4" rel="stylesheet" type="text/css">
	<!--[if IE 7]> 
		<link href="/s/css/ieonly7.css?v6" rel="stylesheet" type="text/css">
	<![endif]--> 

	<script src="/s/js/libs.js"></script>
	<script src="/s/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/s/js/custom_control.js?d"></script>
	<script src="/s/js/learn_russian.js?p"></script>
</head>
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
								
						<li><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
					
						<li class="active"><span>Phonetics</span></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
				<script src="/s/js/pages/player-pages.js"></script>
<link href="/s/css/phonetics.css" rel="stylesheet" type="text/css">
	<div id="" class="homework">
				   
					<div class="phonetics">
						<div class="clesson">
						    <h1>Phonetics. Part II</h1>
						    <div class="breadcrumb"><a href="/phonetics/">Part I</a> / <a class="active" href="/phonetics/part-2/">Part II</a> / <a href="/phonetics/part-3/">Part III</a></div>
						    <h2>Phonetic practice</h2>
						</div>
						<div class="phonetic_block">
							<h2>2.1. Listen and repeat - Vowels</h2>
							<div class="part1">
								<div class="examples example_2_1">
									<div class="eblock">
										
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.59.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иы
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.60.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ыи
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.61.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ыу
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.62.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												уы
											</p>
					
										</div>
										
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.63.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иу
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.64.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												уи
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.65.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												эо
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.66.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												оэ
											</p>
					
										</div>
										
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.67.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ыа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.68.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												аы
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.69.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												уа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.70.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ау
											</p>
					
										</div>
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.71.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												эа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.72.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												аэ
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.73.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												оа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.74.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ао
											</p>
					
										</div>
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.75.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иэ
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.76.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												эи
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.77.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												эа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.78.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												аэ
											</p>
					
										</div>
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.79.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иуо
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.80.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иуа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.81.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иуэ
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.82.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иуи
											</p>
					
										</div>
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.83.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ауа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.84.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ыуо
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.85.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ауэ
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.86.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ауи
											</p>
					
										</div>
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.87.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ыуа
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.88.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												эуо
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.89.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ыуэ
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.90.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												ыуи
											</p>
					
										</div>
									</div>
									<div class="eblock">
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.91.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иао
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.92.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иау
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.93.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иаэ
											</p>
					
										</div>
										<div>
											<div class="playerstwo">
												<div class="playtwo" audio="/s/content/phonetics/audio/part2-1/0.94.mp3">
													<div class="plpau"></div>
												</div>	
											</div>
											<p>
												иаи
											</p>
					
										</div>
									</div>
								</div>
								
							</div>
							
							
							<h2>2.2. Listen and repeat - Consonants</h2>
							<div class="part1">
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/bl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.115.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ба<br>
											бя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.116.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											бо<br>
											бё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.117.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											бу<br>
											бю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.118.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											бэ<br>
											бе
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.119.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											бы<br>
											би
										</p>
									</div>
								</div>
								
								
								
								
								<div class="example_2_2_block">
									<div class="block letter">
										<img src="/s/content/phonetics/pl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.110.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											па<br>
											пя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.111.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											по<br>
											пё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.112.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											пу<br>
											пю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.113.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											пэ<br>
											пе
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.114.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											пы<br>
											пи
										</p>
									</div>
								</div>
								
								
								
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/vl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.125.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ва<br>
											вя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.126.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											во<br>
											вё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.127.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ву<br>
											вю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.128.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											вэ<br>
											ве
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.129.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											вы<br>
											ви
										</p>
									</div>
								</div>
								
								
								<div class="example_2_2_block">
									<div class="block letter">
										<img src="/s/content/phonetics/fl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.120.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											фа<br>
											фя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.121.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											фо<br>
											фё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.122.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											фу<br>
											фю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.123.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											фэ<br>
											фе
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.124.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											фы<br>
											фи
										</p>
									</div>
								</div>
								
								
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/dl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.140.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											да<br>
											дя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.141.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											до<br>
											дё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.142.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ду<br>
											дю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.143.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											дэ<br>
											де
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.144.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ды<br>
											ди
										</p>
									</div>
								</div>
								
								
								
								<div class="example_2_2_block">
									<div class="block letter">
										<img src="/s/content/phonetics/tl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.135.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											та<br>
											тя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.136.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											то<br>
											тё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.137.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ту<br>
											тю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.138.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											тэ<br>
											те
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.139.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ты<br>
											ти
										</p>
									</div>
								</div>
								
								
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/zl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.165.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											за<br>
											зя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.166.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											зо<br>
											зё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.167.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											зу<br>
											зю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.168.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											зэ<br>
											зе
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.169.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											зы<br>
											зи
										</p>
									</div>
								</div>
								
								
								<div class="example_2_2_block">
									<div class="block letter">
										<img src="/s/content/phonetics/sl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.160.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											са<br>
											ся
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.161.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											со<br>
											сё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.162.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											су<br>
											сю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.163.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											сэ<br>
											се
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.164.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											сы<br>
											си
										</p>
									</div>
								</div>
								
								
								
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/gl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.150.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											га<br>
											гя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.151.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											го<br>
											гё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.152.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											гу<br>
											гю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.153.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											гэ<br>
											ге
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.154.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											гы<br>
											ги
										</p>
									</div>
								</div>
								
								
								<div class="example_2_2_block">
									<div class="block letter">
										<img src="/s/content/phonetics/kl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.100.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ка<br>
											кя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.101.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ко<br>
											кё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.102.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ку<br>
											кю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.103.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											кэ<br>
											ке
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.104.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											кы<br>
											ки
										</p>
									</div>
								</div>
								
								
								
								
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/xl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.155.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ха<br>
											хя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.156.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											хо<br>
											хё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.157.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ху<br>
											хю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.158.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											хэ<br>
											хе
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.159.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											хы<br>
											хи
										</p>
									</div>
								</div>
								
								
								
								<div class="example_2_2_block ">
									
								</div>
								
								
								
								
								
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/ml_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.95.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ма<br>
											мя
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.96.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											мо<br>
											мё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.97.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											му<br>
											мю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.98.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											мэ<br>
											ме
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.99.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											мы<br>
											ми
										</p>
									</div>
								</div>
								
								<div class="example_2_2_block ">
									<div class="block letter">
										<img src="/s/content/phonetics/nl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.105.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											на<br>
											ня
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.106.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											но<br>
											нё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.107.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ну<br>
											ню
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.108.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											нэ<br>
											не
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.109.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ны<br>
											ни
										</p>
									</div>
								</div>
								
								
								
								<div class="example_2_2_block clr_l">
									<div class="block letter">
										<img src="/s/content/phonetics/ll_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.145.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ла<br>
											ля
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.146.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ло<br>
											лё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.147.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											лу<br>
											лю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.148.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											лэ<br>
											ле
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.149.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											лы<br>
											ли
										</p>
									</div>
								</div>
								
								<div class="example_2_2_block">
									<div class="block letter">
										<img src="/s/content/phonetics/rl_b.png">	
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.130.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ра<br>
											ря
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.131.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ро<br>
											рё
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.132.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ру<br>
											рю
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.133.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											рэ<br>
											ре
										</p>
									</div>
									<div class="block">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-2/0.134.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
										<p>
											ры<br>
											ри
										</p>
									</div>
								</div>
								
								
								
								
								
								
								
								
								
								
								
								
							</div>
							<h2>2.3. Listen and repeat - Soft and hard sound opposition</h2>
							<div class="example_2_3">
								<div class="block clr_l">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.170.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img1.png">
									</div>
									<div class="eright_c">
										мама — мята, папа — дядя
									</div>
								
								</div>
								<div class="block">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.175.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img6.png">
									</div>
									<div class="eright_c">
										бил — пил, баба — папа,<br>бункер — пункт
									</div>
								</div>
								<div class="block clr_l">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.171.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img2.png">
									</div>
									<div class="eright_c">
										мол — мёл, мода — мёд,<br>Том — тётя
									</div>
								
								</div>
								<div class="block">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.176.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img7.png">
									</div>
									<div class="eright_c">
										двор — фото, ваза — фаза,<br>Вова — Фёдор
									</div>
								</div>
								<div class="block clr_l">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.172.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img3.png">
									</div>
									<div class="eright_c">
										Тула — тюль, мускат — мюсли,<br>ура — Юра
									</div>
								
								</div>
								<div class="block">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.177.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c pt6">
										<img src="/s/content/phonetics/p2img8.png">
									</div>
									<div class="eright_c">
										дом — том, дома — Тома,<br>Дима — Тима
									</div>
								</div>
									
								<div class="block clr_l">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.173.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img4.png">
									</div>
									<div class="eright_c">
										мэр — мера
									</div>
								
								</div>
								<div class="block">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.178.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img9.png">
									</div>
									<div class="eright_c">
										зуб — суп, зона — сон,<br>мезонин — патиссон
									</div>
								</div>
								<div class="block clr_l">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.174.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img5.png">
									</div>
									<div class="eright_c">
										мыло — Мила, дым — Дима,<br>сыр — сито
									</div>
								
								</div>
								<div class="block">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.179.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img10.png">
									</div>
									<div class="eright_c">
										жар — шар, жил — шил
									</div>
								</div>
								<div class="block clr_l">
									
								
								</div>
								<div class="block">
									<div class="eleft_c">
										<div class="playerstwo">
											<div class="playtwo" audio="/s/content/phonetics/audio/part2-3/0.180.mp3">
												<div class="plpau"></div>
											</div>	
										</div>
									</div>
									<div class="emiddle_c">
										<img src="/s/content/phonetics/p2img11.png">
									</div>
									<div class="eright_c">
										год — код, гот — кот,<br>где — кто, гид — кит,<br>Гёте — Кёльн
									</div>
								</div>
							</div>
								
						</div>
					</div>
			</div>

					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>