---
---
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="google-site-verification" content="VQLbsaWKiXW2-Vt4lP7MevnhMES537NO4fQjfGgLcbI">
	<meta name="description" content="Speaking about periods of time. Prepositions &quot;с… до…&quot;, &quot;с… по…&quot;, &quot;от… до…&quot;.">
	<meta property="og:image" content="/s/content/logo.png">
	<meta name="keywords" content="Russian online lessons, task, exercise, text, dialogue, audio, grammar, learn, share, bookmark">
    <title>Lessons 46–50 — LearnRussian</title>
	<link href="/s/css/style.css?v14" rel="stylesheet" type="text/css">
	<link href="/s/css/lessons.css?v13" rel="stylesheet" type="text/css">
	<link href="/s/css/typtask.css?v15" rel="stylesheet" type="text/css">
	<link href="/s/css/custom_control.css?v4" rel="stylesheet" type="text/css">
	<!--[if IE 7]> 
		<link href="/s/css/ieonly7.css?v6" rel="stylesheet" type="text/css">
	<![endif]--> 

	<script src="/s/js/libs.js"></script>
	<script src="/s/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/s/js/custom_control.js?d"></script>
	<script src="/s/js/learn_russian.js?p"></script>
</head>
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
					
						<li class="active"><span>Lessons</span></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
								
						<li><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
							
			<link href="/s/css/tables/styles.css" rel="stylesheet" type="text/css">
			<script src="/s/js/pages/lessons.js?n"></script>
			<div class="maintenance">
		            <div class="lesson">
						<div class="llesson">
							<ul class="lesson_set">
								<li><a class="underline" href="/lessons/">1-5</a></li>
								<li><a class="underline" href="/lessons/lessons-6-10/">6-10</a></li>
								<li><a class="underline" href="/lessons/lessons-11-15/">11-15</a></li>
								<li><a class="underline" href="/lessons/lessons-16-20/">16-20</a></li>
								<li><a class="underline" href="/lessons/lessons-21-25/">21-25</a></li>
								<li><a class="underline" href="/lessons/lessons-26-30/">26-30</a></li>
								<li><a class="underline" href="/lessons/lessons-31-35/">31-35</a></li>
								<li><a class="underline" href="/lessons/lessons-36-40/">36-40</a></li>
								<li><a class="underline" href="/lessons/lessons-41-45/">41-45</a></li>
								<li><a class="underline active" href="/lessons/lessons-46-50/">46-50</a></li>
								<li><a class="underline" href="/lessons/lessons-51-55/">51-55</a></li>
								<li><a class="underline" href="/lessons/lessons-56-60/">56-60</a></li>
								<li><a class="underline" href="/lessons/lessons-61-65/">61-65</a></li>
								<li><a class="underline" href="/lessons/lessons-66-70/">66-70</a></li>
								<li><a class="underline" href="/lessons/lessons-71-75/">71-75</a></li>
								<li><a class="underline" href="/lessons/lessons-76-80/">76-80</a></li>
								<li><a class="underline" href="/lessons/lessons-81-85/">81-85</a></li>
								<li><a class="underline" href="/lessons/lessons-86-90/">86-90</a></li>
								<li><a class="underline" href="/lessons/lessons-91-95/">91-95</a></li>
								<li><a class="underline" href="/lessons/lessons-96-100/">96-100</a></li>							</ul>
						</div>						<div class="clesson">
							<div class="hles">
								<ul class="lesson-list-switch">
									<li><span>Lessons</span></li>
									
								</ul>
								<div class="completed">
									<p>Completion, %</p>								
								</div>
							</div>
							<div class="colles">
								<div class="ncolles">
									<p>46.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/speaking-about-periods-time-prepositions-s-do-s-po-ot-do/"><span>Speaking about periods of time. Prepositions "с… до…", "с… по…", "от… до…".</span></a></h3>
									<p>Я на работе c утра до вечера.</p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>47.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/speaking-about-time-constructions-words-davno-dolgo-nedavno-nedolgo/"><span>Speaking about time. Constructions with the words "давно", "долго", "недавно", "недолго".</span></a></h3>
									<p>Это было давно, пять лет назад. </p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>48.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/speaking-about-equality-the-difference-between-tozhe-takzhe-and-tak-zhe-kak-i/"><span>Speaking about equality. The difference between "тоже", "также" and "так же как и...".</span></a></h3>
									<p>Мартин — инженер. Его сын тоже инженер.</p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>49.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/reason-consequence-using-prepositions-blagodarya-iz-za/"><span>Reason and consequence. Using the prepositions “благодаря” and “из-за”.</span></a></h3>
									<p>Мы знаем многое о мире благодаря учёным.</p>	
								</div>								
							</div>
						
							<div class="colles">
								<div class="ncolles">
									<p>50.</p>								
								</div>
								<div class="completed">
									<p>0</p>								
								</div>
								<div class="textcolles">
									<h3><a class="underline" href="/lessons/contrast-and-concession-the-difference-between-no-and-hotya/"><span>Contrast and concession. The difference between “но” and “хотя”.</span></a></h3>
									<p>Я очень хочу пойти с вами на футбол, но у меня много работы.</p>	
								</div>								
							</div>
													<div class="colles">
								<div class="textcolles">
									<img src="/s/css/lessons/test-clock.png" alt="LR"><h3 style="margin:1px;"><a class="underline" href="/tests/test-10/"><span>Test. Lessons 46–50.</span></a></h3>
								</div>								
							</div>
						</div>
					</div>
			</div>

					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>