---
layout: default
---
<link href="{{ '/s/css/tables/styles.css' | relative_url }}" rel="stylesheet" type="text/css">
<script src="{{ '/s/js/pages/lessons.js?n' | relative_url }}"></script>
<div class="maintenance">
    <div class="lesson">
        <div class="llesson">
            {% include lesson_set.html %}
        </div>
        <div class="clesson">
            <div class="hles">
                <ul class="lesson-list-switch">
                    <li><span>Lessons</span></li>
                </ul>
                <div class="completed">
                    <p>Completion, %</p>
               </div>
            </div>
            {{ content }}
        </div>
    </div>
</div>
