---
description: "In the table “Nouns in the Instrumental Case” you will learn how to form and use the Instrumental Case. You will learn how noun endings change in the Instrumental Case and exceptions to the rule."
keywords: "Russian grammar, grammar charts, grammar tables, explanation, exercise"
title: "Nouns in the Instrumental Case — LearnRussian Grammar tables"
---
<html>
{% include head.html %}
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				{% include hmenu.html %}
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
				<link href="/s/css/tables/styles.css" rel="stylesheet" type="text/css">
<!--[if IE 7]>
<link href="/s/css/tables/ieonly7.css" rel="stylesheet" type="text/css">
<![endif]-->
			<div id="table" class="t18">
									    <div class="breadcrumb"><a class="underline" href="/grammar-tables/">Grammar tables</a> /</div>

					<div class="lesson" style="margin-bottom: 20px;">
						<div class="clesson">
							<h1>Nouns in the Instrumental Case</h1>
								<div class="pt20 pb20"><a class="underline" href="/s/content/pdf/Nouns_in_the_Instrumental_Case.pdf"><span class="pdf"></span> Print version</a> <span class="grey">(PDF 772 KB)</span></div>		Lessons
					<a class="underline" href="/lessons/nouns-in-the-instrumental-case-first-verbs-of-motion/">17</a>,			<a class="underline" href="/lessons/nouns-in-instrumental-case-reflexive-verbs/">18</a><br><br>
							<div class="mt10 pb5">Part 1. <a href="#part1" class="underline">Part I. Nouns in the Instrumental Case. Singular</a></div>
							<div class="mt5 pb5">Part 2. <a href="#part2" class="underline">Part II. Nouns in the Instrumental Case. Plural</a></div>
						</div>
						<div class="r-star-shape mb50">
							<div class="cn tl"></div>
								<div class="cn tr"></div>						
								<div class="conten">
									<div class="conten cr">
										<p>Instrumental Case answers questions <strong>Кем? Чем?</strong> and, it is easy to guess, is used to express the concerpt of an instrument.</p>
									</div>
								</div>							
							<div class="cn bl"></div>
							<div class="cn br"></div>
						</div>
						<ul class="red par_spee ml sus1">
							<li>Nom. Sing.</li>
							<li>Verb</li>
							<li>Instr. Sing.</li>
						</ul>
						<p class="ml">Константин пишет карандаш<span class="red">ом</span>.</p>
						<p class="ml">Konstantin writes with a pensil.</p>
						<ul class="red par_spee ml sus2">
							<li>Nom. Sing.</li>
							<li>Verb</li>
							<li>Instr. Sing.</li>
						</ul>
						<p class="ml">Егор Петрович ест салат вилк<span class="red">ой</span>.</p>
						<p class="ml">Egor Petrovich eats his salad with a fork.</p>
						<div class="r-star-shape mb50">
							<div class="cn tl"></div>
								<div class="cn tr"></div>						
								<div class="conten">
									<div class="conten cr">
										<p>Instrumental is often used with preposition <strong>с</strong> to indicate that subject does anything together with an object.</p>
									</div>
								</div>							
							<div class="cn bl"></div>
							<div class="cn br"></div>
						</div>
						<ul class="red par_spee ml sus3">
							<li>Nom. Sing.</li>
							<li>Verb</li>
							<li>Instr. Sing.</li>
						</ul>
						<p class="ml">Наталия ходила <span class="red">в</span> театр <span class="red">с</span> брат<span class="red">ом</span>.</p>
						<p class="ml">Natalia went to the theatre with her brother.</p>
						<ul class="red par_spee ml sus4">
							<li>Nom. Sing.</li>
							<li>Verb</li>
							<li>Instr. Sing.</li>
						</ul>
						<p class="ml">Александр пьет кофе <span class="red">с</span> молок<span class="red">ом</span>.</p>
						<p class="ml">Alexander drinks coffee with milk.</p>
						<h2><a name="part1"><span>Part I.</span> Nouns in the Instrumental Case. Singular</a></h2>
						<div class="tabl">
							<div class="l fz24">
								<p>он</p>
								<p>она</p>
								<p>оно</p>
							</div>
							<div class="l ml30">
								<div class="l">
									<p class="posabs"><strong>Кто? Что?<br>Nominative</strong></p>
									<ul>
										<li>брат</li>
										<li>друг</li>
										<li>клиент</li>
										<li>сын</li>
										<li>муж</li>								
									</ul>						
								</div>
								<div class="l">
									<p class="posabs"><strong>С кем? С чем?<br>Instrumental</strong></p>
									<ul>
										<li>с брат<span class="red">ом</span></li>
										<li>с друг<span class="red">ом</span></li>
										<li>с клиент<span class="red">ом</span></li>
										<li>с сын<span class="red">ом</span></li>
										<li>с муж<span class="red">ем</span></li>								
									</ul>
								</div>
								<p class="clears posabc">zero ending → <span class="red">-ом/ем</span></p>
								<ul class="l">
									<li>сестра</li>
									<li>мама</li>
									<li>подруга</li>
									<li>девушка</li>
									<li>Женя</li>							   
								</ul>
								<ul class="l">
									<li>с сестр<span class="red">ой</span></li>
									<li>с мам<span class="red">ой</span></li>
									<li>с подруг<span class="red">ой</span></li>
									<li>с девушк<span class="red">ой</span></li>
									<li>с Жен<span class="red">ей</span></li>
								</ul>
								<p class="clears posabc">-a → <span class="red">-ой</span>, -я → <span class="red">-ей</span></p>	
								<ul class="l">
									<li>яблоко</li>
									<li>молоко</li>
									<li>мясо</li>
								</ul>
								<ul class="l">
									<li>c яблоком</li>
									<li>с молоком</li>
									<li>с мясом</li>
								</ul>
								<p class="clears posabc">-о → <span class="red">-ом</span>, -е → <span class="red">-ем</span></p>	
							</div>
							<div class="r last">
								<p class="posabs red">Remember</p>
								<p>Masculine words that end with a vowel (пап<span class="red">а</span>, дедушк<span class="red">а</span>, etc) will change their endings as their feminine counterparts do <br>(с пап<span class="red">ой</span>, с дедушк<span class="red">ой</span>).</p>
								<ul>
									<li>дочь → с дочер<span class="red">ью</span></li>
									<li>мать → с матер<span class="red">ью</span></li>
								</ul>
								<p>There are no animate neuter gender nouns.</p>							
							</div>							
						</div>
						<h2><a name="part2"><span>Part II.</span> Nouns in the Instrumental Case. Plural</a></h2>
						<div class="r-star-shape mb50">
							<div class="cn tl"></div>
								<div class="cn tr"></div>						
								<div class="conten">
									<div class="conten cr">
										<p>To form Instrumental Plural we’ll start with the Nominative Singular form. Note that neuter nouns have same endings in the Instrumental Case as masculine ones.</p>
									</div>
								</div>							
							<div class="cn bl"></div>
							<div class="cn br"></div>
						</div>
						<div class="tabl tw">
							<div class="l">
								<p class="posabs"><strong class="l">Кто? Что?<br>Nominative</strong> <strong class="r">С кем? С чем?<br>Instrumental</strong></p>
								<p><span class="l posabs">Он</span> <span class="r posabs">Они</span><span class="r fz24">→</span></p>
								<div class="clears"></div>
								<ul class="l">
									<li>стол</li>
									<li>телефон</li>
									<li>компьютер</li>
									<li>клиент</li>
									<li>бизнесмен</li>
								</ul>
								<ul class="r">
									<li>со стол<span class="red">ами</span></li>
									<li>с телефон<span class="red">ами</span></li>
									<li>с компьютер<span class="red">ами</span></li>
									<li>с клиент<span class="red">ами</span></li>
									<li>с бизнесмен<span class="red">ами</span></li>
								</ul>
								<p class="clears posabc">hard ending → -<span class="red">ами</span></p>
								<ul class="l">
									<li>словарь</li>
									<li>календарь</li>
									<li>фонарь</li>
									<li>зять</li>
								</ul>
								<ul class="r">
									<li>со словар<span class="red">ями</span></li>
									<li>с календар<span class="red">ями</span></li>
									<li>с фонар<span class="red">ями</span></li>
									<li>с зять<span class="red">ями</span></li>
								</ul>
								<p class="clears posabc">-ь → -<span class="red">ями</span></p>
								<div class="ramk braceu_l">
									<p><strong class="red">Remember</strong></p>	
									<p class="braceu_r"><span class="braceu">Irregular endings</span></p>										
								</div>
								<ul class="l">
									<li>брат</li>
									<li>друг</li>
									<li>муж</li>
									<li>сын</li>
									<li>стул</li>
									<li>лист</li>
								</ul>
								<ul class="r">
									<li>c брать<span class="red">ями</span></li>
									<li>с друзь<span class="red">ями</span></li>
									<li>с мужь<span class="red">ями</span></li>
									<li>с сыновь<span class="red">ями</span></li>
									<li>со стуль<span class="red">ями</span></li>
									<li>с листь<span class="red">ями</span></li>
								</ul>
								<p class="clears posabc">-<span class="red">ями</span></p>								
							</div>
							<div class="r">
								<p class="posabs"><strong class="l">Кто? Что?<br>Nominative</strong> <strong class="r">С кем? С чем?<br>Instrumental</strong></p>
								<div class="clears"></div>
								<p><span class="l posabs">Она</span> <span class="r posabs">Они</span><span class="r fz24">→</span></p>
								<div class="clears"></div>
								<ul class="l">
									<li>лампа</li>
									<li>книга</li>
									<li>комната</li>
									<li>улица</li>
									<li>мама</li>
									<li>сестра</li>
									<li>ночь</li>
									<li>мышь</li>
								</ul>
								<ul class="l">
									<li>с ламп<span class="red">ами</span></li>
									<li>с книг<span class="red">ами</span></li>
									<li>с комнат<span class="red">ами</span></li>
									<li>с улиц<span class="red">ами</span></li>
									<li>с мам<span class="red">ами</span></li>
									<li>с сёстр<span class="red">ами</span></li>
									<li>с ноч<span class="red">ами</span></li>
									<li>с мыш<span class="red">ами</span></li>
								</ul>
								<p class="clears posabc">-а, -ь → -<span class="red">ами</span></p>
								<ul class="l">
									<li>демонстрация</li>
									<li>революция</li>
									<li>Зоя</li>
									<li>Женя</li>
									<li>Майя</li>
								</ul>
								<ul class="r">
									<li>с демонстраци<span class="red">ями</span></li>
									<li>с революци<span class="red">ями</span></li>
									<li>с Зо<span class="red">ями</span></li>
									<li>с Жен<span class="red">ями</span></li>
									<li>с Май<span class="red">ями</span></li>
								</ul>
								<p class="clears posabc">-ия, -я → -<span class="red">ями</span></p>
								<div class="ramk braceu_l">
									<p><strong class="red">Remember</strong></p>	
									<p class="braceu_r"><span class="braceu">Irregular endings</span></p>						
								</div>
								<ul class="l">
									<li>дочь</li>
									<li>мать</li>
								</ul>
								<ul class="r">
									<li>c дочерь<span class="red">ми</span></li>
									<li>с матерь<span class="red">ями</span></li>
								</ul>
								<p class="clears posabc">-<span class="red">ми</span></p>
							</div>
						
						</div>
						
						
					</div>	
						
						
				<!-- 	
					<img src="/s/css/tables/pics/17_1.png" class="mb70">
					<a name="part1"><img src="/s/css/tables/pics/17_part_1.png" class="mb70"></a>
					<a name="part2"><img src="/s/css/tables/pics/17_part_2.png" class="mb70"></a>
				 -->
			</div>

					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>