---
---
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="google-site-verification" content="VQLbsaWKiXW2-Vt4lP7MevnhMES537NO4fQjfGgLcbI">
	<meta name="description" content="Vocabulary, lessons 26–30: a, about, adornment, advice, agency, agreement, back, be, breath, captain, card, catalogue, condition, contract">
	<meta property="og:image" content="/s/content/logo.png">
	
    <title>Vocabulary, lessons 26–30 — LearnRussian</title>
	<link href="/s/css/style.css?v14" rel="stylesheet" type="text/css">
	<link href="/s/css/lessons.css?v13" rel="stylesheet" type="text/css">
	<link href="/s/css/typtask.css?v15" rel="stylesheet" type="text/css">
	<link href="/s/css/custom_control.css?v4" rel="stylesheet" type="text/css">
	<!--[if IE 7]> 
		<link href="/s/css/ieonly7.css?v6" rel="stylesheet" type="text/css">
	<![endif]--> 

	<script src="/s/js/libs.js"></script>
	<script src="/s/js/jquery.ui.touch-punch.min.js"></script>
	<script src="/s/js/custom_control.js?d"></script>
	<script src="/s/js/learn_russian.js?p"></script>
</head>
<body class="nojs">
    <div id="wrapper">
    {% include header.html %}
		<div class="inwrapper">
			<div class="menu">			    
				<h1>Learn Russian</h1>		    
				<span class="logo">
					<a href="/"> </a>					
				</span>
				<div class="hmenu">
					<ul>	
								
						<li><a href="/lessons/"><span class="underline">Lessons</span></a></li>
					
							
								
						<li><a href="/alphabet/"><span class="underline">Alphabet</span></a></li>
					
							
								
						<li><a href="/phonetics/"><span class="underline">Phonetics</span></a></li>
					
							
					
						<li class="active"><a href="/vocabulary/"><span class="underline">Vocabulary</span></a></li>
					
							
								
						<li><a href="/tests/"><span class="underline">Tests</span></a></li>
					
							
								
						<li><a href="/grammar-tables/"><span class="underline">Grammar Tables</span></a></li>
					
							
								
						<li><a href="/topics/"><span class="underline">Topics</span></a></li>
					
						
					</ul>			 
				</div>
			
				<div class="registration">
					<ul>
						<li class="key"><a class="underline" href="/">Enter site</a></li>
						<li><a class="underline" href="/?register">Register</a></li>
					</ul>					
				</div>
			
			</div>
			<div id="conteiner">
				<link href="/s/css/vocabulary.css" rel="stylesheet" type="text/css">
				<div id="" class="homework">
									    <div class="breadcrumb"><a class="underline" href="/vocabulary/">Vocabulary</a> /</div>

					<div class="vocabulary">
						<div class="clesson">
						    <div class="right_block">
								<div class="doc_icon"><a href="#">Print version</a> (DOC 12 KB)</div>
						    </div>
						    <h1>Vocabulary lessons 26–30</h1>
						</div>
						<div class="voc_column marginleft">
							<p class="voc_letter consonant">б</p>
							<div>
								<p>Без ума́ от (+ чего?) – to be mad about …</p>
							</div>
							<p class="voc_letter consonant">в</p>
							<div>
								<p>Ве́тер – wind</p>
								<p>Вклад – 1. deposit, investment (Вклад в банке); 2. contribution (to) (Вернадский сделал большой вклад в науку)</p>
								<p>Вниз – down</p>
								<p>Во́время – on time, in time</p>
								<p>Волна́ – wave</p>
								<p>Вы́играть – to win</p>
							</div>
							<p class="voc_letter consonant">д</p>
							<div>
								<p>Догада́ться – to guess, to surmise</p>
								<p>Догово́р – agreement, contract, deal</p>
								<p>Дыша́ть – to breath</p>
							</div>
							<p class="voc_letter consonant">з</p>
							<div>
								<p>Зай́чик – 1. small hare (В лесу живёт маленький зайчик); 2. light spot (Солнечный зайчик)</p>
							</div>
							<p class="voc_letter vowel">и</p>
							<div>
								<p>Испо́льзовать – to use</p>
							</div>
							<p class="voc_letter consonant">к</p>
							<div>
								<p>Капита́н – captain</p>
								<p>Катало́г – catalogue</p>
								<p>Колье́ – necklace</p>
								<p>Кора́бль – ship</p>
								<p>Кото́рый – which</p>
								<p>Креди́тка = креди́тная ка́рта – credit card</p>
							</div>
						</div>
						<div class="voc_column">
							<p class="voc_letter consonant">м</p>
							<div>
								<p>Ме́тод – method</p>
							</div>
							<p class="voc_letter consonant">н</p>
							<div>
								<p>Наве́рх – up</p>
								<p>Наде́яться – to hope</p>
								<p>Наза́д – back</p>
								<p>Нале́во – to the left</p>
								<p>Напра́во – to the right</p>
								<p>Никако́й – none</p>
							</div>
							<p class="voc_letter consonant">п</p>
							<div>
								<p>Положи́ть – to put, to lay</p>
								<p>Помидо́р – tomato</p>
								<p>Посы́лка – parcel, package</p>
								<p>Пригото́вить – to cook</p>
								<p>Пуп́сик – a kind of a doll; also – sweetie, cutie</p>
							</div>
							<p class="voc_letter consonant">р</p>
							<div>
								<p>Разме́р – size</p>
								<p>Репети́тор – (private) tutor</p>
								<p>Реце́пт – 1. (in medicine) – prescription (Доктор выписал больному рецепт на лекарство); 2. (in cooking) – recipe (Рецепт блинов знает каждая девушка.) </p>
							</div>
						</div>
						<div class="voc_column">
							<p class="voc_letter consonant">с</p>
							<div>
								<p>Сли́шком – too much</p>
								<p>Сове́т – advice, recommendation</p>
								<p>Солёный – salty</p>
								<p>Спеши́́ть – to be in a hurry</p>
								<p>Спи́сок – list</p>
								<p>Срок – date, term, time, period (срок платежа = due day)</p>
								<p>Сюда́ – here</p>
							</div>
							<p class="voc_letter consonant">т</p>
							<div>
								<p>Туда́ – there</p>
								<p>Тур – tour</p>
								<p>Турфи́рма – travel agency</p>
							</div>
							<p class="voc_letter vowel">у</p>
							<div>
								<p>Уби́йство – murder</p>
								<p>Украше́ние – decoration, adornment</p>
								<p>Усло́вие – condition, term</p>
								<p>Успе́ть – 1. to have time (to), to be in time (for); 2. to be successful, make it</p>
							</div>
							<p class="voc_letter vowel">э</p>
							<div>
								<p>Экстре́нный – extraordinary, urgent</p>
							</div>
						</div>
					</div>
				</div>			
					<div class="feedback" style="display: none;">
		<div class="close"></div>
		<div class="feedback_container">
			<div class="up"></div>		
			<div class="body_center">
				<div class="clears"></div>
				<div class="bg_zagol"></div>
				<form action="/action/feedback" method="POST">
					<div class="bgfname">
						<input type="text" value="" name="person" class="if_exists">
					</div>
					<div class="bgemail">
						<input type="test" name="email" class="if_exists">
					</div>
					<div class="message">
						<textarea maxlength="328" name="message_text" class="if_exists"></textarea>
					</div>	
					<div class="button">
						<input type="submit" value="">
					</div>
				</form>
			</div>
			<div class="down"></div>
		</div>
	</div>
					<div class="web_brouser_ie78" style="display: none;">
		<div class="in">
			<div class="close"></div>
			<img src="/s/content/IE8_7.png" alt="web_brouser_ie78">
		</div>
	</div>
			</div>
			</div>
			<div class="clears"></div>		
			{% include footer.html %}	
		</div>		
			




</body></html>